<!-- latest code -->
<div class="container" align="center">
    <div ngxUiLoaderBlurred>
        <form [formGroup]="createProfileForm" #signupForm="ngForm"
            (ngSubmit)="onCreateProfileSubmit(createProfileForm)">

            <div class="createProfile">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6 col-md-4  userType">{{myUserType}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 ">

                                <div class="profileCircle">

                                    <div *ngIf="UserData.ProfileImageURL; else second">
                                        <img class="imagePreview" src={{UserData.ProfileImageURL}} />
                                    </div>
                                    <ng-template #second>
                                        <div *ngIf="previewdata; else emptyImage">
                                            <img class="imagePreview" [src]="previewdata" />
                                        </div>
                                    </ng-template>
                                    <ng-template #emptyImage>
                                        <img class="profileImage" src="assets/images/Avatar.svg">
                                    </ng-template>

                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 ">
                                <div class="profileDescription text-center">We’re building your profile </div>

                                <div class="outer-circle ">
                                    <div class="inner-circle">
                                        <img class="galleryIcon" (click)="file.click()" src="assets/images/Gallery.svg">
                                        <input class="invisible" type="file" #file accept=".png, .jpg, .jpeg"
                                            name="image" (change)="fileProgress($event)" />
                                    </div>
                                </div>
                                <div class="galleryWord">Use Gallery</div>
                            </div>
                            <div class="ImageProfile_error_box col-md-12">

                                <div class="profileErrMsg" *ngIf="showProfile">Profile Image is
                                    required
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="dateAlign  form-group  col-sm-12 col-md-12" align="left">
                                <div class="row">
                                    <div class="alignment col-md-4 input-group">
                                        <input type="text" spellcheck="false" class="form-control input-field"
                                            formControlName="FirstName" placeholder="First Name" maxlength="50"
                                            [(ngModel)]="(UserData !=undefined && UserData.FirstName!=null )?UserData.FirstName:userStorageData.FirstName"
                                            required title="Frist Name"
                                            [ngClass]="{ 'is-invalid': (f.FirstName.touched || submitted) && f.FirstName.errors}" />
                                        <div *ngIf="(f.FirstName.touched || submitted) && f.FirstName.errors">
                                            <div class="errorMsgAlignment" *ngIf="f.FirstName.errors.required">First
                                                name is required</div>
                                        </div>

                                    </div>

                                    <div class=" dateAlign alignment col-md-4 input-group">
                                        <input type="text" spellcheck="false" class="form-control input-field names"
                                            formControlName="MiddleName" maxlength="50"  title="Middle Name"
                                            [(ngModel)]="(UserData !=undefined && UserData.MiddleName!=null )?UserData.MiddleName:userStorageData.MiddleName"
                                            placeholder="Middle Name" />
                                    </div>

                                    <div class=" dateAlign alignment col-md-4 input-group">
                                        <input type="text" spellcheck="false" class="form-control input-field names"
                                            formControlName="LastName" placeholder="Last Name" maxlength="50"  title="Last Name"
                                            [(ngModel)]="(UserData !=undefined && UserData.LastName!=null)?UserData.LastName:userStorageData.LastName"
                                            required
                                            [ngClass]="{ 'is-invalid': (f.LastName.touched || submitted) && f.LastName.errors}" />
                                        <div class="errorMsgAlignment"
                                            *ngIf="(f.LastName.touched || submitted) && f.LastName.errors">
                                            <div *ngIf="f.LastName.errors.required">Last name is required</div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row dateAlign">
                            <div class="form-group alignment  col-sm-12 col-md-12" align="left">

                                <input class="form-control dateAlign disabledEmail" placeholder="Email ID" title="Email ID"
                                    value="{{(UserData !=undefined && UserData.Email!=null)?UserData.Email:userStorageData.Email}}"
                                    readonly required />

                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group alignment dateAlign col-sm-12 col-md-12" align="left">

                                <input class="form-control dateAlign" placeholder="Date of Birth" [max]="maxDate"
                                    (focus)="myBirthday()" formControlName="BirthDate" required
                                    [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="UserDate"
                                    [ngClass]="{ 'is-invalid': submitted && f.BirthDate.errors}"
                                    readonly title="Date of Birth">
                                <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
                                <div *ngIf="submitted && f.BirthDate.errors">
                                    <div class="errorMsgAlignment" *ngIf="f.BirthDate.errors.required">Date of birth is
                                        required</div>
                                </div>
                                <div class="BithDate_error_box">
                                    <div *ngIf="BirthDateError">{{showMsg}}</div>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class=" alignment form-group col-sm-12 col-md-12"
                                *ngIf="showArtistCategorydropDown;else showOrganizerBox" align="left">
                                <div>
                                <ng-select  formControlName="ArtistCategoryId" 
                                [items]="artistList" 
                                [multiple]="true"   
                                class="artistCategory form-control form-control-md"                       
                                [searchable]="true"                  
                                [(ngModel)]="BindArtistCategory"
                                placeholder="Select Artist Category" 
                                bindLabel="ArtistCategoryName" 
                                bindValue="Id"
                                [required]="true"      
                                title="Artist Category"                       
                                [ngClass]="{ 'is-invalid': (f.ArtistCategoryId.touched || submitted) && f.ArtistCategoryId.errors}">
                                </ng-select>
                                <div *ngIf="(f.ArtistCategoryId.touched || submitted) && f.ArtistCategoryId.errors"
                                class="errorMsgAlignment">
                                <div  *ngIf="f.ArtistCategoryId.errors.required">This field is required</div>
                                </div>
                                </div>
                            

                                <!-- <select name="artists" class="form-control drop-down dropdownicon 
                                form-item__element form-item__element--select" name="technology"
                                    [(ngModel)]="UserData.ArtistCategoryId" required formControlName="ArtistCategoryId"
                                    (change)="onArtistCategoryChange()" title="Artist Category"
                                    [ngClass]="{ 'is-invalid': (f.ArtistCategoryId.touched || submitted) && f.ArtistCategoryId.errors}">
                                    <option disabled value="">Select Artist Category</option>
                                    <option class="city" *ngFor="let artist of artistList"
                                        [selected]="artist.Id == UserData.ArtistCategoryId" [ngValue]="artist.Id">
                                        {{artist.ArtistCategoryName}}</option>
                                </select>
                                <div *ngIf="(f.ArtistCategoryId.touched || submitted) && f.ArtistCategoryId.errors"
                                    class="">
                                    <div class="errorMsgAlignment" *ngIf="f.ArtistCategoryId.errors.required">This field
                                        is required</div>
                                </div> -->


                            </div>
                           
                            <ng-template #showOrganizerBox>
                                <div class="form-group col-sm-12 col-md-12 organizer" align="left">
                                    <input type="text" spellcheck="false" maxlength="100" class="form-control"
                                        formControlName="Organization" placeholder="Organization Name" title="Organization Name"
                                        [(ngModel)]="UserData.Organization">
                                </div>
                            </ng-template>
                        </div>

                        <div class="row">
                            <div class="addressAlignment input-group form-group  col-sm-12 col-md-12">
                                <div class="location_icon">
                                    <i class="fa fa-location-arrow icon " aria-hidden="true"></i>

                                </div>

                                <div class="populatedata" formControlName="Address" title="Address"
                                    *ngIf="showLocation; else hidelocation" (click)="showAddress()">

                                    {{UserData.Address}}
                                </div>
                                <ng-template #hidelocation>
                                    <mat-google-maps-autocomplete country="us" [appearance]="appearance.LEGACY"
                                        requiredErrorText="Address details is required" class="form-control venue"
                                        type="geocode" addressLabelText="Address" formControlName="Address"
                                        [placeholderText]= "Placeholder" strictBounds="true" title="Address"
                                        [ngClass]="{ 'is-invalid': (f.Address.touched || submitted) && f.Address.errors}"
                                        (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                        (onLocationSelected)="onLocationSelected($event)">
                                    </mat-google-maps-autocomplete>
                                </ng-template>
                            </div>

                        </div>
                        <!-- <div class="row">
                            <div class=" alignment form-group col-sm-12 col-md-12" class="alignment gender">

                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" formControlName="Gender" value="Female"
                                        class="custom-control-input" id="defaultInline1" name="Gender"
                                        [(ngModel)]="UserData.Gender" required
                                        [ngClass]="{ 'is-invalid': (f.Gender.touched || submitted) && f.Gender.errors}">
                                    <label class="custom-control-label" for="defaultInline1">Female</label>
                                </div>

                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" formControlName="Gender" value="Male"
                                        class="custom-control-input male" id="defaultInline2" name="Gender"
                                        [(ngModel)]="UserData.Gender" required
                                        [ngClass]="{ 'is-invalid': (f.Gender.touched || submitted) && f.Gender.errors}">
                                    <label class="custom-control-label" for="defaultInline2">Male</label>
                                </div>
                                <div *ngIf="(f.Gender.touched || submitted) && f.Gender.errors"
                                    class="">
                                    <div class="errorMsgAlignment" *ngIf="f.Gender.errors.required">This field is
                                        required</div>
                                </div>

                            </div>

                        </div> -->
                        <!-- <div class="row">
                            <div class="alignment input-group form-group  col-sm-12 col-md-12">
                                <div class="location_icon">
                                    <i class="fa fa-location-arrow icon " aria-hidden="true"></i>

                                </div>

                                <div class="populatedata" formControlName="Address" 
                                    *ngIf="showLocation; else hidelocation" (click)="showAddress()">

                                    {{UserData.Address}}
                                </div>
                                <ng-template #hidelocation>
                                    <mat-google-maps-autocomplete country="us" [appearance]="appearance.LEGACY"
                                        requiredErrorText="Address details is required" class="form-control venue"
                                        type="geocode" addressLabelText="Address" formControlName="Address"
                                        [placeholderText]= "Placeholder" strictBounds="true"
                                        [ngClass]="{ 'is-invalid': (f.Address.touched || submitted) && f.Address.errors}"
                                        (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                        (onLocationSelected)="onLocationSelected($event)">
                                    </mat-google-maps-autocomplete>
                                </ng-template>
                            </div>

                        </div> -->

                    </div>

                    <div class="col-md-6">

                        <div class="row countryAlign">
                            <div class="col-md-12">
                                <span>
                                    <select name="country" class=" form-control count dropdownicon contactperson
                                    form-item__element form-item__element--select disabledEmail" aria-readonly="true" [(ngModel)]="getCountry"
                                        (change)="onCountryChange($event.target.value)" formControlName="CountryCode"
                                        required disabled="true" title="Country">
                                        <option disabled value="">Select Country</option>
                                        <option class="city" *ngFor="let countryd of countryList"
                                            [value]="countryd.CountryCode"
                                            [selected]="countryd.CountryCode == getCountry">{{countryd.CountryName}}
                                        </option>

                                    </select>


                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>
                                    <select class="form-control dropdownicon contactperson
                                    form-item__element form-item__element--select" [(ngModel)]="getState"
                                        formControlName="StateCode" (change)="onStateChange($event.target.value)"
                                        required title="State"
                                        [ngClass]="{ 'is-invalid': (f.StateCode.touched || submitted) && f.StateCode.errors}">
                                        <option disabled value="">Select State</option>
                                        <option class="city" *ngFor="let state of stateList" value="{{state.StateCode}}"
                                            [selected]="state.StateCode == getState">
                                            {{state.StateName}}</option>
                                    </select>
                                    <div class="errorMsgAlignment"
                                        *ngIf="(f.StateCode.touched || submitted) && f.StateCode.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.StateCode.errors.required">This field is required</div>
                                    </div>

                                </span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <span>

                                    <select name="city" class="form-control dropdownicon contactperson
                                    form-item__element form-item__element--select" [(ngModel)]="city_id"
                                        formControlName="CityId" required title="City"
                                        [ngClass]="{ 'is-invalid': (f.CityId.touched || submitted) && f.CityId.errors}">
                                        <option disabled value="">Select City</option>
                                        <option class="city" *ngFor="let city of cityList" [ngValue]="city.Id"
                                            [selected]="city.Id == city_id">
                                            {{city.CityName}}</option>
                                    </select>
                                    <div class="errorMsgAlignment"
                                        *ngIf="(f.CityId.touched || submitted) && f.CityId.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.CityId.errors.required">This field is required</div>
                                    </div>

                                </span>
                            </div>

                        </div>



                        <div class="row">
                            <div class="form-group col-xs-12  col-sm-12 col-md-12  " align="left">

                                <div class="contactDetail">

                                    <input type="text" maxlength="50" spellcheck="false" title="Contact Person Name"
                                        class="form-control contactName contactDetails" formControlName="ContactPerson"
                                        placeholder="Contact Person Name" [(ngModel)]="UserData.ContactPerson" />


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12  col-sm-12 col-md-12" align="left">
                                <div class="internationalPN">
                                <international-phone-number2 
                                class="mystyle form-control form-control-sm"
                                [(ngModel)]="phoneNumber" 
                                placeholder="Enter Phone Number"
                                [defaultCountry]="(phoneNumber) ? '':'us'" 
                                required="true"
                                formControlName="PhoneNumber"
                                [noUSCountryCode]="false"
                                title="Phone Number"
                                [ngClass]="{ 'is-invalid': (f.PhoneNumber.touched || submitted) && f.PhoneNumber.errors}"
                                ></international-phone-number2>
                                <div   *ngIf="(f.PhoneNumber.touched || submitted) && f.PhoneNumber.errors" class="invalid-feedback">
                                    Please enter a valid phone number.
                                </div>
                                <!-- <div   *ngIf="submitted && f.PhoneNumber.errors" class="invalid-feedback">
                                    <div  *ngIf="f.PhoneNumber.errors.required">Phone Number is required.</div>
                               </div> -->
                               </div>
                                           
                            </div>
                        </div>

                        <div class="row contactEmailAddress">
                            <div class="form-group alignment  contactEmailValidate col-sm-12 col-md-12" align="left">

                                <input type="email" spellcheck="false" formControlName="ContactEmail"
                                    class="form-control contactEmailAddress " placeholder="Contact Person Email ID"
                                    [(ngModel)]="UserData.ContactEmail" title="Contact Person Email ID"
                                    [ngClass]="{ 'is-invalid': (f.ContactEmail.touched || submitted) && f.ContactEmail.errors}" />
                                <div *ngIf="(f.ContactEmail.touched || submitted) && f.ContactEmail.errors">
                                    <div class="errorMsgAlignment" *ngIf="f.ContactEmail.errors.email">Email must be a
                                        valid email address</div>
                                </div>
                            </div>


                        </div>
                        
                        <div *ngIf="myUserType == 'Artist'" class="skillflex">
                            <div class="row alignment form-group col-sm-12 col-md-12" align="left">
                                <ng-select  formControlName="ArtistSkills" 
                                [items]="skill" 
                                [multiple]="true"   
                                class="SelectsSkill form-control form-control-md"                       
                                [searchable]="true"                  
                                placeholder="Skills" 
                                [(ngModel)]="BindSkillList"
                                bindLabel="SkillsName" 
                                bindValue="Id"
                                [required]="true"  
                                title="Skills"     
                                (change)="onSelectionChangedSkill($event)"                      
                                [ngClass]="{ 'is-invalid':  submitted && f.ArtistSkills.errors}">
                                </ng-select>
                                <div *ngIf="submitted && f.ArtistSkills.errors"
                                class="errorMsgAlignment">
                                <div  *ngIf="f.ArtistSkills.errors.required">Select skills or Add Skills</div>
                                </div>
                                </div>
                                <button type="button" class="btn btn-info btn-circle" (click)="addExtraSkills()"  data-toggle="tooltip" data-placement="top" title="Add Skills">
                                    <i class="fa fa-plus"></i>
                                </button>
                          </div>
                          <div class="row">
                            <div *ngIf="showTextboxSkill" class="textarea-container col-sm-12 col-md-12 " align="left">                              
                                <textarea spellcheck="false"  formControlName="SkillsName" class="AddSkillText col-md-12" placeholder="Add Skills" title="Skills"
                                [ngClass]="{ 'is-invalid': submitted && f.SkillsName.errors}" 
                                (ngModelChange)="onTextareaChangeSkill($event)"></textarea>
                                <button type="button" (click)="RemoveExtraSkills()" data-toggle="tooltip" data-placement="top" title="Close" class="btn  btn-circle-close"><i class="fa fa-times"></i></button>
                                  <!-- <div *ngIf=" submitted && f.SkillsName.errors"
                                         class="errorMsgAlignment">
                                         <div  *ngIf="f.SkillsName.errors.required">This field is required</div>
                                    </div> -->
                            </div>
                          </div>
                          <div class="row">
                            <div class="skillErrorMsg" *ngIf="duplicateErrorMsg">Add new skills not present in dropdown</div>
                          </div>
                         <!-- <div class="row">
                            <div class=" alignment form-group col-sm-12 col-md-12" align="left">
                                <div>
                                <ng-select  formControlName="Skills" 
                                [items]="skill" 
                                [multiple]="true"   
                                class="artistCategory form-control form-control-md"                       
                                [searchable]="true"                  
                                placeholder="Skills" 
                                bindLabel="SkillsName" 
                                bindValue="SkillsName"
                                [required]="true"  
                                title="Skills"                           
                                [ngClass]="{ 'is-invalid': (f.Skills.touched || submitted) && f.Skills.errors}">
                                </ng-select>
                                <div *ngIf="(f.Skills.touched || submitted) && f.Skills.errors"
                                class="errorMsgAlignment">
                                <div  *ngIf="f.Skills.errors.required">This field is required</div>
                                </div>
                                </div>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div> -->


                        <div class="row">
                            <div class=" alignment form-group col-sm-12 col-md-12" class="alignment gender">
                                <label>Gender:&nbsp;&nbsp;</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                 
                                    <input type="radio" formControlName="Gender" value="Female"
                                        class="custom-control-input" id="defaultInline1" name="Gender"
                                        [(ngModel)]="UserData.Gender" required
                                        [ngClass]="{ 'is-invalid': (f.Gender.touched || submitted) && f.Gender.errors}">
                                    <label class="custom-control-label" for="defaultInline1">Female</label>
                                </div>

                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" formControlName="Gender" value="Male"
                                        class="custom-control-input male" id="defaultInline2" name="Gender"
                                        [(ngModel)]="UserData.Gender" required
                                        [ngClass]="{ 'is-invalid': (f.Gender.touched || submitted) && f.Gender.errors}">
                                    <label class="custom-control-label" for="defaultInline2">Male</label>
                                </div>
                                <div *ngIf="(f.Gender.touched || submitted) && f.Gender.errors"
                                    class="">
                                    <div class="errorMsgAlignment" *ngIf="f.Gender.errors.required">This field is
                                        required</div>
                                </div>

                            </div>

                        </div>
                        <!-- <div class="row">
                            <div class="addressAlignment input-group form-group  col-sm-12 col-md-12">
                                <div class="location_icon">
                                    <i class="fa fa-location-arrow icon " aria-hidden="true"></i>

                                </div>

                                <div class="populatedata" formControlName="Address" 
                                    *ngIf="showLocation; else hidelocation" (click)="showAddress()">

                                    {{UserData.Address}}
                                </div>
                                <ng-template #hidelocation>
                                    <mat-google-maps-autocomplete country="us" [appearance]="appearance.LEGACY"
                                        requiredErrorText="Address details is required" class="form-control venue"
                                        type="geocode" addressLabelText="Address" formControlName="Address"
                                        [placeholderText]= "Placeholder" strictBounds="true"
                                        [ngClass]="{ 'is-invalid': (f.Address.touched || submitted) && f.Address.errors}"
                                        (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                        (onLocationSelected)="onLocationSelected($event)">
                                    </mat-google-maps-autocomplete>
                                </ng-template>
                            </div>

                        </div> -->
                        
                        <!-- <div class="row">
                            <div class="form-group userDescription col-sm-12 col-md-12 " align="left">

                                <textarea spellcheck="false" class="writeYourself col-md-12 "
                                    formControlName="Description" type="text" placeholder="write about yourself"
                                    [(ngModel)]="UserData.Description"></textarea>
                            </div>
                        </div> -->
                    </div>

                </div>

                <div class="row">
                    <div class="form-group userDescription col-sm-12 col-md-12 " align="left">

                        <textarea spellcheck="false" class="writeYourself col-md-12 "
                            formControlName="Description" type="text" placeholder="write about yourself" title="About Yourself"
                            [(ngModel)]="UserData.Description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12" align="center">
                        <button class="saveProfile" type="submit">SUBMIT</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>