
     /* latest css */


     .profileCircle{
      top: 140px;
      left: 112px;
       width: 155px; 
      height: 155px; 
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 55px #CBCBCB80;
      opacity: 1;
      margin-top: 50px;
      border-radius: 50%;
      }
      
      .profileCircle .imagePreview{
      width: 155px;
      height: 155px;
      border-radius: 50%;
      }
      
      .profileCircle .profileImage{
          top: 176px;
          left: 154px;
          width: 68px;
          height: 78px;
          opacity: 1;
          margin: 25%;
      }
      
      .profileCircle .uploadArrow{
      top: 251px;
      left: 232px;
      width: 32px;
      height: 32px;
      opacity: 1;
      margin-left: 80%;
      margin-top: -49%;
      }
  
      .profileDescription{
          top: 324px;
          left: 78px;         
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          font-family: Montserrat-Regular;
          letter-spacing: 0;
          color: #D52845;
          opacity: 1;
          margin-top: 40px;
          }
  
  .profileInfo{
  top: 359px;
  left: 78px;  
  text-align: center;
  font-size: 16px;
  font-family: Montserrat-Light;
  letter-spacing: 0;
  color: #061324;
  opacity: 1;
  margin-top: 10px;
  }
  
  
  .galleryWord{
  top: 540px;
  left: 225px;
  width:117px;
  height: 17px;
  text-align: center;
  font-size: 16px;
  font-family: Montserrat-Regular;
  letter-spacing: 0;
  color: #7C99D6;
  opacity: 1;
  white-space: nowrap;
  margin-top: 10px;
  
  }
  
  
      .outer-circle {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 20px #CBCBCB80;
      border-radius: 50%;
      height: 76px;
      width: 76px;
      position: relative;
      opacity: 1;
      margin-top: 14px;
      
      }
  
  
      
  
      .outer-circle .inner-circle {
      position: absolute;
      background: transparent linear-gradient(0deg, #3D6DDE 0%, #6D99FF 100%) 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 65px #8364EE26;
      border-radius: 50%;
      height: 56px;
      width: 56px;
      top: 50%;
      left: 50%;
      margin: -28px 0px 0px -28px;
      opacity: 1;
      }
  
      .outer-circle .galleryIcon{
      height: 26px;
      width: 21px;
      margin: 15px 0px 0px 0px;
      cursor: pointer;
      }
  
      input[type='file'] {
      color: transparent;
         
      }
  
      .galleryWord{
      top: 540px;
      left: 225px;
      width:117px;
      height: 17px;
      text-align: center;
      font-size: 16px;
      font-family: Montserrat-Regular;
      letter-spacing: 0;
      color: #7C99D6;
      opacity: 1;
      white-space: nowrap;
      margin-top: 10px;
      
      }
      :host >>> .invisible {
          visibility: hidden!important;
          width: 0px;
      }
      
  
      .dateAlign input, .dateAlign .form-control{
          background: transparent;
          border: none;
          border-bottom: 1px solid #CBCBCB;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-radius: 0;
          opacity: 1;
          padding: 10px 20px 10px 30px;   
          margin-top: 3px;      
         }

         
        .contactEmailAddress input, .contactEmailAddress .form-control{
          background: transparent;
          border: none;
          border-bottom: 1px solid #CBCBCB;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-radius: 0;
          opacity: 1;
          height: 50px;
         padding: 24px 20px 10px 30px;
         margin-top: -9px;
       
          
        }
        .contactEmailValidate{
          margin: 0px;
          
        }

        .contactEmailAddress ::placeholder{          
          font-size: 14px;
          font-family: Montserrat-Regular;
          letter-spacing: 0;
          color: #C9D4EB;
          opacity: 1;       
          word-wrap: break-word;

        }
    
         .dateAlign ::placeholder{
          top: 222px;
          left: 35px;         
          height: 21px;         
          font-size: 14px;
          font-family: Montserrat-Regular;
          letter-spacing: 0;
          color: #C9D4EB;
          opacity: 1;        
          word-wrap: break-word;          
        }
       
        input.form-control {
          font-family: Montserrat-Regular; 
    
        }
        .createProfile{
          /* margin-top: 50px; */
          margin-top: 115px;
        }
  
        .alignment{
          padding-top: 19px;
  
        }
        .row{
          margin-top: 0px;
      
        }
  
        .error_box{
          width: 100%;
          margin-top: .25rem;
         font-size: 13px; 
          color: #dc3545;
      
      }
  
      .icon{
        position: absolute;
        z-index: 999;
        margin-left: 4px;
         
        }
        
        .input-icons i { 
          position: absolute; 
          z-index: 999;
      } 
      
        :host >>> .mat-input-element{        
          font-family:  Montserrat-Regular;
          padding-left: 30px;
          box-shadow: none;
        }
        .populatedata {
          border-bottom: 1px solid #CBCBCB!important;
          font-family: Montserrat-Regular;       
          padding-bottom: 15px;
          width: 100%;
          text-align: left;
          padding: 14px 20px 11px 30px;
          cursor: pointer;
          margin-top: 22px;
        }
        .addressAlignment{
         margin-top: -8px;
        }
        
        :host >>> .mat-form-field-label-wrapper{
          /* display: none; */
          top: 0px;
          left: 30px;
          font-family: Montserrat-Regular;
          font-size: 15px;    
        }
        :host >>> .mat-form-field-appearance-legacy .mat-form-field-label {
          color: #C9D4EB;
        }
        :host >>> span.mat-placeholder-required.mat-form-field-required-marker {
          display: none;
          }

        :host >>> .mat-error {
          font-size: 13px;
          font-family: Montserrat-Regular;
          color: #D52845; 
          text-align: center;
        }
    
        
        .location_icon{
          margin-top: 40px;
          display:flex;
          color:#CBCBCB;
        }
  
        select .dropdown{
          color: red;
        }
        select.dropdownicon{
          background-image:url(/assets/images/Dropdownimage.png);
          background-repeat: no-repeat;
          background-position-x: right;        
          background-origin:content-box;
        }
  
        select.form-control {
          background: transparent;
          border: none;
          border-bottom: 1px solid  #CBCBCB;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-radius: 0;
          opacity: 1;
          text-align:left;
          font-family: Montserrat-Regular; 
          letter-spacing: 0;
          padding-bottom: 0px;        
          -webkit-appearance: none; 
          font-size: 16px;
          padding: 7px 20px 10px 30px;
         
        }
  
        .custom-control-inline {
          display: inline-flex;
          margin-right: 1rem;
          padding-top: 21px;
      }
  
      .venue.form-control{
          border:none;
          padding-bottom: 33px;
          padding-left: 0px;        
      }
    .firstname{
        margin-top: 30px;
    }
  :host >>>  .ng-valid, .ng-valid.required {
       /* border: none; */
       box-shadow: none;
  }
  input#mat-input-0 {
    border: none;
}
     .contactperson{
      margin-top: 21px;
    } 
    .drop-down {
padding-left: 29px;
    }
  
    select.dropdownicon{
      background-image:url(/assets/images/Dropdownimage.png);
      background-repeat: no-repeat;
      background-position-x: right;     
      background-origin:content-box;
    }
  
  .contactDetails 
   {
    background: transparent;
    border: none;
    border-bottom: 1px solid #CBCBCB !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    opacity: 1;
    display: block;
    padding: 7px 20px 10px 30px;
    margin-top: 60px;
  }
    
  .contactDetail ::placeholder{
      top: 222px;
      left: 45px;
      width: 196px;
      height: 21px;
      text-align: left;
      font-size: 14px;
      font-family: Montserrat-Regular;
      letter-spacing: 0;
      color: #C9D4EB;
      opacity: 1;
      max-width: 100%;
      word-wrap: break-word;
    }
  
  
  :host >>> .arrow-down{
  margin-top: 19px;
  }
  input[type="email"] {
      border: none;
      font-family: Montserrat-Regular ;
  }
  

  .organizer .form-control{
    /* margin-top: 25px; */
    margin-top: 19px;
    font-family: Montserrat-Regular;
    font-size: 16px;
    padding: 10px 20px 10px 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #CBCBCB;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    opacity: 1;
    display: block;
  }
  .organizer ::placeholder{
    top: 222px;
    left: 35px;
    height: 21px;
    font-size: 14px;
    font-family: Montserrat-Regular;
    letter-spacing: 0;
    color: #C9D4EB;
    opacity: 1;
    word-wrap: break-word;
  }
  
  .userDescription textarea.writeYourself{
      
      top: 74px;      
      height: 150px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 65px #CBCBCB80;
      border-radius: 10px;
      opacity: 1;
      Outline: none;
      /* border: none; */
      border-color: #CBCBCB;
      font-size: 16px;
      font-family: Montserrat-Regular;
      letter-spacing: 0;
      margin-bottom: 40px;    
      padding: 15px;
      resize: none;
    }
    
    .userDescription ::placeholder{
    padding-left: 25px;
    top: 216px;
    left: 35px;  
    height: 20px;
    text-align: left;
    font-size: 14px;
    font-family: Montserrat-Regular;
    letter-spacing: 0;
    color: #C9D4EB;
    opacity: 1;
    padding: 0 0 114px 0;
    }
    
  
    .saveProfile{
      top: 1011px;
      left: 195px;    
      height: 50px;
      background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 15px #6D99FF80;
    border-radius: 25px;
    opacity: 1;
    max-width: 100%;
    word-wrap: break-word;
    Outline: none;
    border: none;
   text-align: center;
   font-family: Montserrat-Bold;
   letter-spacing: 0;
   color: #FFFFFF;
   padding-right: 40px;
   padding-left:40px;
   margin-bottom: 30px;
   margin-top: 50px;
    }

    .errorValidate{
      font-size: 13px;
      font-family: Montserrat-Regular;
      letter-spacing: 0.35px;
      opacity: 1;
      text-align:center;
     
    }

  img.imagePreview {
      border: 2px solid #CBCBCB;
  }
  


:host >>> button.dropbtn.btn{
  box-shadow: none !important;
} 

:host >>> input.form-control.ng-untouched.ng-pristine.ng-valid.ng-star-inserted {
  border: none;
  margin-bottom: 0px;
}


.ContactEmail{
  padding-bottom: 10px;
}

:host >>> input.form-control.ng-untouched.ng-pristine.ng-valid.ng-star-inserted {
  border: none; 
   margin-bottom: -8px;
}
:host >>> .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #CBCBCB;
}
.gender {
  font-family: Montserrat-Regular;
  padding-left: 28px;
}
.Profile_error_box{
  width: 100%;
  margin-top: .25rem;
  font-size: 13px;
  color: #dc3545;
  margin-top: 10px;  
}


.disabledEmail{
  cursor: not-allowed;
}

form select option {
  color: black
}
form select option:first-child {
  color: #C9D4EB;
}

select option:disabled {
  color:#C9D4EB;
}

.form-item__element--select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-item__element--select:invalid {
  color: #C9D4EB;
}
.form-item__element--select [disabled] {
  color: #C9D4EB;
}
.form-item__element--select option {
  color: #C9D4EB;
}

/* //////////////////////////////////////////////////// */
/* :host >>> .mystyle .form-control{
 border: none;
 box-shadow: none;
 border-radius: 0;
} */
/* :host >>> .mystyle.form-control.form-control-sm {
  border: none;
 margin-top: -3px;
} */
/* :host >>> button.dropbtn.btn{
  margin-top: 10px !important;
} */
/* :host >>> span.arrow-down {
  margin-top: 7px !important;
}
:host >>> .form-control-sm{
  height: calc(2.5em + .5rem + 2px);
  border-color: #CBCBCB;
}

.mystyle {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 16px;
  border-radius: 0;
}
:host >>> .form-control-sm.ng-touched.ng-dirty.is-invalid.ng-invalid {
  height: calc(2.5em + .5rem + -7px);
  padding-right: 0;
} */
/* /////////////////////////////////////////////////////////////////// */
input[type="text"]{
  text-transform: capitalize;
}

.userType{
  font-family: Montserrat-Regular;
  color: #D52845;
  font-size: 18px;
  margin-bottom: -25px;
  font-weight: bold;
}

.ImageProfile_error_box{
  width: 100%;
  margin-top: .25rem;
  color: #dc3545;
  margin-top: 10px;
  font-size: 80%;
  font-family: Montserrat-Regular;
}
.BithDate_error_box{
  font-size: 80%;
  font-family: Montserrat-Regular;
  color: #dc3545; 
  text-align: center;
}

.ng-invalid.ng-touched, .ng-invalid.ng-submitted{ 
  /* border-bottom: 1px solid #D52845 ; */
  box-shadow: none;
  overflow-y: none;
  /* font-size: 17px; */
}
.custom-select.is-invalid, 
.form-control.is-invalid, 
.was-validated .custom-select:invalid, 
.was-validated .form-control:invalid {
  border-bottom: 1px solid #D52845 !important;
  border-color:  #D52845 ;
  box-shadow: none; 
}
.errorMsgAlignment{
  text-align: center;
  font-family: Montserrat-Regular;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
.profileErrMsg{
  text-align: left;
  font-family: Montserrat-Regular;
}
.invalid-feedback{
  text-align: center;
  font-family: Montserrat-Regular;
}

/* internatinal phone number css */
:host >>> .dropdown{
  padding: 8px 0px 0px 0px;
    box-shadow: none;
    outline: none;
}
:host >>> span.arrow-down{
  margin-top: 7px;
}
:host >>> input#primaryPhoneInput {
  border: none;
  padding: 6px 0px 0px 11px;
  outline: none;
  height: 45px;
}
:host >>> .form-control-sm {
  height: calc(3.5em + 0.1rem + -2px);
}

 .mystyle {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #CBCBCB;
  border-radius: 0;
  font-size: 17px;
  padding: 11px 0px 0px 20px;
}

:host >>> .form-control-sm.ng-touched.ng-dirty.is-invalid.ng-invalid {
  height: calc(3.5em + 0.5rem + -9px);
  padding-right: 0;
}

:host >>> .internationalPN ::placeholder {
  font-family: Montserrat-Regular !important;
  color: #C9D4EB;
  font-size: 14px;
}
/* end */

/* ng select multiple dropdown */
:host >>> .ng-select .ng-select-container {
  /* border-right: none;
  border-top: none;
  border-left: none; */
  border-radius: 0;
  box-shadow: none !important;
  /* padding: 0px 16px 0px 23px; */
  /* padding: 0px 16px 0px 13px; --without form-control*/
  border: none;
}
:host >>> .ng-select .ng-arrow-wrapper {
  display: none;
}
:host >>> .ng-value-container {
  background-image: url(/assets/images/Dropdownimage.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-origin: content-box;
  padding: 0px 20px 5px 0px;
  /* padding: 0px 55px 5px 0px; */
  /* padding: 0px 0px 5px 26px; */
}
/* .form-control.is-invalid, .was-validated .form-control:invalid {
  background-position: center right calc(2.375em + 0.1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
} */

:host >>> .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  font-family: Montserrat-Regular;
  color: #C9D4EB;
  font-size: 15px;
}
:host >>> span.ng-option-label {
  font-family: Montserrat-Regular !important;
  font-size: 15px;
}
:host >>> .ng-select.ng-select-multiple .ng-select-container 
.ng-value-container .ng-value .ng-value-label {
  font-family: Montserrat-Regular !important;
  /* background-color: white;
  border: none;
  font-size: 15px; */
}
/* :host >>> .ng-select.ng-select-multiple 
.ng-select-container .ng-value-container .ng-value 
.ng-value-icon.left {
  border: none;
  background-color: white;
  font-size: 15px;
} */
:host >>> .ng-select .ng-clear-wrapper {
  display: none;
}

:host >>> .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  padding: 1px 3px;
}
.artistCategory{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #CBCBCB;
    border-radius: 0;
    padding: 0px 0px 0px 12px;
    margin-top: 0px;
    /* padding: 0px 0px 0px 20px; */
}
:host >>> .form-control-md{
  height: auto;
}
.skillflex {
  display: flex;
}
.AddSkillText{
   resize: none;
    border-color: #CBCBCB;
    margin-top: 10px;
    font-family: Montserrat-Regular;
}
.SelectsSkill{
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #CBCBCB;
  border-radius: 0;
  padding: 0px 0px 0px 12px;
  margin-top: 15px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  margin-top: 35px;
  cursor: pointer;
  box-shadow: none;  
}
.fa .fa-plus{
cursor: pointer;
}
.textarea-container {
  position: relative;
}
.textarea-container button {
  position: absolute;
  top: -29px;
  right: 18px;
  color: #D52845;
}
.textarea-container ::placeholder{
  font-family: Montserrat-Regular;
  color: #C9D4EB;
  font-size: 15px;
}
.btn-circle-close{
  width: 25px;
    height: 25px;
    padding: 4px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    line-height: 1.42857;
    margin-top: 35px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
}
.skillErrorMsg{
  text-align: center;
  font-family: Montserrat-Regular;
  color: #dc3545;
  font-size: 80%;
}
/* end */


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  select::-ms-expand {
    display: none;
  }

  
  .userDescription textarea.writeYourself{
    box-shadow: 0px 0px 65px #D4E6F1;
  }
  .profileCircle{
    box-shadow: 0px 0px 55px #D4E6F1;
  }

  .outer-circle{
    box-shadow: 0px 0px 20px #D4E6F1;
  }

  .contactEmailAddress input, .contactEmailAddress .form-control{
   padding: 18px 20px 10px 30px;
  }

  input:-ms-input-placeholder {  
    color: #C9D4EB ;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 14px;
  }  

  textarea:-ms-input-placeholder{
    color: #C9D4EB ;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 14px;
  }
  :host >>> button.dropbtn.btn{
    margin-top: 2px !important;
  }
  
  :host >>> .form-control-sm {
    height: calc(3.5em + 0.1rem);
  }
:host >>> .internationalPN :-ms-input-placeholder {
  font-family: Montserrat-Regular !important;
  color: #C9D4EB;
  font-weight: bold;
  font-size: 14px;
}
:host >>> .form-control-sm.ng-touched.ng-dirty.is-invalid.ng-invalid {
  height: calc(3.5em + 0.5rem + -8px);
  padding-right: 0;
}
}


@media(max-width:700px){
  .countryAlign{
    margin-top:20px;
  }
  .contactDetails{
    margin-top: 25px;
  }
}

/* for international phone number for firefox and mobile */
@media screen and (min--moz-device-pixel-ratio:0) {  
  :host >>> .form-control-sm {
    height: calc(1.5em + .5rem + 26px);
  }
  :host >>> .form-control-sm.ng-touched.ng-dirty.is-invalid.ng-invalid {
    height: calc(3.5em + 0.5rem + -8px);
  }
}
@media (max-width:1000px){
  :host >>> .form-control-sm {
    height: calc(1.5em + .5rem + 27px);
  }
  .mystyle{
    font-size: 15px;
  }
  .ng-invalid.ng-touched, .ng-invalid.ng-submitted {
    font-size: 15px;
  }
  :host >>> .form-control-sm.ng-touched.ng-dirty.is-invalid.ng-invalid {
    height: calc(3.5em + 0.5rem + -3px);
  }
}
/* end */


