<div ngxUiLoaderBlurred>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLinkActive=" active" routerLink="/">
      <!-- <img src="assets/images/logo.png" alt="Angular Project" /> -->
      <!-- <h2>AMS</h2> -->
      <img style="height: 50px;" src="assets/AMS_logo.svg">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
       
      </ul>
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">          
          <a class="nav-link notification" routerLinkActive="active" routerLink="/notification">
            <i class="fa fa-bell icon" aria-hidden="true"></i>
            <span class="badge">3</span>
          </a>
        </li> -->
        
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>        
        </li> -->

        <!-- <div *ngIf="userType =='Organizer'; else showArtistEvents">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/organizer-events/{{loginId}}">Home</a>
         
          </li>
        </div>
        <ng-template #showArtistEvents>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/artist-events/{{loginId}}">Home</a>
          
          </li>
        </ng-template> -->
       
        <li class="nav-item">
          <a class="nav-link" *ngIf="showLogin" routerLinkActive="active" routerLink="/Login">Login</a>
        </li>
        <li class="nav-item dropdown">
            <a  *ngIf="showDropdown" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{loginUserFullName | titlecase}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLinkActive="active" routerLink="/view-profile" style="cursor:pointer">My Profile</a>
                <div *ngIf="userType =='Artist'">
                  <!-- <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLinkActive="active" routerLink="/view-schedule/{{loginId}}" style="cursor:pointer">My Schedules</a> -->
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLinkActive="active" routerLink="/artist-events/{{loginId}}">My Performing Events</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLinkActive="active" routerLink="/organizer" style="cursor:pointer">Contact To Organizer</a>
                </div>
                <div *ngIf="userType =='Organizer'">
                 <div class="dropdown-divider"></div>
                 <a class="dropdown-item" routerLinkActive="active" routerLink="/organizer-events/{{loginId}}">My Events</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLinkActive="active" routerLink="/artist" style="cursor:pointer">Contact To Artist</a>
                </div>
              <!-- <a class="dropdown-item" href="#" style="cursor:pointer">Another action</a> -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()" style="cursor:pointer">Logout</a>
            </div>
          </li>
         
      </ul>

    </div>
  </div>
 
</nav>
</div>
