.bg-dark{
    background-color: #dc3545!important;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

}

.notification {    
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: transparent;
  }
  
  .notification .badge {
    position: absolute;
    top: -2px;
    right: -5px;
    padding: 5px 7px;
    border-radius: 9%;
    background: blue;
    color: white;
  }
  .icon{
    font-size: 25px;
  }