/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-width: 667px) {
    
    footer{
        padding: 23px;
        margin-bottom: 10px;
    }
}

/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) {
    footer{
        padding: 23px;
        margin-bottom: 10px;
    }
}