<div class="container-fluid  loginFormStyle " align="center">
    <div ngxUiLoaderBlurred>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="home_menu"><a routerLinkActive="active" routerLink="/">Home</a></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12"></div>
                    <div class="col-md-12"></div>
                    <div class="col-md-12"></div>
                </div>
            </div>
            <div class="col-md-4">
                <form class="loginFormAlign" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value,'')">
                    <div>
                        <img class="AMSlogo responsive" src="assets/AMS_logo.svg">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12  uname input-icons">
                            <div class="left-inner-addon" align="left">
                                <input type="email" spellcheck="false" class="form-control fields-align"
                                    formControlName="email" placeholder="Email" />
                                <img role="img" src="assets/Username.svg" />
                                <div>
                                    <div *ngIf="submitted && f.email.errors" class="error_box">
                                        <div *ngIf="f.email.errors.required" class=" alert alert-danger">Email is
                                            required</div>
                                        <div *ngIf="f.email.errors.email" class=" alert alert-danger"> Email must be a
                                            valid
                                            email
                                            address</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12  uname input-icons">
                            <div class="left-inner-addon" align="left">
                                <input type="password" class="form-control fields-align" maxlength="20"
                                    formControlName="Password" placeholder="Password" (keypress)=_keyPress($event) />
                                <img role="img" src="assets/password_white.svg" />
                                <div class="error_box">
                                    <div *ngIf="submitted && f.Password.errors">
                                        <div *ngIf="f.Password.errors.required" class="alert alert-danger"> Password is
                                            required
                                        </div>
                                        <div *ngIf="f.Password.errors.minLength" class="alert alert-danger">Password
                                            length must
                                            be
                                            at
                                            least 6 characters</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <button class="loginButton" type="submit">SIGN IN</button>
                        </div>
                        <div class="col-md-12">
                            <a class="forgotPassword" routerLinkActive="active" routerLink="/forgot-password">Oops, I
                                forgot my password</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="social_icon2">
                            <div class="ui_div">
                                <div class="li_div">

                                    <a (click)="signInWithFB()" class="gap facebook">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook
                                    </a>
                                    <!-- <a href="#" class="gap twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>Login with Twitter
                                    </a> -->
                                    <a (click)="signInWithGoogle()" class="gap google">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>Login with google
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- <div class="social_btn">
                        <button (click)="signInWithFB()" class="btn-foursquare loginBtn loginBtn--facebook">
                            Login with Facebook
                        </button>
                       </div>
                       <div class="social_btn">
                        <a (click)="signInWithFB()" class="btn btn-block btn-social btn-twitter">
                            <span class="fa fa-twitter"></span> Login with Twitter
                        </a>
                       </div> -->
                    </div>
                    <div class="col-md-12"></div>
                    <div class="col-md-12"></div>
                </div>
            </div>








        </div>



        <div class="createProfile col-sm-12 col-md-6  col-lg-6 uname input-icons">
            <div>CREATE PROFILE</div>
            <img (click)="createProfile(collapse)" style="cursor:pointer" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample" class="dropdown"
                src="assets/Down_arrow.svg">
        </div>
        <!-- </form> -->
    </div>
    
</div>

<div class="collapse" id="collapseExample">
    <div class="container-fluid" align="center">
        <div class="col-sm-12 col-md-12  col-lg-6">
            <div class="row">
                <div class="col-md-6">
                    <img class="Artistlogo responsive" src="assets/Mask.png">
                    <button (click)="artistCreateProfile()" class="artist" type="submit">I AM AN ARTIST</button>
                </div>
                <div class="col-md-6">
                    <img class="Artistlogo responsive" src="assets/Organizer.png">
                    <button (click)="organizerCreateProfile()" class="artist" type="submit">I AM AN ORGANIZER</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal smita added modal popup for select user type after social login-->
<div id="SocialLoginModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Type</h5>
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="ArtistlogoModal responsive" src="assets/Mask.png">
                            <button (click)="socialLoginUser('artist')" class="artist" type="submit">I AM AN
                                ARTIST</button>
                        </div>
                        <div class="col-md-6">
                            <img class="ArtistlogoModal responsive" src="assets/Organizer.png">
                            <button (click)="socialLoginUser('Organizer')" class="artist" type="submit">I AM AN
                                ORGANIZER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>