


    .loginFormStyle{
        background: transparent linear-gradient(90deg, #E92C4C 0%, #C82641 100%) 0% 0% no-repeat padding-box;
        min-height:90vh;
        height:auto;
     }


  
     input[type="email"],
     select.form-control {
       background: transparent;
       border: none;
       border-bottom: 1px solid #FFFFFF;
       -webkit-box-shadow: none;
       box-shadow: none;
       border-radius: 0;
     }
  
     input[type="password"],
     select.form-control {
       background: transparent;
       border: none;
       border-bottom: 1px solid #FFFFFF;
       -webkit-box-shadow: none;
       box-shadow: none;
       border-radius: 0;
     }

     
     .loginFormStyle .loginFormAlign{
      margin-top: -8px;
    }
  
     .loginFormStyle .loginButton{
        left: 58px;
        width: 350px;
        height: 50px;
        background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 15px #6D99FF80;
        border-radius: 25px;
        opacity: 1;
        text-align: center;
        font-family: Montserrat-Bold;
        color: #FFFFFF;
        margin-top: 25px;
        max-width: 100%;
        word-wrap: break-word;
        Outline: none;
        border: none;
        font-size: 14/22px;
    }
  
    .loginFormStyle .fields-align{
        top: 303px;      
        height: 50px;
        text-align: left;
        font-size: 16px;
        font-family: Montserrat-Regular;
        letter-spacing: 0;
        color:#FFFFFF;
        opacity: 1;
        max-width: 100%;
        word-wrap: break-word;
    }
  
    .loginFormStyle ::placeholder{
        top: 392px;
        left: 89px;
        width: 67px;
        height: 17px;
        text-align: left;       
        font-size: 14px;
        font-family: Montserrat-Regular;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 0.5;
        max-width: 100%;
        word-wrap: break-word;
  }
  
  .loginFormStyle .forgotPassword{
    text-align: center; 
    font-size: 16px;
    font-family: Montserrat-Regular;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 25px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .loginFormStyle .createProfile{
    text-align: center;  
    font-size: 16px;
    font-family: Montserrat-Regular;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 25px;
  }
  
  .loginFormStyle .AMSlogo{   
    width: 8em;  
  }
  
  .social_btn{
    margin: 50px;
  }
  
  .loginFormStyle .left-inner-addon {
    position: relative;
    width: 350px;
    max-width: 100%;
    word-wrap: break-word;
  }
  .loginFormStyle .left-inner-addon input {    
    padding-left: 50px;  
  }
  .loginFormStyle .left-inner-addon img {
    position: absolute;  
    left: 15px;  
    pointer-events: none;
    top: 14px;
    height: 17px;
    width: 15px;
  
  }
  span.errorValidate.text-left{
    padding-left: 48px;
    white-space: nowrap;
  }

   .errorValidate{
    letter-spacing: 0;
    font-size: 13px;
    font-family: Montserrat-Regular;   
    color: white;
    opacity: 0.5;
    white-space: nowrap;
    padding-left: 48px;
  }
  

  .error_box{
    width: 100%;
    margin-top: .25rem;
   font-size: 13px; 
    color: #dc3545;
    text-align: center;

}
  .loginFormStyle .dropdown{
    margin-top: 10px;
  }
 
  .artist{
    top: 1136px;
    left: 93px;
    width: 230px;
    height: 50px;
    background: transparent linear-gradient(90deg, #E92C4C 0%, #C82641 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #D5284580;
    border-radius: 25px;
    opacity: 1;
    text-align: center;  
    font-size: 14/22px;
    font-family: Montserrat-Bold;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-top: 25px;
    max-width: 100%;
    Outline: none;
    border: none;
    margin-bottom: 10px;
  
  }
  .home_menu{
    margin: 20px 51px;
    color: #fff;
    text-align: right;
  }
  .home_menu a{
    color : #ffffff;
  }
  
  @media (min-width:375px) and (max-width: 667px) and (orientation: landscape) {
    .loginFormStyle{
        height: 161vh;
    }
  }
  
  @media (min-width:414px) and (max-width: 736px) and (orientation: landscape) {
    .loginFormStyle{
        height: 161vh;
    }
  
  }
  
  @media (min-width:360px) and (max-width: 640px) and (orientation: landscape) {
    .loginFormStyle{
        height: 161vh;
    }
  
  }
  .alert-danger {
    color:red;
    font-family: Montserrat-Regular;
    background-color: #ffffff;
    border-color: #f5c6cb;
}
.alert{
  margin-bottom:0rem
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  input:-ms-input-placeholder {  
    color: #FFFFFF;
   font-family: Montserrat-Regular;
   font-size: 15px;
    }
}
.ArtistlogoModal{
  position: relative;
  right: 20px;
}

.social_icon2 .ui_div {
  margin: 0;
  padding: 0;
  list-style: none;
  /* margin-left: 450px; */
  margin-top: 144px;
}

.gap {
  margin-right: 10px
}
.social_icon2 .ui_div .li_div{display: inline-grid;}
.social_icon2 .ui_div .li_div:first-child {
  margin-left: 0px
}


.facebook {
  background: #2a66b3;
  border: 1px solid #2a66b3
}

.social_icon2 .ui_div .li_div a i {
  margin-right: 10px
}

.twitter {
  background: #35bbec;
  border: 1px solid #35bbec
}

.social_icon2 .ui_div .li_div a {
  float: right;
  border-radius: 4px;
  line-height: 40px;
  color: #fff;
  height: 40px;
  width: 190px;
  text-align: center;
  margin-bottom: 8px
}

.google {
  background: #e55644;
  border: 1px solid #e55644
}

.facebook:hover {
  background: #082b58;
  border: 1px solid #082b58
}

.twitter:hover {
  background: #0f607e;
  border: 1px solid #0f607e
}

.google:hover {
  background: #a52a1b;
  border: 1px solid #a52a1b
}