.container-fluid{
    min-height: 100vh;
    height: auto;
    margin-bottom: 180px;
}
.filter_block{
    padding: 0px;
    position: relative;
    top: 165px;
}
.category_block{  
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}
.category_block .card_header_block{
    /* border-bottom: 1px solid #dcdcdc;
    background-color: darkslateblue;
    border-right: 1px solid darkslateblue; */
    border-bottom: 1px solid #dcdcdc;
    background: transparent url('/assets/images/Warstwa3kopia.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
}
/* checkbox css end  */

/* radio button css start */
.filter_block_date{
    padding: 0px;
    position: relative;
    top: 166px;
}
.filter_block_date .card-body{
    padding: 0;
}
.filter_block_date .category_block{  
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}

.filter_block_date .category_block{  
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}
.filter_block_date .card_header_block{
     /* border-bottom: 1px solid #dcdcdc;
    background-color: darkslateblue;
    border-right: 1px solid darkslateblue; */
    border-bottom: 1px solid #dcdcdc;
    background: transparent url('/assets/images/Warstwa3kopia.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
}  
.col-md-12.filter_block_star {
    padding: 0px;
    position: relative;
    top: 164px;
}
.btn-link{
    color: #FFFFFF;
} 
/* radio button css end */

/* event list css start */
.event_list{
    position: relative;
    top: 180px;
}
.blog-box img{
    height: 149px;
}
.blog-box{
    margin-bottom: 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin-bottom: 30px;
  }

.active {
    background-color: 'aqua';
    color : #ffffff;
  }

  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color: #0000ff;
    border-color: #504e5b;
  }
 
.desc{
    height: 60px;
    text-align: left;
    margin: 10px;
    font-size: 15px;
    font-family: Montserrat-Regular;
    position: relative;
    top: -5px;
}
.organizer_rating{display: inline-flex;}
.organizer_rating span{margin-top: 7px;
    margin-left: 5px;}
.event_title{
    color: #000;
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: Montserrat-Bold;
}

.text_title{
    color:#ffffff;  
    margin-top: 20px;
}
.advance_search_bt{
    color: #fff;
    cursor: pointer;
    margin-top: 6px;
}
.blog-box h3{
    margin: 10px 0 0 0!important;
    font-size: 16px;
}


:host >>> .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled{
    color: #cbcbcb!important;
}

.card_images {
    height: 150px;
    border-bottom: 1px solid #dcdcdc;
    background: black;
   
}
.card_text{
    font-size: 16px;
    height: 35px;
    margin: 10px 0px 0px;
    font-family: Montserrat-SemiBold;
    color: crimson;
}


.event_dates {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-family: Montserrat-Regular;
}
.city_name {
    text-align: left;
    padding: 0px 3px;
    font-size: 12px;
    font-family: Montserrat-Regular;
    font-style: normal;
}
a.card_event_view {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.start_icon{
    float: right;
    margin: 0px 10px;
    color: blueviolet;
}
 
:host >>> .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child{
    padding-left :0px
}
b.user_name {
    margin-left: 20px;
}

.user_details img.organizer {
    margin: 30px 0px 0px 0px;
    border-radius: 100px;
    height: 140px;
    width: 140px;
}
.user_details .organization_name {
    font-size: 16px;
    font-family: Montserrat-Regular;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.user_details .organizer_name {
    font-size: 18px;
    font-family: Montserrat-Bold;
    text-transform: capitalize;
}
.user_details  .userType{
    position: relative;
    top: 22px;
    font-family: Montserrat-Bold;
    color: blueviolet;
}
.panel {
    /* padding: 0; */
    background-image: url('../../../assets/images/user_background1.jpg');
    background-repeat: no-repeat;
    /* height: 275px; */
    position: relative;
    top: 166px;
}
.about {
    margin-top: 40px;
    text-align: left;
    font-family: Montserrat-Regular;
    font-size: 16px;
    margin-bottom: 40px;
}
.custom-control{
    display: table;
    margin: 5px;
    font-size: 14px;
}
.filter_block .card-body{
    padding: 0;
}
.filter_block_star .card-body{
    padding: 0;
}
.organizer_add_rating{
    float: right;
    position: absolute;
    bottom: 5px;
    right: 8px;
    cursor: pointer;
}
.rating_btn{
    background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box!important;
    box-shadow: 0px 5px 15px #6D99FF80 !important;
    border-radius: 25px !important;
    opacity: 1 !important;
    padding: 7px 27px!important;
    border-color: #3C6CDE!important;
    color: #fff!important;
}
.rating_error{
    position: absolute;
    top: 90px;
    left: 164px;
    font-size: 80%;
    color: #dc3545;
    font-family: Montserrat-Regular;
    font-weight: bold;
}
.rating_title{
    font-family: Montserrat-Regular;
    font-size: 16px;
}
.event_rating{
    text-align: left;
    margin-left: 20px;
    position: relative;
    top: -18px;
}
/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-width: 667px) {
    .panel{
        top: 195px;
    }
    .about{
        margin-top: -30px;
        margin-bottom: 26px;
    }
}
/* iPhone 5 ----------- */ /* iPhone 4 ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) {
    .panel{
        top: 195px;
    }
    .about{
        margin-top: -30px;
        margin-bottom: 26px;
    }
}


/* .dates{
    text-align: left;
    position: relative;
    left: 80px;
    margin-bottom: 20px;
} */