<app-search-bar (searchedUser)=searchEvents($event)></app-search-bar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12 filter_block_date">
          <div class="accordion" id="filter">
            <div class="category_block">
              <span *ngIf="Loginchecker && userType =='Organizer' && loginId == organizerId">
                <div class="card_header_block" id="heading">
                  <h2 class="mb-0 header_tab">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                      data-target="#collapse" (click)="screenRedirect('new','upcoming')">Add Event</button>
                  </h2>
                </div>
              </span>
              
              <div class="card_header_block" id="headingOne">
                <h2 class="mb-0 header_tab">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseOne">Filter by, Date</button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#filter">
                <div class="card-body">
                  <div class="custom-control custom-radio  mb-3 date_filter" *ngFor="let dateData of eventDateFilter">

                    <input type="radio" class="custom-control-input" id="{{dateData.value}}" name="defaultExampleRadios"
                      [(ngModel)]="dateFilterRadioSelected" [value]="dateData.value"
                      (change)="onDateFilterItemChange(dateData)" />
                    <label class="custom-control-label" for="{{dateData.value}}">{{dateData.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 filter_block">
          <div class="accordion" id="filter">

            <div class="category_block">
              <div class="card_header_block" id="headingTwo">
                <h2 class="mb-0 header_tab">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseTwo">Filter by, Category</button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#filter">
                <div class="card-body">
                  <div class="custom-control custom-checkbox  mb-3" *ngFor="let eventsCatData of eventsCategoryData">
                    <input type="checkbox" class="custom-control-input" id="{{eventsCatData.Id}}"
                      [value]="eventsCatData.Id" (change)="multiEventCategorySelect($event,eventsCatData.Id)">
                    <label class="custom-control-label"
                      for="{{eventsCatData.Id}}">{{eventsCatData.EventCategoryName}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 filter_block_star">
          <div class="accordion" id="filter">

            <div class="category_block">
              <div class="card_header_block" id="headingThree">
                <h2 class="mb-0 header_tab">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseThree"> Filter by, Ratings</button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#filter">
                <div class="card-body">
                  <div class="searchRating" (click)="searchEventByRating('4 star & Up')">
                    <star-rating value="4" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                    <span class="star_class">4 star & up</span> 
                  </div>
                  <div class="searchRating" (click)="searchEventByRating('3 star & Up')">
                    <star-rating value="3" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                    <span class="star_class">3 star & up</span> 
                  </div>
                  <div class="searchRating" (click)="searchEventByRating('2 star & Up')">
                    <star-rating value="2" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                    <span class="star_class">2 star & up</span> 
                  </div>
                  <div class="searchRating" (click)="searchEventByRating('1 star & Up')">
                    <star-rating value="1" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                    <span class="star_class">1 star & up</span> 
                  </div>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-10">
      <div ngxUiLoaderBlurred>
        <div class="col-md-12 panel" *ngIf="loginId != organizerId">
          <div class="row">
            <div class="col-md-4">
              <div class="user_details">
                <div class="userType">{{userType}}</div>
                <img class="organizer" alt="Avatar"
                  [src]=" profileImage || '../../../assets/images/artist_default.jpg'" />
                <div class="organizer_name">{{userName}}</div>
                <div class="organizer_rating"> 
                  <star-rating value='{{orgAverageRating.AverageRating}}'  totalstars="5" checkedcolor="#28c7bf" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                  <span title="User rating">({{usersRating}})</span>
                </div>
                <div class="organization_name">{{OrganizationName}}</div>
              </div>
            </div>
            <div class="col-md-8">
              <!-- <div class="user_details">  -->
              <div class="about" title="{{aboutMe}}"> {{ (aboutMe.length>200)? 
                    (aboutMe | slice:0:200)+'...'
                    :(aboutMe) }}</div>
              <!-- </div> -->
              <div class="organizer_add_rating"><a data-toggle="modal" data-target="#myOrganizerModal">Add Rating To
                  Organizer</a></div>
            </div>
          </div>
        </div>

        
        <div class="tab-pane active event_list "><br>
          <div class="col-md-12">
            <div class="event_title">Upcoming Events</div>
          </div>
          <div class="row">
            <div class="col-md-12 error_message" *ngIf="eventDataLength == 0">
              <div class="data_not_found"> <img src="../../../assets/images/data_not_found.jpg" class="" /></div>
            </div>           
            
            <div class="col-md-4"
              *ngFor="let eventData of eventsResponse | paginate: { itemsPerPage: 6, currentPage: p1, id: 'first' }">
              <a routerLinkActive="active" class="card_event_view" (click)="screenRedirect(eventData.Id,'upcoming')">
                <div class="card ">
                  <div class="blog-box">
                    <div class="card_images">
                      <div *ngIf="eventData.EventImageUrl != null; else defaultEventImage">
                        <img src="{{eventData.EventImageUrl}}" alt="blog1" />
                      </div>
                      <ng-template #defaultEventImage>
                        <img src="../../../assets/images/eventDetails_default.jpg" alt="blog1" />
                      </ng-template>
                    </div>
                    <h3 class="card_text" title="{{eventData.EventName}}">
                      {{ (eventData.EventName.length>22)? (eventData.EventName | slice:0:22)+'...':(eventData.EventName)}}

                      <span *ngIf="organizerId == eventData.UserId && eventType == 'upComing' ">
                        <i class="fa fa-star start_icon" aria-hidden="true"></i>
                      </span>
                    </h3>

                    <div *ngIf="eventData.EventStart == eventData.EventEnd; else elseBlock">
                      <p class="event_dates">
                        <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                        {{eventData.EventStart | date : 'MM/dd/yyyy' }}
                      </p>
                    </div>
                    <ng-template #elseBlock>
                      <p class="event_dates">
                        <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                        {{eventData.EventStart | date : 'MM/dd/yyyy' }} -
                        {{eventData.EventEnd | date : 'MM/dd/yyyy'}}
                      </p>
                    </ng-template>

                    <div *ngIf="eventData.EventStart == eventData.EventEnd; else elseBlockTime">
                      <div class="event_dates_time">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{eventData.EventStart | date : 'h:mm a'}} To {{eventData.EventEnd | date : 'h:mm a'}}
                      </div>
                    </div>
                    <ng-template #elseBlockTime>
                      <div class="event_dates_time">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{ eventData.EventStart |date : 'h:mm a'}} To {{ eventData.EventEnd |date : 'h:mm a'}}
                      </div>
                    </ng-template>   
                    <p class="city_name">
                      <i class="fa fa-location-arrow" aria-hidden="true"></i>
                      {{eventData.CityName}}, {{eventData.StateName}}, {{eventData.CountryName}}</p>
                    <!-- <div class="event_rating">
                      <star-rating value="3" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px"
                    readonly="true"></star-rating>
                    </div> -->
                    <p class="desc">
                      {{(eventData.Description.length>70)? (eventData.Description | slice:0:70)+'...': eventData.Description }}
                    </p>

                  </div>
                </div>
              </a>
            </div>
            <div class="align-self-end ml-auto" *ngIf="eventDataLength != 0">
              <pagination-controls (pageChange)="p1 = $event" id="first" directionLinks="true" autoHide="true" responsive="true"
                previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>
          </div>

          <div class="col-md-12">
            <div class="event_title">Past Events</div>
          </div>
          <div class="row">
            <div class="col-md-12 error_message" *ngIf="organizerPastEventDetailsLength == 0">
              <div class="data_not_found"> <img src="../../../assets/images/data_not_found.jpg" class="" /></div>
            </div> 

            <div class="col-md-4"
              *ngFor="let pastEventData of organizerPastEventDetails | paginate: { itemsPerPage: 6, currentPage: p2, id: 'second' }">
              <a routerLinkActive="active" class="card_event_view" (click)="screenRedirect(pastEventData.Id, 'past')">
                <div class="card ">
                  <div class="blog-box">
                    <div class="card_images">
                      <div *ngIf="pastEventData.EventImageUrl != null; else defaultEventImage">
                        <img src="{{pastEventData.EventImageUrl}}" alt="blog1" />
                      </div>
                      <ng-template #defaultEventImage>
                        <img src="../../../assets/images/eventDetails_default.jpg" alt="blog1" />
                      </ng-template>
                    </div>
                    <h3 class="card_text" title="{{pastEventData.EventName}}">
                      {{ (pastEventData.EventName.length>22)? (pastEventData.EventName | slice:0:22)+'...':(pastEventData.EventName)}}

                      <span *ngIf="organizerId == pastEventData.UserId && eventType == 'upComing' ">
                        <i class="fa fa-star start_icon" aria-hidden="true"></i>
                      </span>
                    </h3>

                    <div *ngIf="pastEventData.EventStart == pastEventData.EventEnd; else elseBlock">
                      <p class="event_dates">
                        <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                        {{pastEventData.EventStart | date : 'MM/dd/yyyy' }}
                      </p>
                    </div>
                    <ng-template #elseBlock>
                      <p class="event_dates">
                        <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                        {{pastEventData.EventStart | date : 'MM/dd/yyyy' }} -
                        {{pastEventData.EventEnd | date : 'MM/dd/yyyy'}}
                      </p>
                    </ng-template>

                    <div *ngIf="pastEventData.EventStart == pastEventData.EventEnd; else elseBlockTime">
                      <div class="event_dates_time">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{pastEventData.EventStart | date : 'h:mm a'}} To {{pastEventData.EventEnd | date : 'h:mm a'}}
                      </div>
                    </div>
                    <ng-template #elseBlockTime>
                      <div class="event_dates_time">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{ pastEventData.EventStart |date : 'h:mm a'}} To {{ pastEventData.EventEnd |date : 'h:mm a'}}
                      </div>
                    </ng-template>   
                    <p class="city_name">
                      <i class="fa fa-location-arrow" aria-hidden="true"></i>
                      {{pastEventData.CityName}}, {{pastEventData.StateName}}, {{pastEventData.CountryName}}</p>
                    <div class="event_rating">
                      <star-rating value="{{pastEventData.AverageRating}}" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px"
                    readonly="true"></star-rating>
                    </div>
                    <p class="desc">
                      {{(pastEventData.Description.length>70)? (pastEventData.Description | slice:0:70)+'...': pastEventData.Description }}
                    </p>

                  </div>
                </div>
              </a>
            </div>
            <div class="align-self-end ml-auto" *ngIf="organizerPastEventDetailsLength != 0">
              <pagination-controls (pageChange)="p2 = $event" id="second" directionLinks="true" autoHide="true" responsive="true"
                previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>

          </div>

        </div>
      </div>
     

      <!-- Modal -->
      <div id="myOrganizerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Rating</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="rating_title">Overall rating</div>
              <p>
                <star-rating value="{{organizerRating}}" totalstars="5" checkedcolor="#28c7bf" uncheckedcolor="black" size="40px"
                  readonly="false" (rate)="onOrganizerRate($event)"></star-rating>
              </p>
              <div class="rating_error">{{artistRatingErrorMessage}}</div>
              <div style="margin-bottom: 15px;"><a type="button" class="btn btn-success rating_btn"
                  (click)="submitOrganizerRating()">Submit Rating</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal  end-->

    </div>
  </div>




</div>
<!-- container end -->