
<ngx-slick-carousel class="carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" 
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let eventCat of eventsCategoryData" class="slide">  
    <a  (click)="clickOnEventCategory(eventCat.Id)">
      <div class="cat_silder">
        <div class="card">
          <div class="card-img"> 
            <!-- <img id="cat_img" src="https://img.gaadicdn.com/images/carexteriorimages/upcoming/360x240/Jeep/Jeep-Renegade/047.jpg" width="100%"> -->
            <img  id="cat_img" src="../../../assets/images/{{eventCat.Id}}.jpg" alt="" width="100%">
            <div class="category_name">{{eventCat.EventCategoryName}}</div>   
          </div>      
          <div class="card-body">     
            <button type= "button" class="btn btn-outline-danger btn-block btn-sm">{{eventCat.EventCount}} Events</button>
          </div>
      </div>
        <!-- <img  id="cat_img" src="../../../assets/images/{{eventCat.Id}}.jpg" alt="" width="100%"> -->
      </div>
    </a>  
  </div>
</ngx-slick-carousel>


