:host >>> .slick-slider {
    width: 90%;
    margin: auto;
    
  }
   
  :host >>>  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }
   
  :host >>> .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }
   
  :host >>> .prev-slide {
    background: url('../../../assets/images/side_arrow.png') no-repeat scroll 0 0;
    left: -33px;
  }
   
  :host >>> .next-slide {
    background: url('../../../assets/images/side_arrow.png') no-repeat scroll -24px 0px;
    right: -33px;
  }
   
  :host >>> .prev-slide:hover {
    background-position: 0px -53px;
  }
   
  :host >>> .next-slide:hover {
    background-position: -24px -53px;
  }

  :host >>>  .slick-slide img {
    display: block;
    height: 200px;  
    
}
#cat_img{ 
  top: 0;
  left: 0;
  width: 100%;
  height: 158px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.category_name{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.25);
    color: floralwhite;
    font-size: 27px;
    font-family: Montserrat-SemiBold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.cat_silder .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;   
    margin-bottom: 30px;
    border-radius: 30px;
}
.card-img{
  position: relative;
}
.cat_silder{
  margin-right: 10px;
  border-radius: 30px;
  margin-left: 10px;
}