<div class="container highlight" align="center">

    <div ngxUiLoaderBlurred>
    <form [formGroup]="registrationForm" #signupForm="ngForm" (ngSubmit)="onRegisterSubmit(registrationForm)">

        <div>
            <img class="logo" src="assets/Mask.png">
        </div>
        <div class="userType">{{userType}}</div>
        <div class="form-group uname col-sm-12 col-md-7 col-lg-7 input-icons">
            <div class="row">
                <div class=" col-lg-4 input-group">                  
                    <div class="left-inner-addon" align="left">
                    <input type="text" spellcheck="false" maxlength="50"  class="form-control input-field" formControlName="FirstName"
                        placeholder="First Name" required
                        [ngClass]="{ 'is-invalid': (f.FirstName.touched || submitted) && f.FirstName.errors}"/>
                        <img role="img"  src="assets/name_grey.svg" />
                        <div *ngIf="(f.FirstName.touched || submitted) && f.FirstName.errors" class="invalid-feedback">
                                <div class="errorMsgAlignment" *ngIf="f.FirstName.errors.required">First Name is required</div>
                        </div>
                    <!-- <div class="error_box">                        
                        <div *ngIf="signupForm.submitted && f.FirstName.errors">
                            <div *ngIf="f.FirstName.errors.required" class=" errorValidate alert alert-danger">Firstname
                                is required
                            </div>
                        </div>                        
                    </div> -->
                    </div>


                   


                </div>
                <div class="col-lg-4 input-group">
                    <input type="text" spellcheck="false" maxlength="50" class="form-control input-field names" formControlName="MiddleName"
                        placeholder="Middle Name" />
                </div>
                <div class="col-lg-4 input-group">


                    <input type="text" spellcheck="false" maxlength="50" class="form-control input-field names" formControlName="LastName"
                        placeholder="Last Name" required 
                        [ngClass]="{ 'is-invalid': (f.LastName.touched || submitted) && f.LastName.errors}"/>
                        <div class="errorMsgAlignment" *ngIf="(f.LastName.touched || submitted) && f.LastName.errors" class="invalid-feedback">
                                <div  *ngIf="f.LastName.errors.required">Last Name is required</div>
                        </div>
                    <!-- <div class="error_box">
                        
                        <div *ngIf="signupForm.submitted && f.LastName.errors">
                            <div *ngIf="f.LastName.errors.required" class=" errorValidate alert alert-danger">Lastname
                                is required
                            </div>

                        </div>
                        
                    </div> -->

                   
                </div>

            </div>

        </div>

        <div class="form-group col-sm-12 col-md-7  col-lg-7 input-icons">
            <div class="input-group">               
                <div class="left-inner-addon" align="left">
                <input type="email" spellcheck="false" class="form-control input-field" formControlName="Email" placeholder="Email"
                    required  [ngClass]="{ 'is-invalid': (f.Email.touched || submitted) && f.Email.errors}"/>
                    <img role="img"  src="assets/email.svg" />
                    <!-- <div *ngIf="f.Email.errors" class="invalid-feedback">
                            <div *ngIf="f.Email.errors.email  && submitted">Email must be a valid email address</div>
                    </div> -->
                    <div  *ngIf="(f.Email.touched || submitted) && f.Email.errors" class="invalid-feedback">
                            <div class="errorMsgAlignment" *ngIf="f.Email.errors.required">Email is required</div>
                            <div class="errorMsgAlignment" *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                    </div>

<!--    
                <div class="error_box">
                    <div *ngIf="signupForm.submitted && f.Email.errors">
                        <div *ngIf="f.Email.errors.required" class=" errorValidate alert alert-danger">Email is required
                        </div>
                        <div *ngIf="f.Email.errors.email" class=" errorValidate alert alert-danger"> Email must be a
                            valid email address</div>
                    </div>
                </div> -->
                </div>               

            </div>
        </div>
        <div class="form-group col-sm-12 col-md-7  col-lg-7 input-icons">
            <div class="input-group">               
                <div class="left-inner-addon" align="left">
                <input type="password" formControlName="Password" maxlength="20" class="password form-control input-field"
                 placeholder="Password" [ngClass]="{ 'is-invalid': (f.Password.touched || submitted) && f.Password.errors}" (keypress)=_keyPress($event)>
                 <img role="img"  src="assets/password_grey.svg" />
                 <!-- <div *ngIf="f.Password.errors" class="invalid-feedback">
                        <div *ngIf="f.Password.errors.minlength && submitted">Password length must be at least 6 characters</div>
                </div> -->
                <div *ngIf="(f.Password.touched || submitted) && f.Password.errors" class="invalid-feedback">
                        <div class="errorMsgAlignment" *ngIf="f.Password.errors.required">Password is required</div>
                        <div class="errorMsgAlignment" *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
                </div>

                <!-- <div class="error_box">
                    <div *ngIf="signupForm.submitted && f.Password.errors">
                        <div *ngIf="f.Password.errors.required" class="   alert alert-danger"> Password is
                            required
                        </div>
                        <div *ngIf="f.Password.errors.minlength" class="   alert alert-danger">Password
                            length must be at least 6 characters

                        </div>
                    </div>
                    </div> -->
                </div>               
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-7  col-lg-7 input-icons">
            <div class="input-group">            
                <div class="left-inner-addon" align="left">
                <input type="password" formControlName="ConfirmPassword" maxlength="20" class="password form-control input-field"
                    placeholder="Confirm Password" [ngClass]="{ 'is-invalid': (f.ConfirmPassword.touched || submitted) && f.ConfirmPassword.errors}" (keypress)=_keyPress($event)>
                    <img role="img"  src="assets/password_grey.svg" />
                    <!-- <div *ngIf="f.ConfirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.ConfirmPassword.errors.mustMatch  && submitted">Password must match</div>
                            <div *ngIf="f.ConfirmPassword.errors.minlength  && submitted">Confirm password length must be at least 6 characters</div>
                    </div> -->
                    <div *ngIf="(f.ConfirmPassword.touched || submitted) && f.ConfirmPassword.errors" class="invalid-feedback">
                            <div class="errorMsgAlignment" *ngIf="f.ConfirmPassword.errors.required">Confirm password is required</div>
                            <div class="errorMsgAlignment" *ngIf="f.ConfirmPassword.errors.minlength">Confirm password length must be at least 6 characters</div>
                            <div class="errorMsgAlignment" *ngIf="f.ConfirmPassword.errors.mustMatch">Password must match</div>
                    </div>
                    <!-- <div *ngIf="(signupForm.submitted && f.ConfirmPassword.errors)" class="error_box">
                        <div *ngIf="f.ConfirmPassword.errors.required" class="errorValidate  alert alert-danger">Confirm password is required
                        </div>
                       
                        <div *ngIf="f.ConfirmPassword.errors.minlength" class="errorValidate  alert alert-danger">Confirm password length must be at least 6
                                characters
                        </div>
                        <div *ngIf="f.ConfirmPassword.errors.mustMatch" class="errorValidate  alert alert-danger">Password must match
                        </div>                    

                    </div> -->
                </div>  
            </div>
        </div>
        <div class="form-group col-sm-12  col-md-7  col-lg-7 submit">
            <button type="submit"    class="btn btn-primary form-control submit">SIGN UP</button>
        </div>
        <!-- [disabled]="!registrationForm.valid"  -->
    </form>
    </div>
    
</div>
