<div ngxUiLoaderBlurred>
  <span class="search_sticky">
    <a class="btn btn-primary collapse_btn" data-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">
      Search More..
    </a>
  </span>
  
  <div id="collapseSearch" class="collapse dashboard_search_section bg-purple-gradient">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"> &nbsp;</div>
        <div class="col-sm-8">
          <div class="label-for-search text-center text_title">
            <h5>DISCOVER SOMETHING NEW </h5>
          </div>
          <div>
            <div class="row">
              <div class="col-md-4 city-select-wrap" align="center">
                <ng-select #select [items]="countriesData" class="select_search" [searchable]="false"
                  [(ngModel)]="selectedCity" placeholder="Search" bindLabel="CountryName" bindValue="CountryCode"
                  (search)="onSearchChangeCountry($event)" (change)="onChangedCountryStateCity($event)">
                  <ng-template ng-header-tmp>
                    <input style="width: 100%; line-height: 24px" type="text"
                      (input)="select.filter($event.target.value)" />
                  </ng-template>
                </ng-select>
              </div>
              &nbsp;&nbsp;
              <div class="col-md-7 event-input-wrap">
                <!-- <div class="input-group mb-3" *ngIf="!showAdvanceSearch">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Search for Event" aria-describedby="basic-addon1"
                    (keyup)="allEvents(eventType)" (keydown)="allEvents(eventType)" id="searchText"
                    list="dynmicUserIds" />
                </div> -->
                <ng-select [items]="advSearchResponse" class="advance_filter" bindLabel="Name" bindValue="Name"
                  groupBy="Group" placeholder="Search for Events, Organizer Artist and Skill" dropdownPosition="bottom"
                  [clearOnBackspace]="true" notFoundText="Data not found." (change)="quickEventSearch($event)"
                  (search)="onAdvanceSearchChange($event)" (blur)=OnBlue()>
                  <ng-template ng-label-tmp let-item="item">
                    <img height="35" width="35" [src]="item.ProfileImageURL" />
                    <b>{{item.Name}}</b> is cool
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div *ngIf="item.ProfileImageURL!=null; else elseBlock">
                      <img height="35" width="35" [src]="item.ProfileImageURL" />
                      <b class="user_name">{{item.Name}}</b>
                    </div>
                    <ng-template #elseBlock>
                      <b class="user_name">{{item.Name}}</b>
                    </ng-template>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">&nbsp; </div>
      </div>
      <div class="col-sm-2"> &nbsp;</div>
    </div>
  </div>

  <section class="featured-blog  main_content_banner">

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3"> &nbsp;</div>
        <div class="col-sm-6">
          <div class="toggle_buttons">

            <ul class="nav " role="tablist">
              <li class="nav-item">
                <a class="nav-link btn  btn-sm btn_up_pend  btn-secondary upEvent active" data-toggle="tab"
                  (click)="allEvents('upComing',selectedCountry,false)" href="#upcomingEvent">UPCOMING EVENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn_up_pend  pendEvent btn-secondary" data-toggle="tab"
                  (click)="allEvents('pastEvents',selectedCountry,false)" href="#pendingEvent">PAST EVENTS</a>
              </li>
              <li class="nav-item" *ngIf="Loginchecker && userType!='Artist'">
                <a class="nav-link btn btn-sm btn_up_pend  pendEvent btn-secondary" data-toggle="tab"
                  (click)="allEvents('upComing',selectedCountry,true)" href="#privateEvent">PRIVATE EVENTS</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>

    <div class="col-sm-4">&nbsp;</div>


    <div class="container">
      <app-event-category></app-event-category>

    </div> <!-- container end -->

    <div class="tab-content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <div class="row dashboard">
              <div class="col-md-12 filter_block">
                <div class="accordion" id="filter">
                  <div class="category_block">
                    <div class="card_header_block" id="headingTwo">
                      <h2 class="mb-0 header_tab">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                          data-target="#collapseOne"> Filter by, Date</button>
                      </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingTwo" data-parent="#filter">
                      <div class="card-body" *ngIf="this.eventType != 'pastEvents'; else elseBlock">
                        <div class="custom-control custom-radio  mb-3 date_filter" *ngFor="let dateData of dateFilter">
                          <input type="radio" class="custom-control-input" id="{{dateData.value}}"
                            name="defaultExampleRadios" [(ngModel)]="dateFilterRadioSelected" [value]="dateData.value"
                            (change)="onDateFilterItemChange(dateData)" />
                          <label class="custom-control-label" for="{{dateData.value}}">{{dateData.name}}</label>
                        </div>
                      </div>

                      <ng-template #elseBlock>
                        <div></div>
                        <div class="custom-control custom-radio  mb-3 date_filter"
                          *ngFor="let datePastData of dateFilterForPastEvent">
                          <input type="radio" class="custom-control-input" id="{{datePastData.value}}"
                            name="defaultExampleRadios" [(ngModel)]="dateFilterRadioSelected"
                            [value]="datePastData.value" (change)="onDateFilterItemChange(datePastData)" />
                          <label class="custom-control-label" for="{{datePastData.value}}">{{datePastData.name}}</label>
                        </div>
                      </ng-template>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row dashboard_rating" *ngIf="this.eventType == 'pastEvents'">
              <div class="col-md-12 filter_block">
                <div class="accordion" id="filter">
                  <div class="category_block">
                    <div class="card_header_block" id="headingTwo">
                      <h2 class="mb-0 header_tab">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                          data-target="#collapseTwo">Filter by, Ratings</button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#filter">
                      <div class="card-body">
                        <div class="searchRating" (click)="searchEventByRating('4 star & Up')">
                          <star-rating value="4" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black"
                            size="24px" readonly="true"></star-rating>
                          <span class="star_class">4 star & up</span>
                        </div>
                        <div class="searchRating" (click)="searchEventByRating('3 star & Up')">
                          <star-rating value="3" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black"
                            size="24px" readonly="true"></star-rating>
                          <span class="star_class">3 star & up</span>
                        </div>
                        <div class="searchRating" (click)="searchEventByRating('2 star & Up')">
                          <star-rating value="2" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black"
                            size="24px" readonly="true"></star-rating>
                          <span class="star_class">2 star & up</span>
                        </div>
                        <div class="searchRating" (click)="searchEventByRating('1 star & Up')">
                          <star-rating value="1" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black"
                            size="24px" readonly="true"></star-rating>
                          <span class="star_class">1 star & up</span>
                        </div>

                        <!-- <div class="custom-control custom-radio  mb-3 date_filter" *ngFor="let dateData of dateFilter">
                          <input type="radio" class="custom-control-input" id="{{dateData.value}}"
                           name="defaultExampleRadios" [(ngModel)]="dateFilterRadioSelected" [value]="dateData.value" (change)="onDateFilterItemChange(dateData)"/>
                          <label class="custom-control-label" for="{{dateData.value}}">{{dateData.name}}</label>
                        </div>  -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template [ngIf]="eventDataLength>0">
            <div class="col-md-10">
              <div id={{eventTabName}} class="container-fluid tab-pane active "><br>
                <div class="row">
                  <div class="col-md-4"
                    *ngFor="let upCompData of eventsResponse | paginate: { itemsPerPage: 6, currentPage: p }">
                    <a routerLinkActive="active" class="card_event_view" (click)="eventClick(upCompData.Id)">
                      <div class="card ">
                        <div class="blog-box">
                          <div class="card_images">
                            <div *ngIf="upCompData.EventImageUrl != null; else defaultEventImage">
                              <!-- <div class="sharing_icon" (click)="shareModalClick()">
                               <i class="fa fa-share-alt shareIcon" aria-hidden="true"></i>
                              </div>  -->
                              <img src="{{upCompData.EventImageUrl}}" alt="blog1" />
                            </div>
                            <ng-template #defaultEventImage>
                              <img src="../../../assets/images/eventDetails_default.jpg" alt="blog1" />
                            </ng-template>
                          </div>
                          <h3 class="card_text" title="{{upCompData.EventName}}">
                            {{ (upCompData.EventName.length>18)? (upCompData.EventName | slice:0:18)+'...':(upCompData.EventName)}}

                            <span *ngIf="loginId == upCompData.UserId && eventType == 'upComing' ">
                              <i class="fa fa-star start_icon" aria-hidden="true"></i>
                            </span>
                          </h3>

                          <div *ngIf="upCompData.EventStart == upCompData.EventEnd; else elseBlock">
                            <p class="event_dates">
                              <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                              {{upCompData.EventStart | date : 'MM/dd/yyyy' }}
                            </p>
                          </div>
                          <ng-template #elseBlock>
                            <p class="event_dates">
                              <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                              {{upCompData.EventStart | date : 'MM/dd/yyyy' }} To
                              {{upCompData.EventEnd | date : 'MM/dd/yyyy'}}
                            </p>
                          </ng-template>

                          <div *ngIf="upCompData.EventStart == upCompData.EventEnd; else elseBlockTime">
                            <div class="event_dates_time">
                              <i class="fa fa-clock" aria-hidden="true"></i>
                              {{upCompData.EventStart | date : 'h:mm a'}} To {{upCompData.EventEnd | date : 'h:mm a'}}
                            </div>
                          </div>
                          <ng-template #elseBlockTime>
                            <div class="event_dates_time">
                              <i class="fa fa-clock" aria-hidden="true"></i>
                              {{ upCompData.EventStart |date : 'h:mm a'}} To {{ upCompData.EventEnd |date : 'h:mm a'}}
                            </div>
                          </ng-template>
                          <p class="city_name">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            {{upCompData.CityName}}, {{upCompData.StateName}}, {{upCompData.CountryName}} </p>

                          <div class="assigned_rating" *ngIf="this.eventType == 'pastEvents'">
                            <star-rating value="{{upCompData.AverageRating}}" totalstars="5" checkedcolor="#dc3545"
                              uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                          </div>

                          <p class="description">
                            {{ (upCompData.Description.length>70)? (upCompData.Description | slice:0:70)+'...':(upCompData.Description) }}
                          </p>

                        </div>
                      </div>
                      <!-- <div (click)="shareModalClick()" style="color:red; z-index: 999;">sdfsdfjsdjfsjdkfsdjkf</div> -->
                    </a>

                  </div>

                  <div class="align-self-end ml-auto">
                    <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true"
                      responsive="true" previousLabel="Previous" nextLabel="Next"
                      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"></pagination-controls>
                  </div>
                </div>

              </div>
              <!-- </div> -->
            </div>
          </ng-template>
          <ng-template [ngIf]="eventDataLength == 0">
            <div class="error"><img src="../../../assets/images/data_not_found.jpg" class="" /></div>
          </ng-template>

          <!-- Modal -->
          <div id="mySocialShareModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create Rating</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="rating_title">Overall rating</div>
                  <p>
                    <star-rating value="1" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="40px"
                      readonly="false" (rate)="onEventRate($event)"></star-rating>
                  </p>
                  <div class="rating_error"></div>
                  <div style="margin-bottom: 15px;"><a type="button" class="btn btn-success rating_btn"
                      (click)="submitRating()">Submit Rating</a></div>
                </div>
              </div>

            </div>
          </div> <!-- modal end-->


        </div>
      </div>
    </div>
    <!--tab-content-->

  </section>
</div>