/* .container{
    padding: 0;
} */
.blog-box img{
    height: 149px;
}
.blog-box{
    margin-bottom: 0px;
}
#event_list{  
    text-align: center; 
}
.search_sticky{
    position: fixed;
    right: 0;
    z-index: 1000;
    top:61%
}
.search_sticky .collapse_btn{
    background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box!important;
    box-shadow: 0px 5px 15px #6D99FF80 !important;
    border-radius: 25px 0px 0px 25px !important;
    opacity: 1 !important;
    padding: 7px 27px!important;
    border-color: #3C6CDE!important;
}
.event_header {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: #D52845;
}
.main_content_banner{
    /* background-image: url('/assets/images/Dashboard_background.png'); */
    background-repeat: no-repeat;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin-bottom: 30px;
  }

.btn-warning{margin-bottom: 20px;}
.active {
    background-color: 'aqua';
    color : #ffffff;
  }

  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color: #0000ff;
    border-color: #504e5b;
  }

  .toggle_buttons{
    padding-top: 10px;
    display: inline-block;
}
.description{
    height: 60px;
    text-align: left;
    margin: 10px;
    font-size: 15px;
    font-family: Montserrat-Regular;
    position: relative;
    /* top: -21px; */
}
.dashboard_search_section{
    background: #683594;
}
.bg-purple-gradient {
    background-image: linear-gradient(to right, #683594 0%, #1e0434bf 100%) !important;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.city-select-wrap button.btn.btn-outline-dark.dropdown-toggle {
    background: #fff;
    cursor: pointer;
    height: 40px;
}
.btn-outline-dark:hover{
    background: #FFF!important;
    color: #000;
}
.text_title{
    color:#ffffff;  
    margin-top: 20px;
}
.advance_search_bt{
    color: #fff;
    cursor: pointer;
    margin-top: 6px;
}
.blog-box h3{
    margin: 10px 5px 0 0!important;
    font-size: 16px;
    text-transform: capitalize;
}


:host >>> .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled{
    color: #cbcbcb!important;
}

.card_images {
    height: 150px;
    border-bottom: 1px solid #dcdcdc;
    background: black;
   
}
.card_text{
    font-size: 16px;
    height: 35px;
    margin: 10px 0px 0px;
    font-family: Montserrat-SemiBold;
    color: crimson;
}
.city_events_text{color:#683594}
.sharing_icon {
    position: absolute;
    right: 4px;    
    top: 0px;
    width: 100%;
    border-radius: 3px;
    height: 30px;
    left: 0;
    float: right;
    text-align: right;
    justify-content: space-between;
    padding: 6px 10px;
    background: linear-gradient(180deg,rgba(0,0,0,.7) 0,transparent 95%);
}
.sharing_icon .sharingtag{
    position: relative;  
    font-size: 1.5rem;
}
.event_dates {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;    
    font-family: Montserrat-Regular;
}
.event_dates_time {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    margin-top: -14px;
    font-family: Montserrat-Regular;
    color: #666;
}
.error{
    margin: 0 25%;
}
.city_name {
    text-align: left;
    margin-top: 7px;
    margin-left: 10px;
    font-size: 12px;
    font-family: Montserrat-Regular;
    font-style: normal;
}
.assigned_rating {   
    text-align: left;
    margin-left: 8px;
    position: relative;
    top: -9px;
}
a.card_event_view {
    color: #000;
    cursor: pointer;
    text-decoration: none;  
}
.start_icon{
    float: right;
    margin: 0px 10px;
    color: blueviolet;
}
.searchRating{
    display: flex;
    /* margin-left: 40px; */
    cursor: pointer;
}
.star_class{
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
}
.mat-form-field{   
    width: 100%;
}
#advanceSearch {
    border: none;
    padding-bottom: 13px;
    padding-left: 10px;   
}
 :host >>> .mat-form-field-infix{
    background: #ffffff!important;
    border-radius: 5px !important;
    height: 48px!important;
}
:host >>> .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child{
    padding-left :0px
}
b.user_name {
    margin-left: 20px;
}
@media screen and (max-width: 601px){
    .ngx-pagination.responsive .small-screen {    
        color: #000;
    }
}

/* silder css start*/
.dashboard #filter{
    position: relative;   
}
.dashboard .card-body{
    padding:0;
}
.dashboard .category_block{  
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}
.dashboard .card_header_block{
    border-bottom: 1px solid #dcdcdc;
    /* background-color: darkslateblue;
    border-right: 1px solid darkslateblue; */
    background: transparent url('/assets/images/Warstwa3kopia.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
}
.dashboard .filter_block{
    padding: 0px;
}
.dashboard .btn-link{
    color: #FFFFFF;
}

.dashboard .date_filter{
    display: table;
    margin: 5px;  
    font-size: 14px;
}
.dashboard .custom-control-label {
    color: #000;
}
.main_content_banner .tab-content {
    margin-top: 30px;
}

.dashboard_rating #filter{
    position: relative;   
}
.dashboard_rating .card-body{
    padding: 0px;
}
.dashboard_rating .category_block{  
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}
.dashboard_rating .card_header_block{
    border-bottom: 1px solid #dcdcdc;
    /* background-color: darkslateblue;
    border-right: 1px solid darkslateblue; */
    background: transparent url('/assets/images/Warstwa3kopia.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
}
.dashboard_rating .filter_block{
    padding: 0px;
}
.dashboard_rating .btn-link{
    color: #FFFFFF;
}


/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-width: 667px) {
   
}
/* iPhone 5 ----------- */ /* iPhone 4 ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) {

}
