.carousel-inner img {
    width: 60%;
    height: 100%;
}

 
  .carousel-caption {
    font-size: 18px;
  }
  
  .carousel-item>img {
    width: 100%
  } 
  #slider .carousel-item {
    height: 400px;
    flex: 1;
}
.event_btn{
  background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box!important;
  box-shadow: 0px 5px 15px #6D99FF80 !important;
  border-radius: 25px !important;
  opacity: 1 !important;
  padding: 7px 27px!important;
  border-color: #3C6CDE!important;
}
