<div class="carousel slide" id="slider" data-ride="carousel">
  <!--indicators-->
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" id="slide1">

      <div class="carousel-caption">
        <!-- CREATE EVENTS AND START SELLING TICKETS -->
      </div>

      <img src="/assets/images/banners/event_banner_one_new.png">
      <div class="carousel-caption">
        <h5>CREATE EVENTS AND START SELLING TICKETS</h5>
        <span *ngIf="Loginchecker && userType =='Organizer'">
          <a type="button" class="btn btn-success event_btn" routerLinkActive="active" (click)="screenRedirect();" >CREATE EVENT</a>
        </span>
        <div *ngIf="!Loginchecker">
          <a type="button" class="btn btn-success event_btn" routerLinkActive="active" routerLink="Login">CREATE EVENT</a>
        </div>
        <!-- <div *ngIf="Loginchecker && userType =='Artist'">
          <a type="button" class="btn btn-success" routerLinkActive="active"
            routerLink="create-artist-schedule/newSchedule">CREATE ARTIST SCHEDULE</a>
        </div> -->
      </div>
    </div>
    <!-- routerLink="events/new" -->
    <div class="carousel-item" id="slide2">
      <img src="/assets/images/banners/event_banner_two_new.jpg" >
      <div class="carousel-caption">
        <h5>CREATE EVENTS AND START SELLING TICKETS</h5>
        <span *ngIf="Loginchecker && userType =='Organizer'"> 
          <a type="button" class="btn btn-success event_btn" routerLinkActive="active" (click)="screenRedirect();" >CREATE EVENT</a>
        </span>
        <div *ngIf="!Loginchecker">
          <a type="button" class="btn btn-success event_btn" routerLinkActive="active" routerLink="Login">CREATE EVENT</a>
        </div>
        <!-- <div *ngIf="Loginchecker && userType =='Artist'">
          <a type="button" class="btn btn-success" routerLinkActive="active" routerLink="create-artist-schedule/newSchedule">CREATE
            ARTIST SCHEDULE</a>
        </div> -->
      </div>
    </div>

    <div class="carousel-item" id="slide3">
      <img src="/assets/images/banners/event_banner_one.jpg" >
      <div class="carousel-caption">
        <h5>CREATE EVENTS AND START SELLING TICKETS</h5>
        <span *ngIf="Loginchecker && userType =='Organizer'">
          <a type="button" class="btn btn-success event_btn" routerLinkActive="active" (click)="screenRedirect();">CREATE EVENT</a>
        </span>
        <div *ngIf="!Loginchecker">
          <a type="button" class="btn btn-success event_btn" routerLinkActive="active" routerLink="Login">CREATE EVENT</a>
        </div>
        <!-- <div *ngIf="Loginchecker && userType =='Artist'">
          <a type="button" class="btn btn-success" routerLinkActive="active" routerLink="create-artist-schedule/newSchedule">CREATE
            ARTIST SCHEDULE</a>
        </div> -->
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>