.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bg-purple-gradient {
    /* background-image: linear-gradient(to bottom, #ff99cc 0%, #33ccff 100%) !important; */
    background-image: linear-gradient(to right, #683594 0%, #1e0434bf 100%) !important;
}

.common_search{
    background: #f6fafd;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 75px;
    height: 75px;
}
.addNewEventbtn{
    margin-top: 20px;
    text-align: right;
}
.addNewEventbtn .btn-circle.btn-xl {
    width: 45px;
    height: 45px;
    padding: 10px 9px;
    border-radius: 35px;
    font-size: 17px;
    line-height: 1.3;
}
.addNewEventbtn .plus_icon{
    color: #fff;
}
/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-width: 667px) {
    .search_box {
        position: relative;
        top: -25px;
    }
    
}

/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) {
    .search_box {
        position: relative;
        top: -25px;
    }
}

/* iPhone 4 ----------- */