<div class="bg-purple-gradient common_search">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"> &nbsp;</div>
      <div class="col-md-8">
        <div class="label-for-search text-center text_title">
          <!-- <h5>DISCOVER SOMETHING NEW </h5> -->
        </div>
        <div>
          <div class="row">
            <div class="col-md-2 city-select-wrap" align="center">
                <!-- <ng-select #select [items]="countriesData" 
                class="select_search"
                [searchable]="false"                  
                [(ngModel)]="selectedCity"
                placeholder="Search" 
                bindLabel="CountryName" 
                bindValue="CountryCode"
                (search)="onSearchChangeCountry($event)"
                (change)="onSelectionChangedCountry($event)"
                >
                <ng-template ng-header-tmp>
                    <input style="width: 100%; line-height: 24px" type="text" (input)="select.filter($event.target.value)"/>
                </ng-template>
                </ng-select> -->
            </div>
           <!-- &nbsp;&nbsp; -->
            <div class="col-md-8 event-input-wrap">
              <div class="input-group mb-3 search_box">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control"  placeholder="Search for Name, Country, State, City" aria-describedby="basic-addon1"
                  (keyup)="searchUserKey($event.target.value)" autocomplete="off"  id="searchText"
                  list="dynmicUserIds" />
              </div>
              
             
                <!-- <ng-select [items]="allOrganizerList" 
                class="advance_filter"
                bindLabel="FirstName" bindValue="FirstName" 
                  placeholder="Search" dropdownPosition="bottom"
                  [clearOnBackspace]="true" notFoundText="Data not found." (change)="onSelectionChanged($event)"
                  (search)="onSearchChange($event)">
                  <ng-template ng-label-tmp let-item="item">
                    <img height="35" width="35" [src]="item.ProfileImageURL" />
                    <b>{{item.FirstName}}</b>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div *ngIf="item.ProfileImageURL!=null; else elseBlock"> 
                        <img height="35" width="35" [src]="item.ProfileImageURL" />
                        <b class="user_name">{{item.FirstName}}</b>
                    </div>
                    <ng-template #elseBlock>
                        <b class="user_name">{{item.FirstName}}</b>
                    </ng-template>                     
                  </ng-template>
                </ng-select> -->
                        
            </div>
            <div class="col-md-2">  
              <!-- <div class="advance_search_bt" (click)="advBtnClick()">Advance Search</div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-2 addNewEventbtn" *ngIf="userType == 'Organizer'">
        <a  class="btn btn-success btn-circle btn-xl" (click)="NavigateScreen('AddEvent')">
          <i class="fa fa-plus plus_icon"></i></a> 
      </div> -->
    </div>
    <div class="row">
      <div class="col-sm-8">&nbsp; </div>
    </div>   
  </div>

</div>

