.skill_event_list{
    margin-top: 200px;
}

.skill_events .desc {
    padding: 0 10px;
    text-align: left;
    height: 80px;
    font-family: Montserrat-Regular;
}

.skill_events .card_images {
    height: 150px;
    border-bottom: 1px solid #dcdcdc;
    background: black;
}
.skill_events .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 30px;
}

.skill_events .blog-box {
    margin-bottom: 0px;
}

.skill_events .city_name {
    text-align: left;
    margin-top: 7px;
    margin-left: 5px;
    font-size: 12px;
    font-family: Montserrat-Regular;
    font-style: normal;
}
.skill_events .event_dates_time {
     text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    margin-top: -14px;
    font-family: Montserrat-Regular;
    color: #666;
}
.skill_events .event_dates {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-family: Montserrat-Regular;
}

.skill_events .blog-box h3 {
    margin: 10px 5px 0 0!important;
    font-size: 16px;
    text-transform: capitalize;
}