<app-search-bar></app-search-bar>

<div class="container skill_events">
  <div class="row">    
    <div class="col-md-12">
      <div ngxUiLoaderBlurred>
        <div class="tab-pane active skill_event_list "><br>
          <div class="row">
            <div class="col-md-12 error_message" *ngIf="SkillWiseEventListLength == 0">
              <div class="data_not_found"> <img src="../../../assets/images/data_not_found.jpg" class="" /></div>
            </div>

            <div class="col-md-3"
              *ngFor="let eventData of SkillWiseEventList | paginate: { itemsPerPage: 8, currentPage: p }">
              <a routerLinkActive="active" class="card_event_view" (click)="clickEvent(eventData.Id)">
                <div class="card ">
                  <div class="blog-box">
                    <div class="card_images">
                      <div *ngIf="eventData.EventImageUrl != null; else defaultEventImage">
                        <img src="{{eventData.EventImageUrl}}" alt="blog1" />
                      </div>
                      <ng-template #defaultEventImage>
                        <img src="../../../assets/images/eventDetails_default.jpg" alt="blog1" />
                      </ng-template>
                    </div>
                    <h3 class="card_text" title="{{eventData.EventName}}">
                      {{ (eventData.EventName.length>22)? (eventData.EventName | slice:0:22)+'...':(eventData.EventName)}}

                      <span *ngIf="organizerId == eventData.UserId && eventType == 'upComing' ">
                        <i class="fa fa-star start_icon" aria-hidden="true"></i>
                      </span>
                    </h3>

                    <div *ngIf="eventData.EventStart == eventData.EventEnd; else elseBlock">
                      <p class="event_dates">
                        <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                        {{eventData.EventStart | date : 'MM/dd/yyyy' }}
                      </p>
                    </div>
                    <ng-template #elseBlock>
                      <p class="event_dates">
                        <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                        {{eventData.EventStart | date : 'MM/dd/yyyy' }} -
                        {{eventData.EventEnd | date : 'MM/dd/yyyy'}} {{ eventData.EventStart |date : 'h:mm a'}}
                      </p>
                    </ng-template>

                    <div *ngIf="eventData.EventStart == eventData.EventEnd; else elseBlockTime">
                      <div class="event_dates_time">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{eventData.EventStart | date : 'h:mm a'}} To {{eventData.EventEnd | date : 'h:mm a'}}
                      </div>
                    </div>
                    <ng-template #elseBlockTime>
                      <div class="event_dates_time">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{ eventData.EventStart |date : 'h:mm a'}} To {{ eventData.EventEnd |date : 'h:mm a'}}
                      </div>
                    </ng-template>

                    <p class="city_name">
                      <i class="fa fa-location-arrow" aria-hidden="true"></i>
                      {{eventData.CityName}}, {{eventData.StateName}}, {{eventData.CountryName}}</p>
                    <p class="desc">
                      {{(eventData.Description.length>70)? (eventData.Description | slice:0:70)+'...': eventData.Description }}
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="align-self-end ml-auto" *ngIf="SkillWiseEventListLength != 0">
              <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
                previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
