<div class="text-center">
    <app-header *ngIf="showHead"></app-header>
    <!-- <app-search-bar *ngIf="router.url == '/'"></app-search-bar> -->   
    <app-banner *ngIf="router.url == '/'"></app-banner>    
    <app-event-list *ngIf="router.url == '/'"></app-event-list>  
    <ngx-ui-loader></ngx-ui-loader> 
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    
</div>