
        .container{
            margin-bottom: 30px;
            min-height:71vh;
            height:auto;
        }


     .createArtistSchedule .date_schedule input, .date_schedule .form-control{
        background: transparent;
        border: none;
        border-bottom: 1px solid #CBCBCB;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        opacity: 1;
        padding: 10px 20px 10px 60px;
       }

       .createArtistSchedule  .date_schedule i {
        position: absolute;
        left: 30px;
        pointer-events: none;
        padding: 10px;
        color: #CBCBCB;
        text-align: center;
      }
       
      .createArtistSchedule  .event_title{
        font-size: 25px;
        margin-bottom: 20px;
        color: #D52845;
        font-family: Montserrat-SemiBold;
        margin-top: 20px;
    }


    .createArtistSchedule ::placeholder {
        color: #C9D4EB ;
        opacity: 1;
        /* font-weight: bold; */
        font-size:14px;
        font-family: Montserrat-Regular
    }


     :host >>> .mat-input-element{
        /* border-bottom: 1px solid #CBCBCB!important; */
        font-family:  Montserrat-Regular;
        /* padding: 10px 20px 10px 60px; */
        padding: 15px 20px 0px 60px;
        margin-top: -30px;
        box-shadow: none;
      }

      :host >>> .mat-form-field-label-wrapper{
        /* display: none; */
        top: -27px;
        left: 60px;
        font-family: Montserrat-Regular;
        /* font-weight: bold; */
        font-size: 15px;    
      }
      :host >>> .mat-form-field-appearance-legacy .mat-form-field-label {
        color: #C9D4EB;
       }
      :host >>> span.mat-placeholder-required.mat-form-field-required-marker {
      display: none;
      }

      
/*       
      :host >>> .mat-error {
        display: block;
        width: 100%;
        margin-top: .25rem;
        font-size: 13px;
        font-family: Montserrat-Regular;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        text-align: center;
        border: 1px solid #f8d7da;
        padding: 10px;
        letter-spacing: 0.35px;
      } */
      :host >>> .mat-error {
        font-size: 13px;
        font-family: Montserrat-Regular;
        color: #D52845; 
        text-align: center;
      }

      :host >>> .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #CBCBCB;
    }

    /* :host >>> input#mat-input-1 {
      box-shadow: none;
  } */


      .createArtistSchedule  .error_box{
        width: 100%;
        margin-top: .25rem;
       font-size: 13px; 
        /* color: #dc3545;  */
        color: #721c24;
        background-color: #f8d7da;
       
      }

      
      .createArtistSchedule .errorValidate{
      /* font-size: 13px; */
      /* font-family: Montserrat-Regular; */
      font-size: 14px;
      font-family: Montserrat-Regular;
      color: #D52845; 
      text-align: center;
      /* letter-spacing: 0.35px;
      opacity: 1;
      text-align:center;
      padding: 10px;  */
    }

    .createArtistSchedule .venue.form-control{
        border:none;
        padding-bottom: 33px;
        padding-left: 0px;
    }

    .createArtistSchedule select.cityAlign{
        margin-top: 15px;
    }

    .createArtistSchedule select.dropdownicon{
        background-image:url(/assets/images/Dropdownimage.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-origin:content-box;
      }

      .createArtistSchedule select.form-control {
        border: none;
        border-bottom: 1px solid  #CBCBCB;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        opacity: 1;
        text-align:left;
        font-family: Montserrat-Regular; 
        letter-spacing: 0;
        /* color: #C9D4EB; */
        -webkit-appearance: none; 
        font-size: 16px;
        padding: 3px 20px 0px 60px;
      }

      /* :host >>> select.form-control.drop-down.dropdownicon.ng-untouched.ng-pristine.ng-valid,
      select.form-control.drop-down.dropdownicon.ng-valid.ng-dirty.ng-touched{
          color: black;
      }
      :host >>>   select.form-control.count.dropdownicon.ng-untouched.ng-pristine.ng-valid,
      select.form-control.count.dropdownicon.ng-valid.ng-dirty.ng-touched{
        color: black;
      }
      :host >>> select.form-control.dropdownicon.ng-untouched.ng-pristine.ng-valid,
      select.form-control.dropdownicon.ng-valid.ng-dirty.ng-touched{
        color: black;
      }
      :host >>> select.form-control.dropdownicon.ng-untouched.ng-pristine.ng-valid,
      select.form-control.dropdownicon.ng-valid.ng-dirty.ng-touched{
        color: black;
      }
      select.form-control.dropdownicon.contactperson.ng-pristine.ng-touched.ng-valid,
      select.form-control.cityAlign.dropdownicon.contactperson {
        color: black;
      }
      :host >>>  select.form-control.cityAlign.dropdownicon.contactperson{
        color: #C9D4EB;
      } */

      :host >>>  .ng-valid, .ng-valid.required {
        border: none;
     }

     :host >>> .mat-form-field-underline.ng-tns-c10-0.ng-star-inserted {
      height: 0px;
  }


  .createArtistSchedule  .input-icons i { 
        /* position: absolute; 
        z-index: 999;
        left: 30px; */
        position: absolute;
        z-index: 999;
        left: 30px;
        position: absolute;
        left: 30px;
        pointer-events: none;
        padding: 5px;
        color: #CBCBCB;
        text-align: center;
    } 
      
    .createArtistSchedule .input-icons { 
        width: 100%; 
        margin-bottom: 20px; 
    } 

    .createArtistSchedule .icon { 
        padding: 10px; 
        color:#CBCBCB;
        min-width: 50px; 
        text-align: center; 
    } 


    .createArtistSchedule .saveArtistSchedule{
        top: 1011px;
        left: 195px;
        /* width: 162px; */
        height: 50px;
        background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 15px #6D99FF80;
      border-radius: 25px;
      opacity: 1;
      max-width: 100%;
      word-wrap: break-word;
      Outline: none;
      border: none;
     text-align: center;
     font-family: Montserrat-Bold;
     letter-spacing: 0;
     color: #FFFFFF;
     padding-right: 40px;
     padding-left:40px;
     margin-bottom: 30px;
     margin-top: 50px;
      }

    
    
    form select option {
        color: black
    }
    form select option:first-child {
        color: #C9D4EB;
    }

    select option:disabled {
      color:#C9D4EB;
    }

    .form-item__element--select {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      padding-right: 2em;
    }
    .form-item__element--select:invalid {
      color: #C9D4EB;
    }
    .form-item__element--select [disabled] {
      color: #C9D4EB;
    }
    .form-item__element--select option {
      color: #C9D4EB;
    }
    .populateAddress {
      border-bottom: 1px solid #CBCBCB !important;
      width: 100%;
      text-align: left;
      color: #000000;
      font-family: Montserrat-Regular;
      /* padding: 0px 0px 5px 60px; */
      padding: 2px 20px 10px 60px;
      margin-top: 0px;
 
  }

  .location_icon{
    margin-top: 40px;
    display:flex;
    color:#CBCBCB;
  }

  .ng-invalid.ng-touched, .ng-invalid.ng-submitted{ 
    /* border-bottom: 1px solid #D52845 ; */
    box-shadow: none;
    overflow-y: none;
    /* font-size: 17px; */
  }
  .custom-select.is-invalid, 
  .form-control.is-invalid, 
  .was-validated .custom-select:invalid, 
  .was-validated .form-control:invalid {
    border-bottom: 1px solid #D52845 !important;
    border-color:  #D52845 ;
    box-shadow: none; 
  }
  .errorMsgAlignment{
    text-align: center;
    font-family: Montserrat-Regular;
  }
  


 @media (max-width:736px){
.createArtistSchedule  .addressTop{
     margin-top: -25px;
  }
}

        
@media (max-width:1000px){
  .createArtistSchedule  .addressTop{
    margin-top: 0px;
  }
}

        /* IE 11 and above */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  select::-ms-expand {
    display: none;
  }

  input:-ms-input-placeholder {  
     color: #C9D4EB ;
     font-family: Montserrat-Regular;
     font-weight: bold;
     font-size: 15px;
  }
 

}
  