<div class="container createArtistSchedule">
  <div ngxUiLoaderBlurred>
    <form  [formGroup]="createArtistForm" (ngSubmit)="createArtistSchedule(createArtistForm)"
      #createArtistScheduleForm="ngForm" >
      <div class="event_title">Create Artist Schedule</div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group date_schedule">
            <i class="fa fa-calendar icon"></i>
            <input class="form-control" [min]="minDate" [(ngModel)]="FromDate" placeholder="From Date Time" formControlName="AvailableFrom" 
            readonly [owlDateTimeTrigger]="dt" [owlDateTime]="dt" required 
            [ngClass]="{ 'is-invalid': submitted && f.AvailableFrom.errors}">
            <owl-date-time #dt [hour12Timer] = "true"></owl-date-time>
            <div *ngIf="submitted && f.AvailableFrom.errors" class="invalid-feedback">
                <div class="errorMsgAlignment" *ngIf="f.AvailableFrom.errors.required">From Date Time is required</div>
           </div>
          </div>

          <div class="form-group date_schedule">
            <i class="fa fa-calendar icon"></i>
            <input class="form-control" [min]="minDate"   [(ngModel)]="ToDate" placeholder="To Date Time" formControlName="AvailableTo" 
            readonly [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" required
            [ngClass]="{ 'is-invalid': submitted && f.AvailableTo.errors}">
            <owl-date-time #dt1  [hour12Timer] = "true"></owl-date-time>
            <div *ngIf="submitted && f.AvailableTo.errors" class="invalid-feedback">
                <div class="errorMsgAlignment" *ngIf="f.AvailableTo.errors.required">To Date Time is required</div>
           </div>
           <div *ngIf="isError" class="errorValidate ">{{errorMsgCmpDate}}</div>
          </div>


          <div class="form-group input-icons">
            <div class="populateAddress"  formControlName="Address"
             *ngIf="showScheduleLocation; else hideSchedulelocation" (click)="showScheduleAddress()" >
              <i class="fa fa-location-arrow icon" aria-hidden="true"></i>
              {{showUserSchedule.Address}}
            </div>

            <ng-template #hideSchedulelocation>
              <i class="fa fa-location-arrow icon" aria-hidden="true"></i>
              <mat-google-maps-autocomplete [appearance]="appearance.LEGACY" country="us" type="geocode"
                addressLabelText="Address"  [placeholderText]= "Placeholder" requiredErrorText="Address details is required" strictBounds="true"
                formControlName="Address"   [ngClass]="{ 'is-invalid': (f.Address.touched || submitted) && f.Address.errors}"
                (onAutocompleteSelected)="onAutocompleteSelected($event)">
              </mat-google-maps-autocomplete>
            </ng-template>
          </div>

        </div>

        <div class="col-md-6 addressTop">
          <span>
            <select name="country" class=" form-control count dropdownicon contactperson
          form-item__element form-item__element--select" [(ngModel)]="getCountry"
              (change)="onCountryChange($event.target.value)" formControlName="CountryCode" required>
              <option disabled value="">Select Country</option>
              <option class="city" *ngFor="let countryd of countryList" [value]="countryd.CountryCode"
                [selected]="countryd.CountryCode == getCountry">{{countryd.CountryName}}
              </option>
            </select>

          </span>

          <span>


            <select class="form-control cityAlign dropdownicon contactperson
       form-item__element form-item__element--select" [(ngModel)]="getState" formControlName="StateCode"
              (change)="onStateChange($event.target.value)" required
              [ngClass]="{ 'is-invalid': (f.StateCode.touched || submitted) && f.StateCode.errors}">
              <option disabled value="">Select State</option>
              <option class="city" *ngFor="let state of stateList" value="{{state.StateCode}}"
                [selected]="state.StateCode == getState">
                {{state.StateName}}</option>
            </select>
            <div  *ngIf="(f.StateCode.touched || submitted) && f.StateCode.errors" class="invalid-feedback">
                <div class="errorMsgAlignment" *ngIf="f.StateCode.errors.required">This field is required</div>
        </div>
          </span>

      
          <span>
            <select class="form-control cityAlign dropdownicon contactperson
           form-item__element form-item__element--select" [(ngModel)]="city_id" formControlName="CityId" 
           required [ngClass]="{ 'is-invalid': (f.CityId.touched || submitted) && f.CityId.errors}">
              <option disabled value="">Select City</option>
              <option *ngFor="let city of cityList" [ngValue]="city.Id"
              [selected]="city.Id == city_id">{{city.CityName}}</option>
            </select>
            <div *ngIf="(f.CityId.touched || submitted) && f.CityId.errors" class="invalid-feedback">
                <div  class="errorMsgAlignment"  *ngIf="f.CityId.errors.required">This field is required</div>
            </div>
          </span>
        </div>


        <div *ngIf="scheduleId != 'newSchedule'; else createSchedule" class="col-md-12 col-sm-12 col-lg-12"
          align="center">
          <button class="saveArtistSchedule" type="submit">UPDATE ARTIST SCHEDULE</button>
        </div>
        <ng-template #createSchedule>
          <div class="col-md-12 col-sm-12 col-lg-12" align="center">
            <button class="saveArtistSchedule" type="submit">CREATE ARTIST SCHEDULE</button>
          </div>
        </ng-template>
      </div>      

    </form>
  </div>
  
</div>