<div class="container-fluid" align="center">
    <div ngxUiLoaderBlurred>

        <div class="">
        </div>
        <div class="container">
            <div class="col-md-12 from_content">
                <div class="event_title" *ngIf="editEventId !='new'; else updateTemp">Update Event</div>
                <ng-template #updateTemp>
                    <div class="event_title">Create Event</div>
                </ng-template>

                <div class="stepwizard">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                            <p>Basic</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-2" type="button" class="btn btn-secondary  btn-circle">2</a>
                            <p>Gallery Photo</p>
                        </div>
                    </div>
                </div>


                <form name="eventsAddForm" [formGroup]="eventsAddForm" (ngSubmit)="onAddEvents()" autocomplete="off"
                    class="events-form">
                    <div class="row setup-content" id="step-1">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="content-align">
                                        <div class="form-group from_datetime col-md-12 input-icons">
                                            <div class="input-group">
                                                <i class="fa fa-flag icon" aria-hidden="true"></i>
                                                <input type="text" name="event_name" formControlName="event_name"
                                                    class="form-control input-field" data-toggle="tooltip"
                                                    title="Event Name" placeholder="Event Name" aria-label="event_name"
                                                    [ngClass]="{ 'is-invalid': submitted && f.event_name.errors }"
                                                    required="required" maxlength=150 tabindex=1>
                                                <div *ngIf="(f.event_name.touched ||submitted) && f.event_name.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.event_name.errors.required" class="">
                                                        Event name is required</div>
                                                </div>
                                                <div class="error_box">
                                                    <div *ngIf="error.isErrorEventName" class="">
                                                        {{ error.errorMessageEventName }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group from_datetime col-md-12 input-icons">
                                            <div class="input-group">
                                                <span [owlDateTimeTrigger]="dt1" class="calender_icon"><i
                                                        class="fa fa-calendar icon"></i></span>
                                                <input [owlDateTime]="dt1" [min]="minDate" data-toggle="tooltip"
                                                    title="From Date Time" [owlDateTimeTrigger]="dt1"
                                                    formControlName="from_date_time" readonly
                                                    [ngClass]="{ 'is-invalid': submitted && f.from_date_time.errors }"
                                                    name="from_date_time" placeholder="From Date Time"
                                                    class="form-control input-field date_picker" tabindex=2>
                                                <owl-date-time #dt1 [hour12Timer]="true"></owl-date-time>
                                                <div *ngIf="submitted && f.from_date_time.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.from_date_time.errors.required" class="">
                                                        From date time is required</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group uname col-md-12  input-icons">
                                            <div class="input-group">
                                                <span [owlDateTimeTrigger]="dt2" class="calender_icon"><i
                                                        class="fa fa-calendar icon"></i></span>
                                                <input [owlDateTime]="dt2" [min]="minDate" data-toggle="tooltip"
                                                    title="To Date Time" [owlDateTimeTrigger]="dt2"
                                                    formControlName="to_date_time" readonly
                                                    [ngClass]="{ 'is-invalid': submitted && f.to_date_time.errors }"
                                                    name="to_date_time" placeholder="To Date Time"
                                                    class="form-control input-field date_picker" tabindex=3>
                                                <owl-date-time #dt2 [hour12Timer]="true"></owl-date-time>
                                                <div *ngIf="submitted && f.to_date_time.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.to_date_time.errors.required" class="">
                                                        To
                                                        date time is required</div>
                                                </div>
                                                <div class="error_box">
                                                    <div *ngIf="error.isError" class="">
                                                        {{ error.errorMessage }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group uname col-md-12 input-icons">
                                            <div class="input-group" style="width: 100%;">

                                                <select
                                                    [ngClass]="{'is-invalid': submitted && f.event_category.errors }"
                                                    class="form-control select_arrow" formControlName="event_category"
                                                    [(ngModel)]="eventTypeId" tabindex=5 data-toggle="tooltip"
                                                    title="Event Category">
                                                    <option class="default_artist_category placeholder"
                                                        [selected]="true" value="null">
                                                        Event Category</option>
                                                    <option *ngFor="let eventsCatdata of eventsCategoryData"
                                                        [value]="eventsCatdata.Id"
                                                        [selected]="eventsCatdata.Id == eventTypeId">
                                                        {{eventsCatdata.EventCategoryName}}</option>
                                                </select>
                                                <div *ngIf="submitted && f.event_category.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.event_category.errors.required" class="">
                                                        Event Category is required</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group uname col-md-12  input-icons" align="left">
                                            <label class="event_visibility">Event Visibility: </label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" formControlName="IsPrivate" [value]="false"
                                                    class="custom-control-input" id="defaultInline1" name="IsPrivate"
                                                    required [(ngModel)]="isPrivateValue"
                                                    [ngClass]="{ 'is-invalid': submitted && f.IsPrivate.errors }">
                                                <label class="custom-control-label" for="defaultInline1">Public</label>
                                            </div>

                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" formControlName="IsPrivate" [value]="true"
                                                    class="custom-control-input" id="defaultInline2" name="IsPrivate"
                                                    required [(ngModel)]="isPrivateValue"
                                                    [ngClass]="{ 'is-invalid': submitted && f.IsPrivate.errors }">
                                                <label class="custom-control-label" for="defaultInline2">Private</label>
                                            </div>
                                            <div *ngIf="submitted && f.IsPrivate.errors" class="invalid-feedback">
                                                <div class="" *ngIf="f.IsPrivate.errors.required">This field is required
                                                </div>
                                            </div>
                                        </div>

                                       


                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="form-group from_datetime col-md-12  input-icons">
                                        <div class="input-group">
                                            <span class="location_icon">
                                                <i class="fa fa-file icon" aria-hidden="true"></i>
                                            </span>
                                            <textarea class="form-control rounded-0"
                                                id="exampleFormControlTextarea2" data-toggle="tooltip"
                                                title="Event Description" formControlName="event_description"
                                                [ngClass]="{ 'is-invalid': submitted && f.event_description.errors }"
                                                placeholder="Description" rows="3" tabindex=4></textarea>
                                            <div *ngIf="submitted && f.event_description.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.event_description.errors.required" class="">
                                                    Description is required</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group  uname from_datetime col-md-12  input-icons address">
                                        <span class="location_icon">
                                            <i class="fa fa-location-arrow icon" aria-hidden="true"
                                                style="top: 2px; left: 5px;"></i></span>
                                        <div class="populate_address" (click)="showAddressBox()"
                                            *ngIf="isShown; else elseBlock">
                                            {{updatedAddress}}
                                        </div>

                                        <ng-template #elseBlock>
                                            <mat-google-maps-autocomplete data-toggle="tooltip"
                                                title="Venue Details" [appearance]="appearance.LEGACY" country="{{getCountry}}"
                                                type="geocode" addressLabelText="Address"
                                                [placeholderText]="venuePlaceholder"
                                                requiredErrorText="Venue details is required"
                                                [formControlName]="venue_details"
                                                [ngClass]="{ 'is-invalid': submitted && f.venue_details.errors }"
                                                [(ngModel)]=updatedAddress strictBounds="true"
                                                (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                                (onLocationSelected)="onLocationSelected($event)">
                                            </mat-google-maps-autocomplete>
                                        </ng-template>

                                        <div *ngIf="submitted && f.venue_details.errors" class="invalid-feedback">
                                            <div *ngIf="f.venue_details.errors.required" class="">
                                                Venue details is required</div>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group uname col-md-12 input-icons country">
                                        <div class="input-group" style="width: 100%;">
                                            <select formControlName="country" data-toggle="tooltip" title="Country"
                                                [(ngModel)]="getCountry" disabled
                                                (change)="countrySelectChangeHandler($event.target.value)"
                                                [ngClass]="{'is-invalid': submitted && f.country.errors }"
                                                class="form-control select_arrow country_dropdown">
                                                <option class="default_artist_category" value="null" [selected]="true">
                                                    Country</option>
                                                <option *ngFor="let countrydata of allCountryData" class="artist_cat"
                                                    value="{{countrydata.CountryCode}}"
                                                    [selected]="countrydata.CountryCode == getCountry">
                                                    {{countrydata.CountryName}}</option>
                                            </select>
                                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                                <div *ngIf="f.country.errors.required" class="">
                                                    Country is required</div>
                                            </div>
                                            <div class="error_box">
                                                <div *ngIf="error.isErrorCountryFlag" class="">
                                                    {{ error.errorMessageCountry }}
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    
                                    <!-- <div class="form-group uname col-md-12 input-icons">
                                        <div class="input-group" style="width: 100%;">
                                            <select formControlName="state" data-toggle="tooltip" title="State"
                                                [(ngModel)]="getState"
                                                (change)="stateSelectChangeHandler($event.target.value)"
                                                [ngClass]="{'is-invalid': submitted && f.state.errors }"
                                                class="form-control select_arrow">
                                                <option class="default_artist_category" [ngValue]="null"
                                                    [selected]="true">
                                                    State</option>
                                                <option *ngFor="let statedata of allStateData"
                                                    value="{{statedata.StateCode}}"
                                                    [selected]="statedata.StateCode == getState">
                                                    {{statedata.StateName}}</option>
                                            </select>
                                            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                                <div *ngIf="f.state.errors.required" class="">
                                                    State is required</div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- <div class="form-group uname col-md-12 input-icons">
                                        <div class="input-group" style="width: 100%;">
                                            <select formControlName="city" data-toggle="tooltip" title="City"
                                                [(ngModel)]="city_id"
                                                [ngClass]="{'is-invalid': submitted && f.city.errors }"
                                                class="form-control select_arrow">
                                                <option class="default_artist_category" [ngValue]="null"
                                                    [selected]="true">
                                                    City</option>

                                                <option *ngFor="let citydata of allCityData" value="{{citydata.Id}}"
                                                    [selected]="citydata.Id == city_id">
                                                    {{citydata.CityName}}</option>
                                            </select>
                                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                                <div *ngIf="f.city.errors.required" class="">
                                                    City is required</div>
                                            </div>
                                        </div>
                                    </div> -->
                                    
                                   <!--  <div class="form-group uname col-md-12 input-icons">
                                        <div class="input-group" style="width: 100%;">
                                            <select formControlName="timeZone" data-toggle="tooltip" title="Time Zone"
                                                [(ngModel)]="timeZoneId"
                                                [ngClass]="{'is-invalid': submitted && f.timeZone.errors }"
                                                class="form-control select_arrow mdb-select md-form">
                                                <option class="default_artist_category" [ngValue]="null"
                                                    [selected]="true">
                                                    Time Zone</option>

                                                <option *ngFor="let timeZoneData of allTimeZone" class="select_options"
                                                    value="{{timeZoneData.Id}}"
                                                    [selected]="timeZoneData.Id == timeZoneId">
                                                    {{timeZoneData.TimeZone}}</option>
                                            </select>
                                            <div *ngIf="submitted && f.timeZone.errors" class="invalid-feedback">
                                                <div *ngIf="f.timeZone.errors.required" class="">
                                                    Time zone is required</div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="form-group from_datetime col-md-12  input-icons">
                                        <div class="row">
                                            <div class="form-group uname col-md-6">
                                                <img id="blah" [src]="imgEventURL || 'assets/images/event_default.jpg'"
                                                    alt="your image" />
                                            </div>
                                            <div class="form-group uname col-md-6">
                                                <div class="input-group">
                                                    <div class="row">
                                                        <div class="outer-circle ">
                                                            <div class="inner-circle">
                                                                <img class="galleryIcon" (click)="file.click()"
                                                                    src="assets/images/Gallery.svg">
                                                                <input class="invisible" style="width: 60px;"
                                                                    type="file" #file accept=".png, .jpg, .jpeg"
                                                                    name="image" (change)="fileProgress($event)" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="galleryWord">Event Cover Image</div>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="error_box">
                                                <div *ngIf="error.isErrorCoverPhotoFlag" class="">
                                                    {{ error.errorMessageCoverPhoto }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row artist_block">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="form-group uname col-md-5 input-icons">
                                            <div class="input-group">
                                                <i class="fa fa-user icon" aria-hidden="true"></i>
                                                <ng-select formControlName="artist_name"
                                                [items]="allArtistList" 
                                                class="artists_list form-control form-control-md"
                                                [searchable]="true" 
                                                [(ngModel)]="selected_artist_name"
                                                placeholder="Artists" 
                                                bindLabel="artist_fullName"
                                                bindValue="Id"
                                                notFoundText="Data not found."
                                                (change)="onArtistChange($event)" 
                                                (search)="artistFilter($event)"> 
                                                    <ng-template ng-option-tmp let-item="item" let-index="index">
                                                        <div *ngIf="item.ProfileImageURL!=null; else elseBlock">
                                                            <img height="35" width="35" [src]="item.ProfileImageURL" />
                                                            <b class="user_name">{{item.FirstName}}
                                                                {{item.LastName}}</b>
                                                        </div>
                                                        <ng-template #elseBlock>
                                                            <b class="user_name">{{item.FirstName}}
                                                                {{item.LastName}}</b>
                                                        </ng-template>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group uname col-md-5 input-icons">
                                            <div class="input-group dropdown_box">                                                   

                                                <select formControlName="artist_category"
                                                    data-toggle="tooltip" title="Artist Category"
                                                    [(ngModel)]="artist_category_name"
                                                    (change)="artistCategoryChangeHandler($event.target.value)"
                                                    class="form-control select_arrow">
                                                    <option class="default_artist_category" value="null">
                                                        Artist Category</option>
                                                    <option *ngFor="let option of artistCategoryData"
                                                        value="{{option.Id}}">
                                                        {{option.ArtistCategoryName}}</option>
                                                </select>

                                                 <div class="error_box">
                                                    <div *ngIf="error.isErrorArtistCategoryFlag"
                                                        class="">
                                                        {{ error.errorMessageArtistCategory }}
                                                    </div>
                                                </div> -->

                                        <!-- </div>
                                        </div> -->
                                        <div class="form-group uname col-md-5  input-icons">
                                            <div class="input-group" style="width: 100%;">
                                                <i class="fa fa-list-alt icon" aria-hidden="true"></i>
                                                <ng-select formControlName="artist_category"
                                                    [items]="artistCategoryList"
                                                    [multiple]="true" 
                                                    id="artist_catList"
                                                    class="artistCategory form-control form-control-md"
                                                    [searchable]="true" 
                                                    [(ngModel)]="Id"
                                                    placeholder="Select Artist Category" 
                                                    bindLabel="ArtistCategoryName"
                                                    bindValue="Id">
                                                </ng-select>
                                                <!-- <div class="ng-autocomplete">                                                 
                                                    <ng-autocomplete [data]="allArtistData"
                                                        data-toggle="tooltip" title="Artist Name"
                                                        [formControlName]="artist_name" placeHolder="Artist Name"
                                                        [searchKeyword]="keyword" (selected)='selectEvent($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate" [(ngModel)]="artist_name"
                                                        (inputCleared)='OnAutoClear()'
                                                        autocomplete="fake-artist_name">
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>                                                       
                                                        <div class="item">
                                                        <img src="{{item.ProfileImageURL}}" height="25">
                                                        <a class="artistContent" [innerHTML]="item.Name" ></a>
                                                        </div>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div class="artistContent" [innerHTML]="notFound"></div>
                                                    </ng-template>

                                                </div>
                                                <div class="error_box_art">
                                                    <div *ngIf="error.isErrorArtistAndCategoryFlag" class="">
                                                        {{ error.errorMessageArtistAndCategory }}
                                                    </div>
                                                </div> -->
                                                <!-- <div class="error_box">
                                                    <div *ngIf="error.isErrorArtistName" class="">
                                                        {{ error.errorMessageArtistName }}
                                                    </div>
                                                </div> -->
                                            </div>
                                            
                                        </div>

                                        <div class="form-group uname col-md-2 input-icons">
                                            <a class="form-control artist_btn submit_btn"
                                                (click)="addArtistToEvent()">Add
                                                Artist</a>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error_box_art">
                                                <div *ngIf="error.isErrorArtistAndCategoryFlag" class="">
                                                    {{ error.errorMessageArtistAndCategory }}
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>

                            <div class="row artist_grid" *ngIf="artist_grid_flag" align="center">

                                <div class="col-md-4 no-padding lib-item" data-category="view"
                                    *ngFor="let artistlist of addedArtistListData">
                                    <span class="close_icon text-right"
                                        (click)="removeArtistInGrid(artistlist.ArtistUserId)"><i
                                            class="fa fa-times-circle" aria-hidden="true"></i></span>
                                    <div class="lib-panel">
                                        <div class="row box-shadow">
                                            <div class="col-md-5">
                                                <img class="lib-img-show"
                                                    [src]="artistlist.ProfileImageURL || 'assets/images/Avatar.svg' ">
                                            </div>
                                            <div class="col-md-7">
                                                <div class="lib-row lib-header">
                                                    {{artistlist.Name}}
                                                    <div class="lib-header-seperator"></div>
                                                </div>
                                                <div class="lib-row lib-desc">
                                                    {{artistlist.ArtistCategoryName}}
                                                    <div class="lib-header-seperator"></div>
                                                </div>
                                                <div class="lib-row lib-desc">
                                                    {{artistlist.events_date}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="map">
                                <agm-map [latitude]="latitude" [zoom]="zoom" [longitude]="longitude"
                                    (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
                                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                                </agm-map>
                            </div>

                            <div class="row">
                                <div class="col-md-4"> </div>
                                <div class="form-group col-md-4">
                                    <button type="submit" class="btn btn-primary nextBtn form-control submit"
                                        *ngIf="editEventId !='new'; else updateTempbt">Update
                                        Event</button>

                                    <ng-template #updateTempbt>
                                        <button type="submit" class="btn btn-primary nextBtn form-control submit">Add
                                            Event</button>
                                    </ng-template>
                                </div>
                                <div class="col-md-4"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-2">

                        <div class="col-md-12">
                            <div class="event_photo_title">
                                <h5>Upload Event Photos</h5>
                            </div>
                            <div class="picture-container">
                                <div class="picture">
                                    <img src="../../../assets/images/upload_image.png" class="picture-src"
                                        id="wizardPicturePreview" title="">
                                    <input type="file" #fileOne accept=".png, .jpg, .jpeg"
                                        (change)="onSelectGalleyPhotos($event)" name="event_photos" id="wizard-picture"
                                        class="" multiple>
                                </div>
                                <h6 class=""> Choose Event Picture</h6>
                                <div class="error_box_gallery">
                                    <div *ngIf="galleryError.isErrorGalleryFlag" class="">
                                        {{ galleryError.galleryErrorMessage }}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <img *ngFor='let url of gallaryEventsUrls' [src]="url" height="150"
                                    class="galley_image_preview"> <br />
                            </div>
                            <div class="row">
                                <div class="col-md-4"> </div>
                                <div class="col-md-4">
                                    <button type="button" (click)="onAddEventsPhotos()"
                                        class="btn btn-primary form-control submit">Add
                                        Gallery Photo</button>
                                </div>
                                <div class="col-md-4"> </div>
                            </div>
                        </div>

                        <div class="row" id="gallery">

                            <div class="col-md-12 show_gallery_pics" *ngIf="!galleryPhotosLength">
                                {{galleryImgErrorMessage}}</div>
                            <div class="col-md-4 mb-4" *ngFor="let gallery of galleryPhotos">
                                <div class="modal fade" id="modal1_{{gallery.ImageId}}" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="justify-content-end">
                                                <a type="button" class="close" data-dismiss="modal">&times;</a>
                                            </div>

                                            <div class="modal-body mb-0 p-0">
                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                    <img class="embed-responsive-item" src="{{gallery.EventImageUrl}}"
                                                        allowfullscreen />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="close_icon_gallery"
                                    (click)="removeGalleryPhoto(gallery.EventId, gallery.ImageId,gallery.EventImageUrl)"><i
                                        class="fa fa-trash icon_trash" aria-hidden="true"></i></span>
                                <a><img class="img-fluid z-depth-1" src="{{gallery.EventImageUrl}}" alt="Image"
                                        data-toggle="modal" [attr.data-target]="'#modal1_'+gallery.ImageId"></a>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>