.logo{  
left: 50px;
width: 260px;
height: 240px;
background: #FFFFFF 0% 0% no-repeat padding-box;  
opacity: 2;   
}

::placeholder {
    color:#C9D4EB;
    opacity: 1;   
    font-size: 14px;
    /* font-weight: bold; */
}
textarea::-webkit-input-placeholder {  
    color: #C9D4EB !important;  
    font-size: 14px;
    /* padding: 40px 0 0 0; */
    }
.artistContent{
text-align: left!important;
}
.artistContent:focus{
    color:#000000!important;
}
.artistContent:hover{
    color:#000000!important;
}
.btn-primary{
    background-color: #007bff !important;
    border-color: #007bff !important;
}
input.form-control.input-field.ng-pristine.ng-invalid.ng-touched.is-invalid{ 
    border-bottom: 1px solid #D52845 ;
    box-shadow: none; 
  }
  .input-field.date_picker.ng-untouched.ng-pristine.ng-invalid.is-invalid{
    border-bottom: 1px solid #D52845 ;     
  }
  select.form-control.select_arrow.ng-untouched.ng-pristine.ng-invalid.is-invalid{
    border-bottom: 1px solid #D52845 ;     
  }
  input.form-control.input-field.ng-touched.ng-dirty.is-invalid.ng-invalid {
    border-bottom: 1px solid #D52845 ;  
  }  
  /* select.form-control.select_arrow.ng-pristine.ng-valid.ng-touched{
    border-bottom: 1px solid #D52845 ; 
} */
/* .show_gallery_pics{

} */
:host >>> .ng-autocomplete .autocomplete-container {
   
    box-shadow: none!important;
}
:host >>> .ng-autocomplete .autocomplete-container .input-container input{
padding-left: 38px;
border: 0;
border-bottom: 1px solid #CBCBCB;
font-size: 14px;
}
.country_dropdown{
    cursor: no-drop;
}
option.ng-star-inserted {
    color:#000000;
}
.location_icon{
    margin-top: 20px;
    /* padding: 40px 0 0 0; */
}
.event_image{
    background: transparent linear-gradient(0deg, #3D6DDE 0%, #6D99FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 65px #8364EE26;
    opacity: 1;
    background-image: url("/assets/images/Dropdown_arrow_enable.png") no-repeat right !important;
    z-index: 999;
    border-radius: 40px;
    width: 76px;
    height: 76px;
}

.upload_event_text{
    width: 76px;
    height: 76px;
    background: transparent linear-gradient(0deg, #3D6DDE 0%, #6D99FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 65px #8364EE26;
    opacity: 0;
}
.select_arrow .default_artist_category{
    color:#C9D4EB!important;
}
.select_arrow .artist_cat{
    color:#000000!important;
}
.date_picker{
    border: 0;
    border-bottom: 1px solid #CBCBCB;
    width: 100%;
    padding-left: 20px;
    background-color: #FFFFFF;
}
select.form-control.select_arrow.ng-dirty.ng-valid.ng-touched{
    color:#000000!important;
}

.select_arrow{
    /* width: 268px;   */
    border: 0;
    border-radius: 5px;   
    background: url("/assets/images/Dropdown_arrow_enable.png") no-repeat right !important;
    -webkit-appearance: none;  
    color:#C9D4EB!important;
    padding-left: 20px;
    margin-top: 7px;
}
textarea#exampleFormControlTextarea2 {
    /* border: 0; */
    /* border-bottom: 1px solid #CBCBCB; */
    font-family: Montserrat-Regular;
    font-size: 16px;
    padding-left:50px;
    margin-top: 20px;
}   


input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CBCBCB;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color:#061324;
  opacity: 1;
text-align:left;
font-family: Montserrat-Regular; 
letter-spacing: 0;
font-size: 14px;
text-transform: capitalize;
}
.from_content{
    margin-top: 90px;
    margin-bottom: 20px;
}

.submit{
    margin-bottom: 20px;
    /* background: #C82641; */
}
.submit_btn{
    margin-bottom: 20px;
    background: #C82641; 
}
button{  
margin-top: 20px;
left: 80px;
right:80px;
width: 260px;
height: 50px;
background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 15px #6D99FF80;
border-radius: 25px;
opacity: 1;
font-family: Montserrat-Regular;
font-weight: bold;
font-size: 16px;
letter-spacing: 0;
color: #FFFFFF;

}

.usernameIcon{
    color:black;   
    width: 20px;
    height: 20px;
    opacity: 1;
    margin-bottom: -72px;
    margin-left: -89px;
}

.input-icons i { 
    position: absolute; 
    z-index: 9999;
} 
  
.input-icons { 
    width: 100%; 
    /* margin-bottom: 20px;  */
} 
  .textcolor{
      color:red;
  }
.icon { 
    padding: 10px; 
    color:#CBCBCB;
    min-width: 50px; 
    text-align: center; 
} 
.icon_trash{
    padding: 10px; 
    color:red;
    min-width: 50px; 
    text-align: center;  
}
  
.input-field { 
    width: 100%; 
    padding: 20px; 
    padding-left:50px; 
} 
.validation-error,.ng-invalid,.ng-toched{
    color:red;
    overflow-y: none;
    font-size: 16px;
    font-family: Montserrat-Regular;
    font-weight: bold;
}
.event_title{
    font-size: 25px;
    margin-bottom: 20px;
    color: #D52845;
    font-family: Montserrat-SemiBold;
}
.close_icon {
    text-align: end;
    color: blue;
    position: relative;
    left: 163px;
    cursor: pointer;
    width: 19px;
    z-index: 99;
    top: 13px;
}
.photo_size{
    height: 179px!important;
    width: 179px!important;
}

.outer-circle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #CBCBCB80;
    border-radius: 50%;
    height: 76px;
    width: 76px;
    position: relative;
    opacity: 1;
    margin-top: 14px;
    cursor: pointer;
  }

  .outer-circle .inner-circle {
    position: absolute;
    background: transparent linear-gradient(0deg, #3D6DDE 0%, #6D99FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 65px #8364EE26;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    top: 50%;
    left: 50%;
    margin: -28px 0px 0px -28px;
    opacity: 1;
    cursor: pointer;
  }

  .outer-circle .galleryIcon{
    height: 26px;
    width: 21px;
    margin: 15px 0px 0px 0px;
  }

  .galleryWord{
    top: 540px;
    left: 225px;
    width: 78px;
    height: 17px;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat-Regular;
    letter-spacing: 0;
    color: #7C99D6;
    opacity: 1;
    white-space: nowrap;
    margin-top: 10px;
    margin: 30px;
    }
    .gallery_view{
        width: 100%;
    }
    .error_box{
        width: 100%;
        margin-top: .25rem;
        font-size: 80%;
        color: #dc3545;
    }

    .artist_grid{       
        margin: 20px 0px;
        border: 1px solid #E7EFFF;
        padding: 20px 40px;        
        background-color: gainsboro;       
        width: 100%;
    }

    .error_box_art{
        /* width: 40%; */
        margin-top: .25rem;
        font-size: 80%;
        color: #dc3545;
    }
.artist_block{
    border: 1px solid #E7EFFF;
    padding: 20px;  
    margin-top: 30px; 
}
.artist_block i{
    margin-top: 5px;
}

.artist_btn{
    margin-top: 7px;
    color: #ffffff!important;
    cursor: pointer;
}
.card_text {
    font-size: 15px;
    float: left;
    font-family: Montserrat-Regular;
    color: #061324;
}
.description {
    float: left;
    text-align: left;
    font-size: 16px;
    font-family: Montserrat-Regular;
    color: #7C99D6;
}
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
    padding: 0 16px;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
  }
.dates {
    text-align: left;
    float: left;
    font-size: 16px;
    font-family: Montserrat-Regular;
    color: #D52845;
}
.blog-box{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    text-align: left;
}
.card{
    margin-bottom: 20px;
} 
img#blah {
    border-radius: 79px;
    width: 55%;
    height: 130px;
    border: 2px solid #dcdcdc;
}
img#profile_pic {
    border-radius: 88px;
    height: 72px;
    width: 80%;
    margin: 5px;
    border: 1px solid #dcdcdc;
}
:host >>> .mat-input-element{
    /* border-bottom: 1px solid #CBCBCB!important; */
    padding-left: 30px;
}
:host >>> .mat-form-field-label-wrapper{
    /* display: none; */
    top: -4px;
    left: 30px;
}
:host >>> span.mat-placeholder-required.ng-star-inserted {
    display: none;
}

:host >>> input#mat-input-0 {
    color: #495057;
    padding-left: 30px;
    position: relative;
    bottom: 0px;
    border: none;
}
:host >>> input#mat-input-0:focus{
    box-shadow:none
}
:host >>> #mat-input-1{
    border: none;
    color:#000000
}
:host >>> .mat-form-field-subscript-wrapper{
    margin-top:0px
}
:host >>> .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper{
    margin-top:0px
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0px!important;
}
.address{
    margin-bottom: 0px!important;
}
.country{
    margin-bottom: 11px;
}
.artists_list{
    width: 100%;
}
:host >>> .ng-select.ng-select-multiple .ng-select-container .ng-value-container{
    padding-left: 24px;
}
:host >>> .ng-select .ng-select-container .ng-value-container .ng-placeholder{
    font-size: 16px;
    margin-left: 31px;
    font-family: 'Montserrat-Regular';
    font-weight: normal;
}
:host >>> .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
    left: 30px;
}
:host >>> .ng-value.ng-star-inserted{
    padding-left: 12px;
}
:host >>> ng-select.artistCategory {
    border: none;
}
:host >>> ng-select.artists_list{
    border: none;
}

:host >>> .ng-select .ng-select-container {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1px;
}
/* ng-select#artist_catList {
    margin-top: -7px!important;
} */
:host >>> .ng-select .ng-arrow-wrapper{
    display: none;
}
:host >>> .mat-form-field-flex{
    height: 43px;
}
:host >>> .mat-form-field-infix{
    bottom: 9px;
    padding: 0px!important;
}
          
:host >>> select.form-control.select_arrow.ng-untouched.ng-pristine.ng-valid {
    color: #495057!important;
} 
 :host >>> select.form-control.select_arrow.ng-pristine.ng-touched.ng-valid{
    color: #495057!important;
}
.loading-screen-wrapper {
    z-index: 100000;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .loading-screen-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .map{margin: 35px 0px;  border: 2px solid #CBCBCB;}
  .dropdown_box{
    width: 100%; bottom: 6px;
  }
  :host >>> .select_options{ margin-bottom: 10px!important;}
  /* :host >>>  select.form-control.select_arrow.mdb-select.md-form {
    color: #495057!important;
   } */
   :host >>> .autocomplete-container .input-container input{
       font-size: 16px;
   }
    :host >>> .btn-primary.disabled, .btn-primary:disabled{
    cursor: not-allowed;
   }
   .event_photo_title {
    color: blueviolet;
    }
   img#wizardPicturePreview{
    height: 185px;
    width: 36%;
   }
   label.event_visibility {
        color: black;
        font-weight: normal;
        font-family: Montserrat-Regular;
        margin: 0 20px;
    }

   .picture-container{
    position: relative;   
    text-align: center;
    }
   .picture{
    width: 50%;
    height: 185px;
    background-color: #80808014;
    border-style: dashed;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 93%;   
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 50%;
}
.galley_image_preview{
    margin: 5px 6px;
    border: 2px solid peru;
    width: 110px;
    height: 110px;
}
.error_box_gallery{
    width: 50%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    display: inline-block;
}
.populate_address {
    border-bottom: 1px solid #CBCBCB;
    padding-top: 8px;
    cursor: pointer;
    padding-left: 30px;
    width: 100%;
    text-align: left;
    color: #000000;
}
:host >>> .mat-error {
    color: #dc3545;
    /* background-color: #f8d7da;
    border-color: #f5c6cb; */
    text-align: center;
    padding: 10px;
    margin-top: 2px;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 13px;
    height: 34px;
    font-family: Montserrat-Regular;
    font-weight: bold;
}
:host >>> .mat-form-field.mat-form-field-invalid .mat-form-field-label{
    color: rgba(0, 0, 0, 0.54);
}

:host >>> .small-screen {       
    color: #2199e8 !important;
}
/* :host >>> .mat-form-field-appearance-legacy .mat-form-field-label{
    color:#C9D4EB;
}
:host >>> .mat-form-field.mat-form-field-invalid .mat-form-field-label{
    color:red;
} */
agm-map {
    height: 300px;
   }

/* card grid css start*/
.lib-panel {
    margin-bottom: 20px;
    margin-left: 7px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
    height: 82px;
    border-right: 1px solid #CBCBCB;
    margin-top: 17px;
    padding-right: 9px;
    margin-bottom: 10px;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
    height: 100%;
}


.lib-panel .lib-row {
    padding: 0 4px 0 6px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 16px;
    padding: 10px 5px 0 5px;
    color: #000000;
    font-family: Montserrat-Regular;
    text-align: left;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 30%;
    display: block;
    font-size: 13px;
    color: #000000;
    font-family: Montserrat-Regular;
    text-align: left;
    padding: 0;
    word-wrap: break-word;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.img-fluid {
    width: 417px;
    height: 235px;
}
.justify-content-end{
    margin-right: 1px;
}
/* card grid css end */

/*Gallery css start */
.title {
    text-align: center;
    color: #333;
    font-size: 1.6em;
  }
  .creds {
    text-align: center;
    color: #666;
    font-size: 0.85em;
  }
  .creds a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
  }
  
  span.close_icon_gallery{
    text-align: end;
    cursor: pointer;
    width: 22px;
    z-index: 99;
    float: right;
    position: relative;
    top: 35px;
    margin-right: 20px;
  }
  #gallery{
    width: 100%;
    height:567px;
    overflow-y :auto ;
    overflow-x: hidden ;
  }
/* Gallery css End */

/*step view  start*/

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
/* .stepwizard-step .btn-primary{
    border-color: transparent;
} */
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
   /* // z-order: 0; */
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.custom-control-inline {
    color: black;
    font-weight: normal;
    font-family:  Montserrat-Regular;
}

/*Step view end*/

/* media phone css start */
/* Portrait iPhone */
@media only screen and (max-width : 320px) {
    .close_icon{
        left: 69px;
    }
}
/* Portrait android */
@media only screen and (max-width: 600px) {
    .close_icon{
        left: 82px;
    }
}

/* Android Galaxy phone css end */

/* IE 11 and above Browser css*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    select::-ms-expand {
        display: none;
    }
    .outer-circle{
        box-shadow: 0px 0px 20px #D4E6F1;
      }
      input:-ms-input-placeholder {
        color:#C9D4EB;
        opacity: 1;   
        font-size: 14px;       
    }
    textarea:-ms-input-placeholder {  
        color: #C9D4EB !important;  
        font-size: 14px;
        /* padding: 40px 0 0 0; */
        }   
    .btn.btn-default.btn-circle { background-color: #CBCBCB } /* IE11 */
    .btn.btn-circle.btn-default.btn-primary{
        background-color:#007bff
    }
    .input-group > :not(:first-child).custom-select, .input-group > :not(:first-child).form-control{
        padding-top: 7px;
    }
   
}
/*Firefox css start */
@-moz-document url-prefix() {
    .btn.btn-default.btn-circle { background-color: #CBCBCB }   
   .btn.btn-circle.btn-default.btn-primary{
        background-color:#007bff
    }
  }