.container{
    min-height: 100vh;
    height: auto;
    margin-top: 173px;
}
.email_field{
    word-break: break-all;
}

.artistScheduleDetails .card-body{
    height: 240px;
}

.artistScheduleDetails .artist_rating {
    margin-top: -15px;
    display: inline-flex;
}

.artistScheduleDetails .artist_rating span{
    margin-top: 6px;
    margin-left: 10px;
}   

  .artistScheduleDetails .avatar {
    border: 1px solid #CBCBCB;
    border-radius: 50%;
    opacity: 1;
    margin-top: -6rem;
    margin-bottom: 1rem;
    max-width: 9rem;
    height: 140px;
    width: 140px;
  }
  .error_box {
    color: red;
    font-size: 14px;
    font-family: Montserrat-Regular;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.col-md-12.artist_list {
    margin-bottom: 15px;
    color: #D52845;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 20px;
}
  .artistScheduleDetails .btn-info{
    margin-top: 10px;
    font-family: Montserrat-Regular;
    cursor: pointer;
    color: white;
  }

.artistScheduleDetails .card-subtitle,
.artistScheduleDetails .card-text{
    font-size: 16px;
    font-family: Montserrat-Regular;
    line-height: 1.9;
    text-align: left;
    padding-left: 20%;
}
.artistScheduleDetails .card-title{
    font-size: 18px;
    font-family: Montserrat-Regular;
}

.artistScheduleDetails .card-img-top_bg{
    height: 168px;
}
.artistScheduleDetails .buttonSchedule{
    color: white;
    width: 85px;
}
.card_size:hover{ 
    box-shadow: 1px 8px 30px rgba(0,0,0,0.2);
 }

 .artistScheduleDetails .busyArtist{
    position: absolute;
    top: 185px;
    right: 28px;
    font-size: 22px;
    cursor: default;
 }

 .busyArtist img{
     height: 23px;
 }
i.fas.fa-map-marker-alt {
    font-size: 18px;
}
@media (min-width:768px){
    /* .artistScheduleDetails .card_height_size{
        height: 465px;
    } */
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .artistScheduleDetails .card_size{
        height: auto;
    }
    .artistScheduleDetails .card-img-top_bg{
        height: 150px;
    }

}

