<app-search-bar (searchedUser)="getAllArtistList($event)"></app-search-bar>

<div class="container artistScheduleDetails">
    <div ngxUiLoaderBlurred>
        <div class="row">
            <div class="col-md-12 artist_list">
                Artist List

            </div>
            <div class="col-md-12 error_message" *ngIf="ShowErrorMsgSchedule">
                <img src="../../../assets/images/data_not_found.jpg" class="" />
            </div>

            <div class="col-sm-8 col-md-4 col-lg-4"
                *ngFor="let artist of artistUserInfo | paginate: { itemsPerPage: 6, currentPage: p }"
                (click)="showArtistEventList(artist.Id)">


                <div class="card card_size">
                    <img class="card-img-top_bg" src="../../assets/images/user_background.jpeg" alt="Bologna">
                    <div class="card-body text-center">
                        <img class="avatar rounded-circle"
                            [src]="artist.ProfileImageURL || '../../../assets/images/artist_default.jpg'" alt="Bologna">

                        <div class="card_lineHght_size">
                            <h4 class="card-title">
                                {{artist.FirstName |titlecase}}&nbsp;{{artist.MiddleName}}&nbsp;{{artist.LastName |titlecase}}
                            </h4>
                            <div class="artist_rating"> 
                                <star-rating value="{{artist.AverageRating}}" totalstars="5" checkedcolor="#28c7bf" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                                <span title="total Users">({{artist.CustomerRating}})</span>
                            </div>
                            <!-- <h6 class="card-subtitle">{{artist.ArtistCategoryName |titlecase}}</h6> -->
                            <div class="card-text"
                                *ngIf="artist.ContactEmail != '' &&artist.ContactEmail != null ; else showEmail">
                                <i class='far fa-envelope'></i>&nbsp;
                                <a class="email_field" title="{{artist.ContactEmail}}" href="mailto:{{artist.ContactEmail}}?Subject=Hello%20 {{artist.FirstName |titlecase}}%20{{artist.LastName |titlecase}}"
                                    target="_top">{{ (artist.ContactEmail.length>20)? (artist.ContactEmail | slice:0:20)+'...':(artist.ContactEmail) }} </a>
                            </div>
                            <ng-template #showEmail>
                                <div class="card-text">
                                    <i class='far fa-envelope'></i>&nbsp;
                                    <a class="email_field" title="{{artist.Email}}"
                                        href="mailto:{{artist.Email}}?Subject=Hello%20 {{artist.FirstName |titlecase}}%20{{artist.LastName |titlecase}}"
                                        target="_top"> {{ (artist.Email.length>20)? (artist.Email | slice:0:20)+'...':(artist.Email) }}</a>
                                </div>
                            </ng-template>
                            <div class="card-text">
                                <i class="fas fa-mobile-alt"></i>
                                {{artist.PhoneNumber}}
                            </div>
                            <div class="card-text" data-toggle="tooltip" data-placement="top" title="{{artist.Address}}"
                                style="cursor: pointer;">
                                <i class="fas fa-map-marker-alt"></i>
                                <span *ngIf="artist.Address!=null">
                                    {{artist.Address |titlecase | slice:0:15}}
                                    {{artist.Address.length > 15 ? '.....' : ''}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="align-self-end ml-auto" *ngIf="!ShowErrorMsgSchedule">
                <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
                    previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>
        </div>             
    </div>
    
</div>