<app-search-bar (searchedUser)="getSearchUserList($event)"></app-search-bar>

<div class="container organizerDetails">
    <div ngxUiLoaderBlurred>
        <div class="row">
            <div class="col-md-12 error_message" *ngIf="ShowErrorMsgOrganizer">
                <img src="../../../assets/images/data_not_found.jpg" class="" />
            </div>
            <div class="col-md-12 orgList">Organizers</div>
            <div class="col-sm-8 col-md-4 col-lg-4"
                *ngFor="let organizer of organizerList | paginate: { itemsPerPage: 6, currentPage: p }"
                (click)="showOrganizerDetails(organizer.Id)">
                <div class="card card_hght">
                    <img class="card-img-top" src="../../assets/images/user_background.jpeg" alt="Bologna">
                    <div class="card-body text-center">
                        <img class="avatar rounded-circle"
                            [src]="organizer.ProfileImageURL || '../../../assets/images/artist_default.jpg'"
                            alt="Bologna">
                        <div class="card_lineHght">
                            <h4 class="card-title">
                                {{organizer.FirstName |titlecase}}&nbsp;{{organizer.MiddleName}}&nbsp;{{organizer.LastName |titlecase}}
                            </h4>
                            <div class="artist_rating">
                                <star-rating value="{{organizer.AverageRating}}" totalstars="5" checkedcolor="#28c7bf"
                                    uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                                <span title="total Users">({{organizer.CustomerRating}})</span>
                            </div>
                            <h6 class="card-subtitle">{{organizer.Organization |titlecase}}</h6>
                            <div class="card-text" *ngIf="organizer.ContactEmail != ''; else showEmail">
                                <i class='far fa-envelope'></i>&nbsp;
                                <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                                <a href="https://mail.google.com/mail/?view=cm&to={{organizer.ContactEmail}}&su=Hello%20 {{organizer.FirstName |titlecase}}%20{{organizer.LastName |titlecase}}"
                                    target="_blank">{{organizer.ContactEmail}}</a>
                                <!-- <a href="https://mail.google.com/mail/?mailto:{{organizer.ContactEmail}}?Subject=Hello%20 {{organizer.FirstName |titlecase}}%20{{organizer.LastName |titlecase}}" target="_blank">{{organizer.ContactEmail}}</a>              -->

                            </div>
                            <ng-template #showEmail>
                                <div class="card-text">
                                    <i class='far fa-envelope'></i>&nbsp;
                                    <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                                    <!-- <a href="mailto:{{organizer.Email}}?Subject=Hello%20 {{organizer.FirstName |titlecase}}%20{{organizer.LastName |titlecase}}" target="_top">{{organizer.Email}}</a> -->
                                    <a href="https://mail.google.com/mail/?view=cm&to={{organizer.Email}}&su=Hello%20 {{organizer.FirstName |titlecase}}%20{{organizer.LastName |titlecase}}"
                                        target="_blank">{{organizer.Email}}</a>

                                </div>
                            </ng-template>
                            <div class="card-text">
                                <i class='fas fa-mobile-alt'></i>&nbsp;
                                {{organizer.PhoneNumber}}
                            </div>
                            <div *ngIf="organizer.Address != null">
                                <div class="card-text" *ngIf="organizer.Address.length > 20; else shortAddress"
                                    data-toggle="tooltip" data-placement="top" title="{{organizer.Address}}"
                                    style="cursor: pointer;">
                                    <i class="fas fa-map-marker-alt"></i>&nbsp;
                                    <!-- <i class="fa fa-location-arrow icon" aria-hidden="true"></i> -->
                                    {{organizer.Address |titlecase | slice:0:20}}{{organizer.Address.length > 20 ? '.....' : ''}}
                                </div>
                                <ng-template #shortAddress>
                                    <div class="card-text">
                                        <i class="fas fa-map-marker-alt"></i>&nbsp;
                                        <!-- <i class="fa fa-location-arrow icon" aria-hidden="true"></i> -->
                                        {{organizer.Address |titlecase}}
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <!-- <a  class="btn btn-info" 
                        (click)="populateOrganizerInfo(organizer.Id)"
                        data-toggle="modal" data-target="#basicPopModal">Send Enquiry</a> -->
                    </div>
                </div>
            </div>
            <div class="align-self-end ml-auto" *ngIf="!ShowErrorMsgOrganizer">
                <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
                    previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>
        </div>
        <div class="modal fade" id="basicPopModal" tabindex="-1" role="dialog" aria-labelledby="basicPopModal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="artistForm" [formGroup]="organizerPopForm"
                        (ngSubmit)="sendEnquiryToOrganizer(organizerPopForm)">
                        <div class="modal-header">
                            <button type="button" (click)="cancelEnquiry()" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group  col-md-12  input-icons">
                                <input type="text" name="artist_name" [(ngModel)]=organizerName
                                    formControlName="organizerName" class="form-control input-field"
                                    placeholder="Artist Name" readonly aria-label="artist_emailId" tabindex=1>
                            </div>
                            <div class="form-group  col-md-12  input-icons">
                                <input type="email" name="artist_emailId" [(ngModel)]=contactEmailId
                                    formControlName="organizerEmailId" readonly class="form-control input-field"
                                    placeholder="Email Id" aria-label="artist_emailId" tabindex=1>
                            </div>
                            <div class="form-group  col-md-12  input-icons">
                                <textarea class="form-control rounded-0" formControlName="OrganizerDescription"
                                    id="exampleFormControlTextarea2" placeholder="Description" required
                                    [(ngModel)]="description"
                                    [ngClass]="{ 'is-invalid': submitted && f.OrganizerDescription.errors }" rows="3"
                                    tabindex=4></textarea>

                                <div *ngIf="(f.OrganizerDescription.touched ||submitted) && f.OrganizerDescription.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f.OrganizerDescription.errors.required" class="">
                                        Description is required</div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Send Enquiry</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>