 .container{
    min-height: 100vh;
    height: auto;
    margin-top: 175px;
}


  .organizerDetails .avatar {
    border: 1px solid #CBCBCB;
    border-radius: 50%;
    opacity: 1;
    margin-top: -6rem;
    margin-bottom: 1rem;
    max-width: 9rem;
    height: 140px;
    width: 140px;
  }
  .organizerDetails .btn-info{
    margin-top: 10px;
    font-family: Montserrat-Regular;
    cursor: pointer;
    color: white;
  }

  .organizerDetails .artist_rating {
    margin-top: -15px;
    display: inline-flex;
    }

    .organizerDetails .artist_rating span{
        margin-top: 10px;
        margin-left: 5px;     
    }

.organizerDetails .card-subtitle,
.organizerDetails .card-text{
    font-size: 16px;
    font-family: Montserrat-Regular;
    line-height: 1.9;
    text-align: left;
    padding-left: 20%;
}
.organizerDetails .card-title{
    font-size: 18px;
    font-family: Montserrat-Regular;
}
.organizerDetails .card_lineHght{
    line-height: 2.3;
}
.organizerDetails .card-img-top{
    height: 168px;
}

.card_hght:hover{ 
    box-shadow: 1px 8px 30px rgba(0,0,0,0.2);
 }

 .organizerDetails .orgList{
    margin-bottom: 15px;
    color: #D52845;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 20px;
 }
.organizerDetails i.fas.fa-mobile-alt,i.fas.fa-map-marker-alt {
    font-size: 18px;
}

.custom-select.is-invalid, 
.form-control.is-invalid, 
.was-validated .custom-select:invalid, 
.was-validated .form-control:invalid {
  border-color:  #D52845 ;
  box-shadow: none; 
}
.organizerDetails ::placeholder{
    font-family: Montserrat-Regular;
    color: #C9D4EB;
}
.organizerDetails .invalid-feedback {
    font-family: Montserrat-Regular;
}
.organizerDetails input[type="email"],textarea{
    font-family: Montserrat-Regular;
  }
.organizerDetails input[type="text"]{
    text-transform: capitalize;
    font-family: Montserrat-Regular;
}
.organizerDetails .card_hght{
    cursor: pointer;
}

@media (min-width:768px){
    .organizerDetails .card_hght{
        height: 440px;
    }
    .organizerDetails .card-img-top{
        height: 168px;
    }
}
@media (max-width:1024px){
    .organizerDetails .card_hght{
        height: auto;
    }
}

@media (max-width:1000px){
    .container{
        margin-top: 200px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* .organizerDetails .card_hght{
        height: 400px;
    } */
    .organizerDetails .card-img-top{
        height: 150px;
    }

}