.event_image{
    background-position: center;
    height: 370px;
    width:50%;
  
}

.jumbotron_banner{
    background-color:rgb(17, 17, 75);
    height: 470px;
    margin-top: 70px;
    /* padding: 50px 0px; */
}
.img_banner {
    margin: 50px 0px;
}
.circle{
    
    border-radius: 50%;
    border-color: white;
    width: 143px;
    height: 143px;
    cursor: pointer;

}
.event_title{
    color:rgb(18, 185, 26);
    font-weight:bold;
    font-family: Montserrat-Regular;
    font-size: 22px;
    margin-top: 72px; 
    margin-left: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.heading_name{
    text-align: left;
    margin-left: 31px;
    color: blue;
}
h5{
    padding-top: 15px;
    font-family: Montserrat-Regular;
    font-size:16px;
    font-weight:bold;
}
.event_description{
    font-family: Montserrat-Regular;
    font-size:16px;
    padding-left: 31px;
    padding-bottom: 20px;
    border-bottom:1px solid #CBCBCB ;    
   
}
.overview{
    padding-left: 31px;
    font-family: Montserrat-Regular;
    font-size: 22px;
    font-weight:bold;
    color:blue;

}
.venue{
    font-family: Montserrat-Regular;   
   font-weight:bold;
   color:blue;
   /* padding-bottom:7px; */

}
.address{
    font-family: Montserrat-Regular;
    font-size:16px;
    line-height: 1.0;
}
 .venue_address{
    /* padding-bottom: 6px; */
    margin-top: -32px;
}
.eventAddress{   
    font-family: Montserrat-Regular;
    font-size:16px;
}
/*.Datetime{
    padding-top:7px;
} */
.venue_card{
    background-color:#f6f1fb;
    padding-top: 44px;
    /* height:450px; */
    border:1px solid #ccc;
    height: auto;
}
.Profile_name{
    margin-bottom: 60px;
    padding-top: 30px;
    
}
.organizer{
    border-radius: 50%;
    border:3px solid;
    height:100px;
    width:110px;
    border:1px solid #CBCBCB;
}
.error_message {
    text-align: center;
    color: red;
    font-size: 16px;
    font-family: Montserrat-Regular;
}
.artistImagesize{
    width: 145px;
    height: 145px;
    border: 1px solid #CBCBCB;
    border-radius: 50%;
    opacity: 1;    
    margin-left: auto;
    margin-right: auto;
}
.artist_name{
    text-align: center;
    text-transform: capitalize;
}
.artistImage{
    margin-top: 15px;
    margin-bottom: 30px;
}
#Profiles{  
    border-bottom: 1px solid #CBCBCB;
    margin-bottom: 20px;
    margin: 0px 20px;
}
#gallery{
    border-bottom: 1px solid #CBCBCB;
    margin-bottom: 20px;
    margin: 0px 20px;
    overflow-y: auto;
    height: 518px;   
}
#rating{
    border-bottom: 1px solid #CBCBCB;
    margin-bottom: 20px;
    margin: 0px 20px;
}
.customer_rating_count{
    position: relative;
    text-align: right;
    top: -43px;
    left: 73px;
    float: right;
}
.sharing_icon_details{
    position: relative;
    top: 72px;
    font-size: 26px;
    text-align: right;
    float: right;
}
.sharing_icon_details i{
    color: #1e0434bf;
    width: 26px;
    height: 30px;
}
.icon{
    color:#007bff!important
}
.progBar{
    position: relative!important;
    left: 42px !important;
    top: -22px !important;
}
.justify-content-end{
    margin-right: 10px;
}
.container-fluid{width: 100%;}
.img-fluid{
    width: 417px;
    height: 235px;
}
.first{
    height: 10px;
    width: 30%;
    background-color: dimgray;
}
.sencond{
    height: 10px;
    background-color: lightseagreen;
}

@media(min-width:768px){
    
    div#collapsingNavbar {
        padding-left: 31px;
    }
    .purple-gradient{
        height: 60px;
    }
}

@media (min-width:1000px){
.event_image{
    background-position: center;
    height: 370px;
    width:50%;
}
/* .venue_card{
    margin-top: -33px;
} */
}
.purple-gradient{
background-image: linear-gradient(to right, #683594 0%, #1e0434bf 100%) !important;
position: absolute;
top: 0;
left: 0;
right: 0;
}

.fix-to-top-nav{
    position: fixed;
    z-index: 99;
    top: 70px;
}
.fix-to-top-gist {
    position: fixed !important;
    top: 70px;
    right:0;
    width: 25%;
    z-index: 999;
}

.Overview,.Venue{
  margin-right:30px;
  font-size:16px;
}
.header{
    padding-top: 12px;
    font-family: Montserrat-Regular;
    font-size:16px;
    padding-left: 81px;
}
li{
    color:white;   
}
li:hover{
    cursor: pointer;
}
.organizer_name{
    font-family: Montserrat-Regular;
    font-size:16px; 
    margin-top: 10px;
    text-transform: capitalize;
}
.category_title {
    margin-left: 30px;
    text-transform: capitalize;
    font-family: Montserrat-Regular;
    font-size: 16px;
    color:blue;
    font-weight: bold;
}
.category_name {
    margin-left: 10px; 
    font-size: 16px;   
    text-transform: capitalize;
    font-family: Montserrat-Regular;
    color: #212529;
}

/* IE11 and above */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.purple-gradient{
    background-image:linear-gradient(to right, #683594 0%, #1e0434 100%) !important ;
}
}

.right_menu .nav-item {
    margin-top: 13px;
}
/* toggle button css start */
.right_menu{
    display: flex;
    margin: 0 10px;
}
li#add_event {
    margin-top: 12px;
}
.fix-to-top-nav #add_event{
    position: absolute;
    right: 350px;
    top: -3px;
}

.nav_event .switch {
    position: relative;
    display: inline-block;
    width: 133px;
    height: 40px;
  }
  
  .nav_event .switch input {display:none;}
  
  .nav_event .slider {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #00c4ff; */
    background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #6D99FF80 ;
    border-radius: 25px ;
    opacity: 1 ;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .nav_event .slider:before {
    position: absolute;
    z-index: 2;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    -webkit-transition: .4s;
    transition: all 0.4s ease-in-out;
  }
  .nav_event input:checked + .slider:before{
    left: -68px;
  }
  .nav_event .slider:after {
    position: absolute;
    left: 0;
    z-index: 1;
    content: "PUBLIC";
    font-size: 16px;
    text-align: left !important;
    line-height: 41px;
    padding-left: 0;
    width: 160px;
    color: #fff;
    height: 41px;
      border-radius: 100px;
      /* background-color: #dc3545; */
      background: transparent linear-gradient(90deg, #dc3545 0%, rgb(209, 49, 129) 100%) 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 15px rgba(255, 109, 199, 0.502) ;
      border-radius: 25px ;
      opacity: 1 ;

      -webkit-transform: translateX(-160px);
      -ms-transform: translateX(-160px);
      transform: translateX(-160px);
      transition: all 0.4s ease-in-out;
  }
  
  .nav_event input:checked + .slider:after {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    /*width: 235px;*/
    padding-left: 25px;
  }
  
  .nav_event input:checked + .slider:before {
    background-color: #fff;
  }
  
  .nav_event input:checked + .slider:before {
    -webkit-transform: translateX(160px);
    -ms-transform: translateX(160px);
    transform: translateX(160px);
  }
  
  /* Rounded sliders */
  .nav_event .slider.round {
    border-radius: 100px;
  }
  
  .nav_event .slider.round:before {
    border-radius: 50%;
  }
  .nav_event .absolute-no {
    position: absolute;
    left: 0;
    color: #fff;
    text-align: right !important;
    font-size: 16px;
    width: calc(100% - 25px);
    height: 41px;
    line-height: 42px;
    cursor: pointer;
  }


/* toggle button css end  */
/* button circle css start */

.btn-circle.btn-xl {
    width: 45px;
    height: 45px;
    padding: 10px 9px;
    border-radius: 35px;
    font-size: 17px;
    line-height: 1.3
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
/* button circle css end */
.rating_btn{
    background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box!important;
    box-shadow: 0px 5px 15px #6D99FF80 !important;
    border-radius: 25px !important;
    opacity: 1 !important;
    padding: 7px 27px!important;
    border-color: #3C6CDE!important;
    color: #fff!important;
}
.fix-to-top-nav .right_menu_event{position: absolute;
    right: 397px;
    top: 0;}

.EventsRating {
    background: transparent linear-gradient(90deg, #dc3545 0%, rgb(209, 49, 129) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px rgba(255, 109, 199, 0.502);
    border-radius: 25px;
    opacity: 1;
    color: #fff;
    padding: 5px 0px;
    margin: 20px 0px;
    cursor: pointer;
}
.rating_error{
    position: absolute;
    top: 90px;
    left: 164px;
    font-size: 80%;
    color: #dc3545;
    font-family: Montserrat-Regular;
    font-weight: bold;
}
.rating_title{
    font-family: Montserrat-Regular;
    font-size: 16px;
}
.modal-title{
    font-family: Montserrat-Regular;
}
.progress_bar{
    width: 32%;
    margin: 30px 0px;
    line-height: initial;
}
.rating_loop{
    width: 30%; max-height: 50px;
}

/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-width: 667px) {
    .fix-to-top-gist{
        position: relative !important;
        top: 0;
        right: 0;
        width: 100%;
    }
    .rating_loop{
        width: 70%;
    }
}
/* iPhone 5 ----------- */ /* iPhone 4 ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) {

}