<div ngxUiLoaderBlurred>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 jumbotron_banner" *ngIf="eventDetails!=null">
        <div class="img_banner" *ngIf="eventDetails.EventImageUrl != null ;else emptyImageUrl">
          <img class="event_image" alt="Avatar" [src]="eventDetails.EventImageUrl" />
        </div>
        <ng-template #emptyImageUrl>
          <img class="event_image" src="../../../assets/images/eventDetails_default.jpg">
        </ng-template>

      </div>

      <!-- <div class="container-fluid bg-grey" align="center"> -->

      <!-- <div class="row" id="Overview"> -->

      <div class="col-md-9" align="left">
        <nav class="navbar navbar-expand-md navbar-dark purple-gradient" id="nav_sub_menu">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="collapsingNavbar">
            <ul class="navbar-nav  smooth-scroll">
              <!-- <li class="nav-item">
                <a class="nav-link  smooth-scroll" href="/">BACK</a>
              </li> -->
              <li class="nav-item active">
                <a class="nav-link  smooth-scroll" (click)="navigateToSection('Overview')">OVERVIEW</a>
              </li>
              <span *ngIf="eventDetails.ArtistsList!= null">
                <li class="nav-item">
                  <a class="nav-link" fragment="Profiles" (click)="navigateToSection('Profiles')">ARTISTS</a>
                </li>
              </span>

              <!-- if isPast is true then show rating menu on event details  -->
              <span *ngIf="isPast == 'true'">
                <li class="nav-item">
                  <a class="nav-link" fragment="rating" (click)="navigateToSection('rating')">RATING</a>
                </li>
              </span>

              <li class="nav-item" *ngIf="!galleryErrorMessage">
                <a class="nav-link" fragment="gallery" (click)="navigateToSection('gallery')">GALLERY</a>
              </li>
              <span
                *ngIf="eventDetails.OrganizerDetails!=null &&  loginId == eventDetails.OrganizerDetails.id && todayDate <= eventEndDate">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" (click)="NavigateScreen('EditEvent')"
                    data-toggle="collapse">
                    <i class="fa fa-pencil" aria-hidden="true"></i>EDIT</a>
                </li>
              </span>
              <!-- date condition use for past event remove delete button -->
              <span
                *ngIf="eventDetails.OrganizerDetails!=null && loginId == eventDetails.OrganizerDetails.id && todayDate <= eventEndDate ">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" (click)="NavigateScreen('DeleteEvent')"
                    data-toggle="collapse">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>DELETE</a>
                </li>
              </span>  

            </ul>
            <ul class="navbar-nav ml-auto">
              <span class="right_menu_event"
                *ngIf="eventDetails.OrganizerDetails!=null &&  loginId == eventDetails.OrganizerDetails.id && todayDate <= eventEndDate">

                <span class="right_menu">
                  <li class="nav-item toggDiv nav_event" id="nav_is_private">
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]="!eventDetails.IsPrivate"
                        (ngModelChange)="checkValue(eventDetails.IsPrivate?false:true)" />
                      <span class="slider round"></span>
                      <span class="absolute-no">PRIVATE</span>
                    </label>
                  </li>
                </span>

              </span>
              <li class="nav-item nav_add_event" id="add_event"
                *ngIf="eventDetails.OrganizerDetails!=null &&  loginId == eventDetails.OrganizerDetails.id && todayDate <= eventEndDate">
                <a class="btn btn-success btn-circle btn-xl" (click)="NavigateScreen('AddEvent')">
                  <i class="fa fa-plus"></i></a>
              </li>
            </ul>

          </div>
        </nav>
        <div class="row">
          <div class="col-md-10">
            <h1 class="event_title" align="left">{{eventDetails.EventName}}</h1>
          </div>
          <div class="col-md-2">
            <a class="sharing_icon_details" data-toggle="modal" data-target="#modalSocialSharing" title="Social Sharing">
              <i class="fa fa-share-alt" aria-hidden="true"></i>
            </a>
          </div>
        </div>
       

        <h6 class="category_title">EVENT CATEGORY - <span class="category_name">{{eventDetails.EventTypeName}}</span>
        </h6>
        <h5 class="heading_name">OVERVIEW</h5>
        <p class="event_description">{{eventDetails.Description}}
        </p>

        <div *ngIf="eventDetails.ArtistsList!= null">
          <h5 class="heading_name">ARTISTS</h5>
          <div class="row" id="Profiles">
            <div class="col-md-2 artistImage" *ngFor="let artistList of eventDetails.ArtistsList">
              <div class="artistImagesize">
                <img (click)="showArtistDetails(artistList.id)" class="circle" alt="Avatar"
                  [src]="artistList.ProfileImageURL || '../../../assets/images/artist_default.jpg' "
                  data-toggle="tooltip" data-placement="bottom" title="More Detail of {{artistList.Name}}" />
              </div>
              <div class="artist_name">{{artistList.Name}}</div>
            </div>
          </div>
        </div>

        <div *ngIf="!galleryErrorMessage">
          <h5 class="heading_name">GALLERY</h5>
          <div class="row" id="gallery">
            <div class="col-md-4 mb-4" *ngFor="let gallery of galleryPhotos">
              <div class="modal fade" id="modal1_{{gallery.ImageId}}" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="justify-content-end">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body mb-0 p-0">
                      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <img class="embed-responsive-item" src="{{gallery.EventImageUrl}}" allowfullscreen />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a><img class="img-fluid z-depth-1" src="{{gallery.EventImageUrl}}" alt="image" data-toggle="modal"
                  [attr.data-target]="'#modal1_'+gallery.ImageId"></a>
            </div>
          </div>
        </div>


        <div *ngIf="isPast == 'true'">
          <h5 class="heading_name">RATING</h5>
          <div class="" id="rating">
            <div *ngFor="let ratingdata of eventDetails.RatingInfo " class="rating_loop" >
              {{ratingdata.Ratings}} <i class="fa fa-star icon" aria-hidden="true"></i>
              <div class="progress progBar" style="height: 20px;">
                <div class="progress-bar"
                  [ngStyle]="{'width': ratingdata.Ratings ? ratingdata.Ratings*ratingdata.TotalCount+'%' : '30%'}">
                </div>
              </div>
              <div class="customer_rating_count" title="Total Users">({{ratingdata.TotalCount}})</div>
            </div>
          </div>
        </div>

      </div>
      <div class="venue_card col-md-3" id="venue_details">
        <div class="col-md-12" id=" Venue">
          <div class="venue_address" align="center">
            <h5 class="venue">Venue</h5>
            <p class="eventAddress Datetime">{{eventDetails.Address}}</p>
            <p class="address">{{eventDetails.EventStart | date : 'MM/dd/yyyy'}} To
              {{eventDetails.EventEnd | date : 'MM/dd/yyyy'}}</p>
            <p class="address">{{eventDetails.EventStart | date : 'shortTime'}} To
              {{eventDetails.EventEnd | date : 'shortTime'}}</p>
          </div>
        </div>
        <div class="col-md-12" align="center">
          <h5 class="venue">Organizer</h5>
          <div *ngIf="eventDetails.OrganizerDetails!=null">
            <img class="organizer" alt="Avatar"
              [src]="eventDetails.OrganizerDetails.ProfileImageURL || '../../../assets/images/artist_default.jpg' " />
            <p class="organizer_name">{{eventDetails.OrganizerDetails.Name}}</p>
          </div>
          
          <div class="EventsRating" *ngIf="isPast == 'true'">
            <a class="btn" data-toggle="modal" data-target="#myModal">WRITE A RATING FOR EVENT</a>
          </div>
        </div>
      </div>


      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Rating</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="rating_title">Overall rating</div>
              <p>
                <star-rating value="{{ratingNumber}}" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black"
                  size="40px" readonly="false" (rate)="onEventRate($event)"></star-rating>
              </p>
              <div class="rating_error">{{eventRatingErrorMessage}}</div>
              <div style="margin-bottom: 15px;"><a type="button" class="btn btn-success rating_btn"
                  (click)="submitRating()">Submit Rating</a></div>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
          </div>

        </div>
      </div>



      <!-- social sharing modal start  -->
      <div id="modalSocialSharing" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Social Sharing</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <!-- <div class="rating_title">Overall rating</div> -->
             
               <div class="row">
                 <div class="col-md-2">
                  <share-button button="facebook" text="Share" [showText]="true"></share-button>
                  </div>
                 <div class="col-md-2">
                  <share-button button="twitter" text="Tweet" [showText]="true"></share-button>
                 </div>
                 <div class="col-md-2">     
                  <share-button button="google+" text="Google+" [showText]="true"></share-button>            
                  </div>
                 <div class="col-md-2">
                  <share-button button="facebook" theme="circles-dark" icon="['fab', 'facebook-square']"></share-button>
                  <share-button button="twitter" theme="circles-dark" icon="['fab', 'twitter-square']"></share-button>
                  <share-button button="pinterest" theme="circles-dark" icon="['fab', 'pinterest-p']"></share-button>
                 </div>
                 <div class="col-md-2"></div>                 
               </div>  
            </div>     
          </div>

        </div>
      </div>
      

      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
