.logo{
  
    left: 50px;
     width: 260px;
    height: 240px;
    background: #FFFFFF 0% 0% no-repeat padding-box;  
    opacity: 2; 
    margin-top: 6%
  
}

::placeholder {
    color: #C9D4EB ;
    opacity: 1;
    font-size:14px;
    font-family: Montserrat-Regular
}

    
input[type="password"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CBCBCB;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color:black;
  opacity: 1;
  text-align:left;
  font-family: Montserrat-Regular; 
  letter-spacing: 0;
  font-size: 16px;

}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CBCBCB;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color:#D52845;
  opacity: 1;
  font: Regular 14px/22px Montserrat;

text-align:left;
font-family: Montserrat-Regular; 
letter-spacing: 0;
font-size: 16px;

}

input[type="email"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CBCBCB;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color:black;
  opacity: 1;
  text-align:left;
  font-family: Montserrat-Regular; 
  letter-spacing: 0;
  font-size: 16px;
}
.submit{
    margin-bottom: 20px;
}
button{  
margin-top: 20px;
left: 80px;
right:80px;
width: 260px;
height: 50px;
background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 15px #6D99FF80;
border-radius: 25px;
opacity: 1;
font-family: Montserrat-Regular;
font-weight: bold;
font-size: 16px;
letter-spacing: 0;
color: #FFFFFF;

}

.usernameIcon{
    color:black;
   
    width: 20px;
    height: 20px;
    opacity: 1;
    margin-bottom: -72px;
    margin-left: -89px;
}

.input-icons i { 
    position: absolute;
    color:#C9D4EB ; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 20px; 
} 
  .textcolor{
      color:red;
  }
.icon { 
    padding: 10px; 
    color:#CBCBCB;
    min-width: 50px; 
    text-align: center; 
} 
  
.input-field { 
    width: 100%; 
    /* padding: 20px;  */
    /* padding-left:50px;  */
} 
/* .validation-error,.ng-invalid,.ng-toched{
    color:red;
    overflow-y: none;
    font-size: 13px;
    font-family: Montserrat-Regular;
    font-weight: bold;
   
} */
/* .errorValidate.alert.alert-danger {
   white-space: normal;
} */
/* span.errorValidate.first.text-left {
    padding-left: 50px;
} */
.msg{
    color:red;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 13px;
    padding-left: 50px;
    
}

.left-inner-addon {
    position: relative;
    width: 620px;
    max-width: 100%;
    word-wrap: break-word;
  }
   .left-inner-addon input {
    padding-left: 50px;
  }
   .left-inner-addon img {
    position: absolute;
    left: 15px;
    pointer-events: none;
    /* top: 13px; */
    top: 11px;
    height: 17px;
    width: 15px;
  }
.error_box{
    width: 100%;
    margin-top: .25rem;
    /* font-size: 80%; */
    color: #dc3545;
    text-align: center;
}
.errorValidate{
    font-size: 13px;
    font-family: Montserrat-Regular;
    letter-spacing: 0.35px;
    color: currentColor;
    opacity: 1;
   
  }
   

  .ng-invalid.ng-touched,.ng-invalid , .ng-invalid.ng-submitted{ 
    border-bottom: 1px solid #D52845;
    box-shadow: none;
    border: none; 
    overflow-y: none;
    font-size: 16px;
    font-family: Montserrat-Regular;  
}
.custom-select.is-invalid, 
.form-control.is-invalid, 
.was-validated .custom-select:invalid, 
.was-validated .form-control:invalid {
    border-bottom: 1px solid #D52845;
    box-shadow: none;
}
.errorMsgAlignment{
    text-align: center;
}
@media (max-width:1000px){
    .logo{ 
        margin-top: 35%    
    }
  }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    input:-ms-input-placeholder {  
    color: #C9D4EB ;
    font-family: Montserrat-Regular;
    font-size: 15px;
        }
}