<div class="container highlight" align="center">

    <div ngxUiLoaderBlurred>
        <form [formGroup]="ForgotPasswordForm" name="frmRegister" autocomplete="off" class="signup-form"
            #PasswordForm="ngForm" (ngSubmit)="onSubmit(ForgotPasswordForm)" method="POST">
            <div>
                <img class="logo" src="assets/Mask.png">
            </div>
            <div class="form-group col-sm-12 col-md-7  col-lg-5 input-icons">
                <div class="input-group">
                    <div class="left-inner-addon" align="left">
                        <input type="email" spellcheck="false" class="email form-control input-field " name="Email"
                            placeholder="Email" required formControlName="Email"
                            [ngClass]="{ 'is-invalid': (f.Email.touched || submitted) && f.Email.errors}">
                        <img role="img" src="assets/email.svg" />
                        <div *ngIf="(f.Email.touched || submitted) && f.Email.errors" class="invalid-feedback">
                            <div class="errorMsgAlignment" *ngIf="f.Email.errors.required">Email is required</div>
                            <div class="errorMsgAlignment" *ngIf="f.Email.errors.email">Email must be a valid email
                                address</div>
                        </div>
                        <!-- <div class="error_box">
                            <div *ngIf="PasswordForm.submitted && f.Email.errors">
                                <div *ngIf="f.Email.errors.required" class="alert alert-danger">Email is required
                                </div>
                                <div *ngIf="f.Email.errors.email" class="alert alert-danger">Email must be a valid email
                                    address
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-7  col-lg-5 input-icons">
                <div class="input-group">
                    <div class="left-inner-addon" align="left">
                        <input type="password" class="password form-control input-field" name="password"
                            placeholder="New Password" required="required" formControlName="Password" maxlength="20"
                            [ngClass]="{ 'is-invalid': (f.Password.touched || submitted) && f.Password.errors}"
                            (keypress)=_keyPress($event)>
                        <img role="img" src="assets/password_grey.svg" />
                        <div *ngIf="(f.Password.touched || submitted) && f.Password.errors" class="invalid-feedback">
                            <div class="errorMsgAlignment" *ngIf="f.Password.errors.required">Password is required</div>
                            <div class="errorMsgAlignment" *ngIf="f.Password.errors.minlength">Password must be at least
                                6 characters</div>
                        </div>
                        <!-- <div class="error_box ">
                          
                            <div *ngIf="PasswordForm.submitted && f.Password.errors">
                                <div *ngIf="f.Password.errors.required" class="alert alert-danger"> Password is required
                                </div>
                                <div *ngIf="f.Password.errors.minlength" class="alert alert-danger">Password length must
                                    be at
                                    least 6 characters
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>

            </div>
            <div class="form-group col-sm-12 col-md-7  col-lg-5 input-icons" align="center">
                <div class="input-group">

                    <div class="left-inner-addon" align="left">
                        <input type="password" class="password form-control input-field" name="password"
                            placeholder="Confirm Password" required="required" formControlName="Confirm_password"
                            maxlength="20"
                            [ngClass]="{ 'is-invalid': (f.Confirm_password.touched || submitted) && f.Confirm_password.errors}"
                            (keypress)=_keyPress($event)>
                        <img role="img" src="assets/password_grey.svg" />
                        <div *ngIf="(f.Confirm_password.touched || submitted) && f.Confirm_password.errors"
                            class="invalid-feedback">
                            <div class="errorMsgAlignment" *ngIf="f.Confirm_password.errors.required">Confirm password
                                is required</div>
                            <div class="errorMsgAlignment" *ngIf="f.Confirm_password.errors.minlength">Confirm password
                                length must be at least 6 characters</div>
                            <div class="errorMsgAlignment" *ngIf="f.Confirm_password.errors.mustMatch">Password must
                                match</div>
                        </div>
                        <!-- <div class="error_box">
                            <div *ngIf="PasswordForm.submitted && f.Confirm_password.errors">

                                <div *ngIf="f.Confirm_password.errors.required" class="alert alert-danger">
                                    Confirm password is required
                                </div>
                                <div *ngIf="f.Confirm_password.errors.minlength" class="alert alert-danger">
                                    Confirm password length must be at least 6 characters
                                </div>

                                <div *ngIf="f.Confirm_password.errors.mustMatch" class="alert alert-danger">
                                    Password must match
                                </div>
                            </div>

                        </div> -->
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12  col-md-7  col-lg-5 submit">
                <button type="submit" class="btn btn-primary form-control  submit">Update</button>
            </div>
        </form>
    </div>
    
</div>