<app-search-bar (searchedUser)="getSearchUserList($event)"></app-search-bar>

<div class="col-md-12 panel">
</div>

<div class="container-fluid">
  <div ngxUiLoaderBlurred>
    <div class="row">
      <div class="col-md-2 artist_events_filter">
        <!-- <div *ngIf= "loginId != organizerId"> -->
        <div class="row">
          <!-- </div>  -->
          <div class="col-md-12 filter_block_date">
            <div class="accordion" id="artistFilter">
              <div class="artistCategory_block">
                <div class="card_header_artist_block" id="headingOne">
                  <h2 class="mb-0 header_tab"> 
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                      data-target="#collapseOne">Filter by, Date</button>

                      <!-- <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                        <label class="custom-control-label" for="defaultChecked2"><button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                          data-target="#collapseOne"> Date Filter For Performing Events</button></label>
                      </div>                       -->
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#artistFilter">
                  <div class="card-body">
                    <div class="custom-control custom-radio  mb-3 date_filter"
                      *ngFor="let artistdateFilter of dateFilter; let idx = index">
                      <input type="radio" class="custom-control-input" id="{{artistdateFilter.value}}"
                        [checked]="idx === 4" name="defaultExampleRadios" fragment="artistEvents"
                        (click)="navigateToSection('artistEvents')"
                        (change)="onSelectDateFilter(artistdateFilter.value)" value="artistdateFilter.value" />
                      <label class="custom-control-label"
                        for="{{artistdateFilter.value}}">{{artistdateFilter.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 filter_block" *ngIf="artistCategoryList != null">
            <div class="accordion" id="filter">

              <div class="artistCategory_block artist_cat">
                <div class="card_header_artist_block" id="headingTwo">
                  <h2 class="mb-0 header_tab">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                      data-target="#collapseTwo"> Filter by, Category</button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#filter">
                  <div class="card-body">
                    <div class="custom-control custom-checkbox mb-3" *ngFor="let artistCatList of artistCategoryList">
                      <input type="checkbox" class="custom-control-input" id="{{artistCatList.Id}}"
                        fragment="artistEvents" (click)="navigateToSection('artistEvents')"
                        (change)="onSelectArtistCategory($event,artistCatList.Id)" [value]="artistCatList.Id">
                      <label class="custom-control-label"
                        for="{{artistCatList.Id}}">{{artistCatList.ArtistCategoryName}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 filter_block_star">
            <div class="accordion" id="filter">
  
              <div class="artist_category_block">
                <div class="card_header_block" id="headingThree">
                  <h2 class="mb-0 header_tab">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                      data-target="#collapseThree"> Filter by, Ratings</button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#filter">
                  <div class="card-body">
                    <div class="searchRating" (click)="searchEventByRating('4 star & Up')">
                      <star-rating value="4" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                      <span class="star_class">4 star & up</span> 
                    </div>
                    <div class="searchRating" (click)="searchEventByRating('3 star & Up')">
                      <star-rating value="3" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                      <span class="star_class">3 star & up</span> 
                    </div>
                    <div class="searchRating" (click)="searchEventByRating('2 star & Up')">
                      <star-rating value="2" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                      <span class="star_class">2 star & up</span> 
                    </div>
                    <div class="searchRating" (click)="searchEventByRating('1 star & Up')">
                      <star-rating value="1" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                      <span class="star_class">1 star & up</span> 
                    </div>   
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-10">

        <div class="col-md-12 panel" *ngIf="loginId != artistId">
          <div class="row">
            <div class="col-md-4">
              <div class="artist_details">
                <div class="userType">{{userType}}</div>
                <img class="artistImg" alt="Avatar"
                  [src]=" profileImageURL || '../../../assets/images/artist_default.jpg'" />
                <div class="artist_name">{{artistName}}</div>
                <div class="artist_rating">
                  <star-rating value="{{artistAverageRating.AverageRating}}" totalstars="5" checkedcolor="#28c7bf" uncheckedcolor="black" size="24px"
                    readonly="true"></star-rating>
                    <span title="User rating">({{usersRating}})</span>
                </div>
                <div class="artistCategory_name" *ngFor="let artsitCategory of artistCategoryList">
                  {{artsitCategory.ArtistCategoryName}}</div>
              </div>
            </div>
            <div class="col-md-8">
              <!-- <div class="user_details">  -->
              <div class="about_artist" title="{{aboutMe}}"> {{ (aboutMe.length>200)? 
              (aboutMe |titlecase | slice:0:200)+'...'
              :(aboutMe) }}</div>
              <!-- </div> -->
              <div class="artist_add_rating"><a  data-toggle="modal" data-target="#myArtistModal">Add Rating To Artist</a></div>
            </div>
          </div>
        </div>
        <!-- <div ngxUiLoaderBlurred> -->
        <div class="tab-pane active artist_event_list "><br>
          <div class="col-md-12">
            <div class="artist_upcomingEvents">Performing Events</div>
          </div>
          <div class="row">
            <div class="col-md-12 error_message" *ngIf="eventDataLength == 0">
              <div class="data_not_found"> <img src="../../../assets/images/data_not_found.jpg" class="" /></div>
            </div>          

            <div class="col-md-4" id="artistEvents"
              *ngFor="let eventData of eventDetails | paginate: { itemsPerPage: 6, currentPage: p1, id: 'first'}">
              <a routerLinkActive="active" class="card_artist_event_view" (click)="screenRedirect(eventData.Id,'upComing')">
                <div class="card ">
                  <div class="blog-box">
                    <div class="artist_card_images">
                      <div *ngIf="eventData.EventImageUrl != null; else defaultEventImage">
                        <img src="{{eventData.EventImageUrl}}" alt="blog1" />
                      </div>
                      <ng-template #defaultEventImage>
                        <img src="../../../assets/images/eventDetails_default.jpg" alt="blog1" />
                      </ng-template>
                    </div>
                    <h3 class="card_artist_text" title="{{eventData.EventName}}">
                      {{ (eventData.EventName.length>22)? (eventData.EventName | slice:0:22)+'...':(eventData.EventName)}}

                      <span *ngIf="organizerId == eventData.UserId && eventType == 'upComing' ">
                        <i class="fa fa-star start_icon" aria-hidden="true"></i>
                      </span>
                    </h3>

                    <div *ngIf="eventData.EventStart == eventData.EventEnd; else elseBlock">
                      <p class="artist_event_dates">
                        <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                        {{eventData.EventStart | date : 'MM/dd/yyyy' }}
                      </p>
                    </div>
                    <ng-template #elseBlock>
                      <p class="artist_event_dates">
                        <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                        {{eventData.EventStart | date : 'MM/dd/yyyy' }} To
                        {{eventData.EventEnd | date : 'MM/dd/yyyy'}}
                      </p>
                    </ng-template>

                    <div *ngIf="eventData.EventStart == eventData.EventEnd; else elseBlockTime">
                      <div class="event_dates_time">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{eventData.EventStart | date : 'shortTime'}} To {{eventData.EventEnd | date : 'shortTime'}}
                      </div>
                    </div>
                    <ng-template #elseBlockTime>
                      <div class="event_dates_time">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{ eventData.EventStart |date : 'shortTime'}} To {{ eventData.EventEnd |date : 'shortTime'}}
                      </div>
                    </ng-template>

                    <p class="artist_city_name">
                      <i class="fa fa-location-arrow" aria-hidden="true"></i>
                      {{eventData.CityName}},&nbsp;{{eventData.StateName}},&nbsp;{{eventData.CountryName}}</p>
                    <!-- <div class="artist_event_rating">
                    <star-rating value="3" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px"
                    readonly="true"></star-rating>
                    </div>  -->
                    <p class="artist_event_description" title="{{eventData.Description}}">
                      {{(eventData.Description.length>70)? (eventData.Description | slice:0:70)+'...': eventData.Description }}
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="align-self-end ml-auto" *ngIf="eventDataLength != 0">
              <pagination-controls (pageChange)="p1 = $event" id="first" directionLinks="true" autoHide="true" responsive="true"
                previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>

            
          </div>
          <div class="col-md-12">
            <div class="artist_upcomingEvents">Performed Events</div>
            <div class="row">
              <div class="col-md-12 error_message" *ngIf="artistPastEventDetailsLength == 0">
                <div class="data_not_found"> <img src="../../../assets/images/data_not_found.jpg" class="" /></div>
              </div>

              <div class="col-md-4" id="artistEvents"
              *ngFor="let artistPastEventData of artistPastEventDetails | paginate: { itemsPerPage: 6, currentPage: p2, id: 'second'}">
              <a routerLinkActive="active" class="card_artist_event_view" (click)="screenRedirect(artistPastEventData.Id,'past')">
                <div class="card ">
                  <div class="blog-box">
                    <div class="artist_card_images">
                      <div *ngIf="artistPastEventData.EventImageUrl != null; else defaultEventImage">
                        <img src="{{artistPastEventData.EventImageUrl}}" alt="blog1" />
                      </div>
                      <ng-template #defaultEventImage>
                        <img src="../../../assets/images/eventDetails_default.jpg" alt="blog1" />
                      </ng-template>
                    </div>
                    <h3 class="card_artist_text" title="{{artistPastEventData.EventName}}">
                      {{ (artistPastEventData.EventName.length>22)? (artistPastEventData.EventName | slice:0:22)+'...':(artistPastEventData.EventName)}}

                      <span *ngIf="organizerId == artistPastEventData.UserId && eventType == 'upComing' ">
                        <i class="fa fa-star start_icon" aria-hidden="true"></i>
                      </span>
                    </h3>

                    <div *ngIf="artistPastEventData.EventStart == artistPastEventData.EventEnd; else elseBlock">
                      <p class="artist_event_dates">
                        <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                        {{artistPastEventData.EventStart | date : 'MM/dd/yyyy' }}
                      </p>
                    </div>
                    <ng-template #elseBlock>
                      <p class="artist_event_dates">
                        <i class="fa fa-calendar-minus" aria-hidden="true"></i>
                        {{artistPastEventData.EventStart | date : 'MM/dd/yyyy' }} To
                        {{artistPastEventData.EventEnd | date : 'MM/dd/yyyy'}}
                      </p>
                    </ng-template>

                    <div *ngIf="artistPastEventData.EventStart == artistPastEventData.EventEnd; else elseBlockTime">
                      <div class="event_dates_time">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{artistPastEventData.EventStart | date : 'shortTime'}} To {{artistPastEventData.EventEnd | date : 'shortTime'}}
                      </div>
                    </div>
                    <ng-template #elseBlockTime>
                      <div class="event_dates_time">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{ artistPastEventData.EventStart |date : 'shortTime'}} To {{ artistPastEventData.EventEnd |date : 'shortTime'}}
                      </div>
                    </ng-template>

                    <p class="artist_city_name">
                      <i class="fa fa-location-arrow" aria-hidden="true"></i>
                      {{artistPastEventData.CityName}},&nbsp;{{artistPastEventData.StateName}},&nbsp;{{artistPastEventData.CountryName}}</p>
                    <div class="artist_event_rating">
                    <star-rating value="{{artistPastEventData.AverageRating}}" totalstars="5" checkedcolor="#dc3545" uncheckedcolor="black" size="24px"
                    readonly="true"></star-rating>
                    </div> 
                    <p class="artist_event_description" title="{{artistPastEventData.Description}}">
                      {{(artistPastEventData.Description.length>70)? (artistPastEventData.Description | slice:0:70)+'...': artistPastEventData.Description }}
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="align-self-end ml-auto" *ngIf="artistPastEventDetailsLength != 0">
              <pagination-controls (pageChange)="p2 = $event"  id="second" directionLinks="true" autoHide="true" responsive="true"
                previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>

            </div>
          </div>
        </div>
        <!-- </div> -->


        <!-- Modal -->
        <div id="myArtistModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Create Rating</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="rating_title">Overall rating</div>
                <p>
                  <star-rating value="{{artistRating}}" totalstars="5" checkedcolor="#28c7bf" uncheckedcolor="black" size="40px"
                    readonly="false" (rate)="onArtistRate($event)"></star-rating>
                </p>
                <div class="rating_error">{{artistRatingErrorMessage}}</div>
                <div style="margin-bottom: 15px;"><a type="button" class="btn btn-success rating_btn"
                    (click)="submitArtistRating()">Submit Rating</a></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal  end-->
      </div>
    </div>


  </div>
  
</div>
<!-- container end -->