.container-fluid{
    min-height: 100vh;
    height: auto;
    margin-bottom: 180px;
}
#filter{
    position: relative;
    /* top: 173px; */
}

.artistCategory_block{  
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}
.card_header_artist_block{
    /* border-bottom: 1px solid #dcdcdc;
    background-color: darkslateblue;
    border-right: 1px solid darkslateblue; */
    border-bottom: 1px solid #dcdcdc;
    background: transparent url('/assets/images/Warstwa3kopia.png') 0% 0% no-repeat padding-box;
    opacity: 1
}
.filter_block{
    padding: 0px;
    /* top: 170px; */
    margin: 165px 0 0;
}
.artist_event_list{
    position: relative;
    top: 180px;
}
.artist_event_list .event_dates_time{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    margin-top: -10px;
    font-family: Montserrat-Regular;
    color: #666;
}

.blog-box img{
    height: 149px;
}
.blog-box{
    margin-bottom: 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin-bottom: 30px;
  }

.active {
    background-color: 'aqua';
    color : #ffffff;
  }

  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color: #0000ff;
    border-color: #504e5b;
  }
 
.artist_event_description{
    height: 60px;
    text-align: left;
    margin: 10px;
    font-size: 15px;
    font-family: Montserrat-Regular;
    position: relative;
    top: -8px;
}


.text_title{
    color:#ffffff;  
    margin-top: 20px;
}
.advance_search_bt{
    color: #fff;
    cursor: pointer;
    margin-top: 6px;
}
.blog-box h3{
    margin: 10px 0 0 0!important;
    font-size: 16px;
}


:host >>> .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled{
    color: #cbcbcb!important;
}

.artist_card_images {
    height: 150px;
    border-bottom: 1px solid #dcdcdc;
    background: black;
   
}
.card_artist_text{
    font-size: 16px;
    height: 35px;
    margin: 10px 0px 0px;
    font-family: Montserrat-SemiBold;
    color: crimson;
}


.artist_event_dates {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-family: Montserrat-Regular;
}
.artist_upcomingEvents {
    color: #000000;
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: Montserrat-Bold;
}
.artist_city_name {
    text-align: left;
    padding: 0px 10px;
    font-size: 12px;
    font-family: Montserrat-Regular;
    font-style: normal;
    margin-top: 7px;
}
a.card_artist_event_view {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.start_icon{
    float: right;
    margin: 0px 10px;
    color: blueviolet;
}
 
:host >>> .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child{
    padding-left :0px
}
b.user_name {
    margin-left: 20px;
}

.artist_details img.artistImg {
    margin: 30px 0px 0px 0px;
    border-radius: 100px;
    height: 140px;
    width: 140px;
}
.artist_details .artistCategory_name {
    font-size: 16px;
    font-family: Montserrat-Regular;
    text-transform: capitalize;
    /* margin-bottom: 30px; */
}
.artist_details .artist_name {
    font-size: 18px;
    font-family: Montserrat-Bold;
    text-transform: capitalize;
}
.artist_details  .userType{
    position: relative;
    top: 22px;
    font-family: Montserrat-Bold;
    color: blueviolet;
}
.artist_add_rating{
    float: right;
    position: absolute;
    bottom: 5px;
    right: 8px;
    cursor: pointer;
}
.artist_event_rating{
    text-align: left;
    position: relative;
    top: -20px;
    left: 10px;
}
.rating_btn{
    background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box!important;
    box-shadow: 0px 5px 15px #6D99FF80 !important;
    border-radius: 25px !important;
    opacity: 1 !important;
    padding: 7px 27px!important;
    border-color: #3C6CDE!important;
    color: #fff!important;
}
.rating_error{
    position: absolute;
    top: 90px;
    left: 164px;
    font-size: 80%;
    color: #dc3545;
    font-family: Montserrat-Regular;
    font-weight: bold;
}
.rating_title{
    font-family: Montserrat-Regular;
    font-size: 16px;
}

.panel {
    /* padding: 0; */
    background-image: url('../../../assets/images/user_background1.jpg');
    /* background-repeat: no-repeat; */
    /* height: 275px; */
    position: relative;
    top: 166px;
}
.about_artist {
    margin-top: 40px;
    text-align: left;
    font-family: Montserrat-Regular;
    font-size: 16px;
    margin-bottom: 40px;
}
.custom-control{
    display: table;
    margin: 5px;
    font-size: 14px;
}
.artist_cat .custom-control{
    display: table;
    margin: 5px;
    font-size: 14px;
}
.card_header_artist_block .custom-control-label::after{
    top: 0.70rem;
}
.card_header_artist_block .custom-checkbox .custom-control-label::before{
    margin-top: 8px;
   
}
.btn-link{
    color: #FFFFFF;
    width: 224px;
}

/* radio button css start */
.filter_block_date{
    padding: 0px;
    position: relative;
    top: 166px;
}
.filter_block_date .artistCategory_block{  
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}

.filter_block_date .artistCategory_block{  
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}
.filter_block_date .card_header_artist_block{
    border-bottom: 1px solid #dcdcdc;
    background-color: darkslateblue;
    border-right: 1px solid darkslateblue;
} 

#headingThree {
    border-bottom: 1px solid #dcdcdc;
    background: transparent url('/assets/images/Warstwa3kopia.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.artist_rating {
    display: inline-flex;
}
.artist_rating span{
    margin-top: 7px;
    margin-left: 5px;
}
.artist_events_filter .filter_block_star {
    padding: 0;
    position: relative;    
}
.artist_events_filter .filter_block_star .card-body{
    padding:0;  
}
.filter_block_date .card-body{
    padding:0;
}
.filter_block .card-body{
    padding:0;
}
.artist_category_block{
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}


@media (max-width:1000px){
    .filter_block_date{
        top: 197px;
    }
    .filter_block{
        margin: 197px 0 0;
    }
}
@media (max-width:700px){
    .artist_event_list{
        top: 155px;
        
    }
}