.categoryWiseEvents .event_list{
    margin-top: 145px;
}

.categoryWiseEvents .assigned_rating {
    text-align: left;
    margin-left: 8px;
    position: relative;
    top: -17px;
}
.category_title {
    font-size: 20px;
    color: indianred;
    margin-bottom: 20px;
    font-family: Montserrat-SemiBold;
}

.categoryWiseEvents .desc {
    height: 50px;
    text-align: left;
    margin: 10px;
    font-size: 15px;
    font-family: Montserrat-Regular;
    position: relative;
    top: -20px;
}