<div class="container viewProfile">
  <div ngxUiLoaderBlurred>
    <div class="row">
      <div class=" heading userProfile col-md-4">
        <h4>My Profile</h4>
      </div>

    </div>
    <div class="row myProfile">
        <div class="col-md-2">
          <div class="profileCircle">

            <div *ngIf="viewProfileImage;else emptyImage">
              <img class="imagePreview" src={{viewProfileImage}} />
            </div>
            <ng-template #emptyImage>
              <img class="profileImage" src="assets/images/Avatar.svg">
            </ng-template>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div *ngIf="showArtist;else showOrganizerName">
            <div class=" row">
              <div class="row_data">
                <div class="allign"> Artist Name:</div>
                <div class="view_data ">{{UserData.FirstName |titlecase}}&nbsp;{{UserData.MiddleName |titlecase}}&nbsp;{{UserData.LastName |titlecase}}</div>
              </div>
            </div>
          </div>
          <!-- {{UserData.FirstName+' '+UserData.MiddleName+' '+UserData.LastName}} -->

          <ng-template #showOrganizerName>
            <div class=" row">
              <div class="row_data">
                <div class="allign"> Organizer Name:</div>
                <div class="view_data">{{UserData.FirstName |titlecase}}&nbsp;{{UserData.MiddleName |titlecase}}&nbsp;{{UserData.LastName |titlecase}}</div>
              </div>
            </div>
          </ng-template>

          <div class="row">
            <div class="row_data">
              <div class="allign "> Gender:</div>
              <div class="view_data"> {{UserData.Gender |titlecase}} </div>
            </div>

          </div>

          
          <div class="row ">
            <div class="row_data ">
              <div class="allign"> User Type:</div>
              <div class="view_data"> {{UserData.UserType |titlecase}} </div>
            </div>
          </div> 
          
          <div *ngIf="showArtist">
            <div class="row">
                <div class="row_data">
                    <div class="allign_artistCategory">Skill:</div>
                    <div class="view_artistCategory" *ngFor="let skillName of UserData.ArtistSkillsList;  let indx = index">{{indx+1}})&nbsp;{{skillName.SkillsName}} </div>
                  </div>
            </div>
        </div>

        </div>

        <div class="col-md-4">
          <div class="row ">
            <div class="row_data ">
              <div class="allign"> Email ID:</div>
              <div class="view_data">{{UserData.Email}}</div>
            </div>
          </div>


          <div class="row ">
            <div class="row_data ">
              <div class="allign"> Date of Birth:</div>
              <div class="view_data"> {{UserData.BirthDate | date : 'MM/dd/yyyy'}} </div>
            </div>
          </div>

          <div *ngIf="showArtist; else showOrganizationlabel">
            <div class="row">
                <div class="row_data">
                    <div class="allign_artistCategory"> Artist Category:</div>
                    <div class="view_artistCategory" *ngFor="let artsitCategory of UserData.ArtistCategoryList;  let idx = index">{{idx+1}})&nbsp;{{artsitCategory.ArtistCategoryName}} </div>
                  </div>
            </div>
          </div>
          <ng-template #showOrganizationlabel>
              <div class="row">
                  <div class="row_data">
                      <div class="allign"> Organization:</div>
                      <div class="view_data">{{UserData.Organization |titlecase}} </div>
                    </div>
              </div>
            </ng-template>
<!-- 
          <div class="row ">
              <div class="row_data ">
                <div class="allign"> User Type:</div>
                <div class="view_data"> {{UserData.UserType |titlecase}} </div>
              </div>
            </div>   -->

        </div>
        <div class="col-md-1"></div>

    </div>

    <div class="myProfile">

        <div class="row">
            <div class="heading about_me col-md-4">
              <h4>Location & About Me</h4>
            </div>
      
          </div>
          <div class="row" align="left">
      
            <div class="col-md-12">
              <div class="rowdata">
                <div class="allign about_me"> Address:</div>
                <div class="viewdata">
                    {{UserData.Address |titlecase}}
              
                </div>
              </div>
            </div>
          </div>
      
          <div class="row" align="left">
            <div class=" col-md-12">
              <div class=" rowdata">
                <div class="allign about_me">About Me:</div>
                <div class=" viewdata">
                  {{UserData.Description}}</div>
              </div>
            </div>
          </div>

    </div>
   
    <div class="row">
        <div class="heading about_me col-md-4">
          <h4>Contact Details</h4>
        </div>
  
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row ">
            <div class="row_info">
              <div class="allign_contactDetails"> Person Name:</div>
              <div class="view_data">{{UserData.ContactPerson |titlecase}} </div>
            </div>
  
          </div>
  
        </div>
        <div class="col-md-4">
          <div class="row ">
            <div class="row_info ">
              <div class="allign_number"> Contact Number:</div>
              <div class="view_data"> {{UserData.PhoneNumber}} </div>
            </div>
  
          </div>
  
        </div>
        <div class="col-md-4">
  
          <div class="row ">
            <div class="row_info ">
              <div class="allign_contactDetails">Contact Email:</div>
              <div class="view_email">{{UserData.ContactEmail}} </div>
            </div>
          </div>
        </div>
  
      </div>
  
   

    <div class="col-sm-12 col-md-12" align="center">
      <button class="saveProfile" (click)="editProfile()" type="submit">EDIT PROFILE</button>
    </div>
  </div>
  
</div>