.profileCircle{
  top: 0px;
  left: 0px;
  width: 176px;
  height: 165px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 55px #CBCBCB80;
  opacity: 1;
  margin-top: 34px;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
  display: contents;
    }

    .viewProfile{
      margin-top: 60px;
    }
    
    .profileCircle .imagePreview{
      width: 167px;
      height: 160px;
    border-radius: 50%;
    }
    

    
    .profileCircle .uploadArrow{
    top: 251px;
    left: 232px;
    width: 32px;
    height: 32px;
    opacity: 1;
    margin-left: 80%;
    margin-top: -49%;
    }
    

    
     input[type="text"]{
      background: transparent;
      border: none;
      border-bottom: 1px solid #EDF3FF;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
      opacity: 1;
      display: block;
      padding: 10px 0px 10px 30px;
      /* margin-top: 20px; */
      width: 273px;
      
    }

    .form-control{
      border:none;
    }
  

    .userDescription textarea.writeYourself{
      top: 200px;
      left: 15px;
      width: 1068px;
      height: 150px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 65px #CBCBCB80;
      border-radius: 10px;
      opacity: 1;
      Outline: none;
      border: none;
      margin-bottom: 20px;
      padding: 7px 0 114px 12px;
      margin-top: 30px;
      max-width: 100%;
      word-wrap: break-word;
      resize: none;
    }
    
    .saveProfile{
      top: 1011px;
      left: 195px;
      width: 162px;
      height: 50px;
      background: transparent linear-gradient(90deg, #6D99FF 0%, #3C6CDE 100%) 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 15px #6D99FF80;
    border-radius: 25px;
    opacity: 1;
    max-width: 100%;
    word-wrap: break-word;
    Outline: none;
    border: none;
   text-align: center;
   font-family: Montserrat-Bold;
   letter-spacing: 0;
   color: #FFFFFF;
   margin-bottom: 50px;
   margin-top: 50px;
  
    }


     .fields-align{
      max-width: 100%;
      word-wrap: break-word;
  }


.allign{
     
  text-align: left;
  font-family: Montserrat-Regular;
  font-size: 15px;
  width: 149px;
  font-weight: bold;

  /* display: table-cell; */
  /* width: 138px; */
}
.allign_artistCategory{
  text-align: left;
  font-family: Montserrat-Regular;
  font-size: 15px;
  width: 149px;
  display: table-cell;
  font-weight: bold;
}


.row.form-group.description {
  height: 152px;
}

.myProfile{
  border-bottom: 1px solid #CBCBCB;
    padding-bottom: 32px;
    word-break: break-word;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  /* line-height: 26px; */
  /* margin-bottom: 10px; */
}

input {
  height: 20px;
  flex: 0 0 250px;
  /* margin-left: 10px; */
}

.profileCircle .profileImage{
  top: 176px;
  left: 154px;
  width: 68px;
  height: 78px;
  opacity: 1;
  margin: 25%;
}

.location_icon{
  margin-top: 30px;
  /* padding: 40px 0 0 0; */
}
textarea#exampleFormControlTextarea2 {
  /* border: 0; */
  border-bottom: 1px solid #CBCBCB;
  font-size: 16px;
  padding-left:50px;
  margin-top: 30px;
}   

.input-icons i { 
  position: absolute; 
  z-index: 999;
} 
 ::placeholder{
  font-weight: bold;
  color: black;
}

.icon { 
  padding: 10px; 
  color:#CBCBCB;
  min-width: 50px; 
  text-align: center; 
} 
.view_data {
  font-family: Montserrat-Regular;
  font-size: 15px;
  display: table-cell;
  /* width: 280px; */
  text-align: left;
  /* width:120px; */
}
.view_artistCategory{
  font-family: Montserrat-Regular;
  font-size: 15px;
  text-align: left;
}

.view_email{
  font-family: Montserrat-Regular;
  font-size: 15px;
  display: table-cell;
  /* width: 280px; */
  text-align: left;
/* display:flex; */
word-break: break-word;
}
 .row_data{
  display: table;
  line-height: 35px;
  margin-top: 8px;
  margin-left: 10px;
  }

.viewdata{
  font-family: Montserrat-Regular;
  font-size: 15px;
  /* display: table-cell; */
  /* width: 280px; */
  text-align: left;
  

}
  .rowdata{
    display: table;
    line-height: 35px;
    margin-top: 8px;

  }
.allign_number{
  text-align: left;
  font-family: Montserrat-Regular;
  font-size: 15px;
  width: 151px;
  font-weight: bold;
}
.allign_contactDetails{
  text-align: left;
  font-family: Montserrat-Regular;
  font-size: 15px;
  width: 130px;
  font-weight: bold;
}
  .row_info{
    display: table;
    line-height: 35px;
    margin-top: 8px;
    margin-left: 18px;

  }

/* .heading{
  text-align: center;

} */



.userProfile {
  margin-top: 30px;
  text-align: left;
  margin-bottom: 10px;
}
 /* .about_me{
   padding-bottom: 20px;
 } */
  
/* @media(min-width:1000px){ */
  .about_me{
    text-align: left;
    margin-top: 20px;
}
 @media(max-width:300px) {
  .allign{
     
    text-align: left;
    font-family: Montserrat-Regular;
    font-size: 15px;
    width: 100px;
  
    /* width: 138px; */
  }
 }

 img.imagePreview {
  border: 2px solid #CBCBCB;
}

/* .person_name{
  padding-left: 60px;
}
.contact{
  padding-left:69px;

}
} */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .profileCircle{
    width: 167px;
    height: 160px;
  }
}

@media (min-width:768px) {
  .viewdata{
    display: table-cell;
  }
}