<div class="col-md-12 notification_banner">
  <div class="blur_banner">
    
  </div>

  <div class="container">
    <div ngxUiLoaderBlurred>
      <div class="row">
  dfsdfsdfsdf
      </div>
    </div>   
    
  </div>
</div>



